/*
  Functions
*/
/*
	Grid
*/
/*
	Typography
*/
/*
	Patterns
*/
.row, .header .inner, .main-nav ul {
  *zoom: 1; }
  .row:before, .header .inner:before, .main-nav ul:before, .row:after, .header .inner:after, .main-nav ul:after {
    display: table;
    content: ""; }
  .row:after, .header .inner:after, .main-nav ul:after {
    clear: both; }

/*
	User Interface Elements
*/
input[type="submit"],
button, .btn,
a.btn, .btn-secondary,
input.btn-secondary,
a.btn-secondary {
  border-radius: 5px;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all .22s ease-in-out;
  transition-property: background, color, border;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }
  input[type="submit"]:hover,
  button:hover, .btn:hover, .btn-secondary:hover, input[type="submit"]:visited,
  button:visited, .btn:visited, .btn-secondary:visited {
    text-decoration: none; }

.alert-box, .alert-box.error, .alert-box.success, .alert-box.notice {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1.5em;
  position: relative;
  padding: 0.875em 1.3125em; }
  .alert-box a:hover,
  .alert-box a:active,
  .alert-box a:focus {
    text-decoration: none; }
  .alert-box .close {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    display: block;
    line-height: 1;
    text-decoration: none; }
  .alert-box p, .alert-box.error p, .alert-box.success p, .alert-box.notice p {
    font-size: 1em;
    line-height: 1.75;
    padding-top: 0.4375em;
    padding-bottom: 0.4375em; }

/*
	Pagination mixin
*/
.pagination, .pagination-centered {
  width: 100%;
  overflow: hidden; }
  .pagination ul, .pagination-centered ul {
    margin: 1.5em 0; }
    .pagination ul li, .pagination-centered ul li, .pagination ul a, .pagination-centered ul a {
      display: block;
      float: left;
      zoom: 1; }

/*
	Reset
*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, main {
  display: block; }

/*
	Base
	---
	Default markup for the most common HTML elements, based on the settings file.
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #444444;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: 400 100%/1.5 sans-serif; }

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #444444; }

::-moz-selection {
  background-color: #444444;
  color: #eaeaea;
  text-shadow: none; }

::selection {
  background-color: #444444;
  color: #eaeaea;
  text-shadow: none; }

hr {
  border: 1px solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.5em; }

/*
	Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 4.2358em;
  line-height: 1.13615;
  padding-top: 0.30986em;
  padding-bottom: 0.30986em; }

h2 {
  font-size: 2.61792em;
  line-height: 1.16982;
  padding-top: 0.50135em;
  padding-bottom: 0.50135em; }

h3 {
  font-size: 1.618em;
  line-height: 1.35198;
  padding-top: 0.81119em;
  padding-bottom: 0.2704em; }

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 1.3125em;
  padding-bottom: 0.4375em; }

p,
ol,
ul,
dl,
table,
address,
pre {
  font-size: 1em;
  line-height: 1.75;
  padding-top: 0.4375em;
  padding-bottom: 0.875em; }

ul,
ol,
blockquote {
  padding-left: 1em; }

blockquote {
  font-style: italic; }

table {
  text-align: left;
  width: 100%;
  font-family: sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-bottom: 3.42857em; }

caption {
  font-family: sans-serif;
  text-align: left;
  border-bottom: 1px solid #c4c4c4;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em; }

td,
th {
  padding: .25em 1em .25em 0;
  border-bottom: 1px solid #f7f7f7; }

img {
  max-width: 100%; }

/*
 	Links
*/
a {
  text-decoration: none;
  color: red;
  transition: color .22s ease-in-out; }
  a:visited {
    color: #e60000; }
  a:hover {
    text-decoration: underline;
    color: #cc0000; }
  a:focus {
    outline: thin dotted;
    color: #cc0000; }
  a:hover, a:active {
    outline: 0; }

/*
	Fix a > img problem
*/
img {
  vertical-align: top;
  border: 0; }

/*
	Forms
*/
form {
  padding: 0 0 0.875em; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dddddd;
  color: #919191;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.46875em;
  padding-right: 0.46875em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    color: #444444;
    outline-color: #dddddd;
    border-color: #aaaaaa; }

textarea {
  height: auto; }

::-webkit-input-placeholder {
  font-family: sans-serif;
  font-style: italic; }

::-moz-placeholder {
  font-family: sans-serif;
  font-style: italic; }

:-ms-input-placeholder {
  font-family: sans-serif;
  font-style: italic; }

label {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 1.3125em;
  padding-bottom: 0.4375em; }

input[type="submit"],
button {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  border: 1px solid red;
  background-color: red;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: rgba(255, 232, 232, 0.91); }
  input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    border: 1px solid #d10000;
    background-color: #d10000; }
  input[type="submit"]:focus,
  button:focus {
    text-decoration: underline; }
  input[type="submit"]:active,
  button:active {
    background-color: #d10000;
    color: rgba(255, 232, 232, 0.91);
    box-shadow: none; }

@media (min-width: 42.5em) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    padding-left: 0.46875em;
    padding-right: 0.46875em;
    font-size: 1em;
    line-height: 1.3125;
    padding-top: 0.875em;
    padding-bottom: 0.875em; }

  input[type="submit"],
  button {
    padding-left: 1.40625em;
    padding-right: 1.40625em;
    font-size: 1em;
    line-height: 1.3125;
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    display: inline-block;
    width: auto; } }
@media (min-width: 75em) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    padding-left: 0.46875em;
    padding-right: 0.46875em;
    font-size: 1.618em;
    line-height: 1.08158;
    padding-top: 0.54079em;
    padding-bottom: 0.54079em; }

  input[type="submit"],
  button {
    padding-left: 1.875em;
    padding-right: 1.875em;
    font-size: 1.618em;
    line-height: 1.08158;
    padding-top: 0.54079em;
    padding-bottom: 0.54079em; } }
/*
	Responsive media embedding, like an iframe
*/
.media_embed {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.25em; }
  .media_embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

/*
	Upgrade message for old browsers (.lt-ie7)
*/
.chromeframe {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #444444;
  margin: 0;
  padding: 1em; }

/* Media Queries
------------------------------------------ */
@media (min-width: 75em) {
  html {
    font-size: 112.5%; } }
/*
	Frame
*/
.holder {
  padding-top: 1.5em;
  padding-bottom: 0em;
  background-color: white; }

.row {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }
  .row .row {
    padding: 0; }

/*
	Header
*/
.logo {
  float: left;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

.header .inner {
  border-bottom: 1px solid #dddddd; }

.main-nav {
  float: left;
  width: 100%; }
  .main-nav ul {
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em; }
  .main-nav a {
    color: #c4c4c4;
    text-decoration: none;
    font-weight: 700; }
  .main-nav a:hover,
  .main-nav .selected a {
    color: red; }

.mobile-nav .main-nav {
  display: none; }

.main-nav-trigger {
  display: block;
  float: right;
  width: 2.1em;
  height: 2.1em;
  text-indent: -9999px;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  background: #444444 url("../img/icon-menu.png") 50% no-repeat;
  background-size: auto; }
  .svg .main-nav-trigger {
    background: #444444 url("../img/icon-menu.svg") 50% no-repeat;
    background-size: auto; }

.svg .trigger-active,
.trigger-active {
  background-color: red; }

/*
	Doormat
*/
.doormat-holder {
  padding-bottom: 1.5em; }

/*
	Footer
*/
.footer-holder {
  background-color: #444444;
  color: #f7f7f7;
  padding-top: 1.5em; }

/* media queries
------------------------------------------ */
@media (min-width: 30em) {
  .row {
    padding: 0; }
    .row .row {
      margin-left: -30px;
      margin-right: -30px; }

  .header,
  .footer,
  .doormat-col-4 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 42.5em) {
  .logo {
    float: left;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em; }

  .header-holder {
    padding-top: 0em; }
    .header-holder .inner {
      padding-top: 1.5em;
      padding-bottom: 1.5em; }

  .mobile-nav .main-nav,
  .main-nav {
    display: block !important;
    width: auto;
    float: right; }
    .mobile-nav .main-nav ul,
    .main-nav ul {
      font-size: 0.875em;
      line-height: 1.71429em;
      margin-bottom: 0em; }
      .mobile-nav .main-nav ul li, .mobile-nav .main-nav ul a,
      .main-nav ul li,
      .main-nav ul a {
        display: block;
        float: left;
        zoom: 1; }
    .mobile-nav .main-nav li,
    .main-nav li {
      margin-left: 30px;
      margin-right: 0px; }

  .main-nav-trigger {
    display: none; }

  .intro-holder {
    padding-top: 3em; } }
@media (min-width: 60em) {
  .holder {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }

  .row {
    max-width: 1200px; }

  .header-holder {
    padding-top: 0em; }
    .header-holder .inner {
      padding-top: 3em;
      padding-bottom: 1.5em; }

  .header {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .doormat-holder {
    padding-bottom: 3em; }

  .footer-holder {
    padding-bottom: 0; }

  .footer {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .doormat-col-4 {
    width: 33.33333%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
/*
	Forms
	---
	Object-oriented classes for form-like elements.
*/
.btn,
a.btn {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  border: 1px solid red;
  background-color: red;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: rgba(255, 232, 232, 0.91); }
  .btn:hover, .btn:focus,
  a.btn:hover,
  a.btn:focus {
    border: 1px solid #d10000;
    background-color: #d10000; }
  .btn:focus,
  a.btn:focus {
    text-decoration: underline; }
  .btn:active,
  a.btn:active {
    background-color: #d10000;
    color: rgba(255, 232, 232, 0.91);
    box-shadow: none; }

.btn-secondary,
input.btn-secondary,
a.btn-secondary {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  border: 1px solid #cccccc;
  background-color: #cccccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: rgba(18, 18, 18, 0.91); }
  .btn-secondary:hover, .btn-secondary:focus,
  input.btn-secondary:hover,
  input.btn-secondary:focus,
  a.btn-secondary:hover,
  a.btn-secondary:focus {
    border: 1px solid #b5b5b5;
    background-color: #b5b5b5; }
  .btn-secondary:focus,
  input.btn-secondary:focus,
  a.btn-secondary:focus {
    text-decoration: underline; }
  .btn-secondary:active,
  input.btn-secondary:active,
  a.btn-secondary:active {
    background-color: #b5b5b5;
    color: rgba(18, 18, 18, 0.91);
    box-shadow: none; }

.error-label input,
.error-label textarea {
  border-color: red; }

.error-text {
  color: red; }

@media (min-width: 42.5em) {
  .btn,
  a.btn,
  .btn-secondary,
  input.btn-secondary,
  a.btn-secondary {
    padding-left: 1.40625em;
    padding-right: 1.40625em;
    font-size: 1em;
    line-height: 1.3125;
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    display: inline-block;
    width: auto; } }
@media (min-width: 75em) {
  .btn,
  a.btn,
  .btn-secondary,
  input.btn-secondary,
  a.btn-secondary {
    padding-left: 1.875em;
    padding-right: 1.875em;
    font-size: 1.618em;
    line-height: 1.08158;
    padding-top: 0.54079em;
    padding-bottom: 0.54079em; } }
/*
	User Content Defaults
*/
/*
	module: main
*/
/* media queries
------------------------------------------ */
@media (min-width: 30em) {
  .main-col-6 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 60em) {
  .main-col-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .main-content {
    width: 66.66667%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
/*
	module: intro
*/
.intro-holder {
  padding-top: 3em; }

.intro h1 {
  font-weight: 300; }
.intro p {
  font-style: italic; }

/* media queries
-------------------------------------- */
@media (min-width: 30em) {
  .intro {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 60em) {
  .intro-holder {
    padding-top: 3em; }

  .intro h1 {
    font-size: 4.5em;
    line-height: 1.16667em;
    margin-bottom: 0.33333em; } }
/*
	module: grid
*/
.grid-12 {
  margin-bottom: 1.5em; }
  .grid-12 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-11 {
  margin-bottom: 1.5em; }
  .grid-11 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-10 {
  margin-bottom: 1.5em; }
  .grid-10 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-9 {
  margin-bottom: 1.5em; }
  .grid-9 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-8 {
  margin-bottom: 1.5em; }
  .grid-8 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-7 {
  margin-bottom: 1.5em; }
  .grid-7 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-6 {
  margin-bottom: 1.5em; }
  .grid-6 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-5 {
  margin-bottom: 1.5em; }
  .grid-5 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-4 {
  margin-bottom: 1.5em; }
  .grid-4 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-3 {
  margin-bottom: 1.5em; }
  .grid-3 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-2 {
  margin-bottom: 1.5em; }
  .grid-2 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-1 {
  margin-bottom: 1.5em; }
  .grid-1 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

.grid-14 {
  margin-bottom: 1.5em; }
  .grid-14 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #dddddd;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em; }

.perc-3 {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
  margin-bottom: 1.5em; }
  .perc-3 .inner {
    padding: 1em;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-bottom: 0em;
    font-weight: 700;
    text-align: center;
    background-color: #dddddd; }

/* media queries
-------------------------------------- */
@media (min-width: 30em) {
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-14 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-6 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 42.5em) {
  .grid-3,
  .grid-4 {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; } }
@media (min-width: 60em) {
  .grid-1 {
    width: 8.33333%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-2 {
    width: 16.66667%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-3 {
    width: 25%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-4 {
    width: 33.33333%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-5 {
    width: 41.66667%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-7 {
    width: 58.33333%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-8 {
    width: 66.66667%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .grid-9 {
    width: 75%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px; }

  .perc-3 {
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left; }

  .push-left-3 {
    left: 25%; }

  .push-left-4 {
    left: 33.33333%; }

  .push-left-5 {
    left: 50%; }

  .push-left-6 {
    left: 50%; }

  .push-left-7 {
    left: 58.33333%; }

  .push-left-8 {
    left: 66.66667%; }

  .push-left-9 {
    left: 75%; }

  .pull-left-3 {
    left: -25%; }

  .pull-left-4 {
    left: -33.33333%; }

  .pull-left-5 {
    left: -41.66667%; }

  .pull-left-6 {
    left: -50%; }

  .pull-left-7 {
    left: -58.33333%; }

  .pull-left-8 {
    left: -66.66667%; }

  .pull-left-9 {
    left: -75%; }

  .last-col {
    margin-bottom: 0;
    float: right; } }
@media (min-width: 75em) {
  .grid-14 {
    width: 116.66667%;
    float: left;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    left: -16.66667%; } }
/*
	module: forms
*/
.example-form-grid .row {
  margin-left: -1.60256%;
  margin-right: -1.60256%; }
.example-form-grid p {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0; }

@media (min-width: 30em) {
  .example-form-grid p {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; }
  .example-form-grid p.street,
  .example-form-grid p.city {
    width: 66.66667%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; }
  .example-form-grid p.number,
  .example-form-grid p.zip-code {
    width: 33.33333%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; }
  .example-form-grid p.full-width {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px; }
  .example-form-grid .oneliner p.postfix {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 0px;
    padding-right: 15px; }
    .example-form-grid .oneliner p.postfix button {
      border-radius: 0 5px 5px 0;
      border-left: 0; }
  .example-form-grid .oneliner p.prefix {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 0px; }
    .example-form-grid .oneliner p.prefix input {
      border-radius: 5px 0 0 5px;
      border-right: 0; } }
/*
	module: UI
*/
/* Alerts */
.alert-box {
  border-color: #aaaaaa;
  background-color: #dddddd;
  color: rgba(19, 19, 19, 0.91); }
  .alert-box a {
    color: rgba(19, 19, 19, 0.91);
    text-decoration: underline; }

.alert-box.error {
  border-color: #8b0800;
  background-color: #d00c00;
  color: rgba(250, 233, 232, 0.91); }
  .alert-box.error a {
    color: rgba(250, 233, 232, 0.91); }

.alert-box.success {
  border-color: #4c721f;
  background-color: #72aa2e;
  color: rgba(242, 247, 236, 0.91); }
  .alert-box.success a {
    color: rgba(242, 247, 236, 0.91); }

.alert-box.notice {
  border-color: #e6901e;
  background-color: #ffe38a;
  color: rgba(22, 20, 12, 0.91); }
  .alert-box.notice a {
    color: rgba(22, 20, 12, 0.91); }

/* Pagination */
.pagination-centered .inner {
  float: left;
  position: relative;
  left: 50%; }
.pagination-centered ul {
  overflow: hidden;
  position: relative;
  left: -50%; }

@media print {
  /*
  	Print stylesheet
  */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #ccc;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
