/* Chopstick index --- Chopstick is a framework based on the [ITCSS](http://itcss.io/) architecture and a series of principles. It creates a structure to easily set-up and build bespoke web projects. --- The settings and tools layer don't compile any code. Therefore they get the number 0 and are put in single line comments. ---  0. Settings - settings.global - settings.breakpoints - settings.grid - settings.colors - settings.typography - settings.ms - settings.ui  0. Tools - tools.functions - tools.mixins - tools.grid - tools.spacing - tools.typography - tools.buttons - tools.inputs  1. Generic - generic.normalize - generic.reset - generic.box-sizing  2. Elements - elements.page - elements.typography - elements.images - elements.forms - elements.tables  3. Objects - objects.grid - objects.media - objects.media-embed  4. Components - components.navigation - components.brand - components.forms - components.holder - components.icons - components.alerts - components.buttons - components.pagination - components.styleguide - components.styleguide-syntax  5. Trumps - trumps.widths - trumps.push - trumps.spacing - trumps.colors - trumps.borders - trumps.states - trumps.shame - trumps.debug - trumps.baseline-grid - trumps.print */
/* 1. Generic */
/* Generic: normalize --- License: normalize.css v3.0.2 | MIT License | git.io/normalize
*/
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* Generic: reset --- Reset all HTML elements
*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, main { display: block; }

/* Generic: box sizing --- Taken from [Inuit CSS](https://github.com/inuitcss/generic.box-sizing) --- Set the global `box-sizing` state to `border-box`. css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice paulirish.com/2012/box-sizing-border-box-ftw
*/
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/* 2. Elements */
/* Elements: forms --- Default markup for page level elements
*/
html { font: 400 100%/1.5 sans-serif; -webkit-overflow-scrolling: touch; background-color: #222222; }
@media (min-width: 71.25em) { html { font-size: 112.5%; } }

body { -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; color: #111; }

::-moz-selection { background-color: #111; color: #b7b7b7; text-shadow: none; }

::selection { background-color: #111; color: #b7b7b7; text-shadow: none; }

/* Elements: forms --- Default markup for typographic elements
*/
h1, h2, h3, h4, h5, h6 { font-family: sans-serif; font-weight: 400; text-rendering: optimizelegibility; margin-bottom: 16px; margin-bottom: 1rem; }

h1 { font-size: 37px; font-size: 2.3125rem; line-height: 1.2973em; }

h2 { font-size: 28px; font-size: 1.75rem; line-height: 1.28571em; }

h3 { font-size: 21px; font-size: 1.3125rem; line-height: 1.42857em; }

h4, h5, h6 { font-weight: 700; font-size: 16px; font-size: 1rem; line-height: 1.5em; }

p, ol, ul, dl, table, address { font-size: 16px; font-size: 1rem; line-height: 1.5em; margin-bottom: 16px; margin-bottom: 1rem; }

pre { -moz-tab-size: 2; -o-tab-size: 2; tab-size: 2; }

ul, ol, blockquote { padding-left: 2em; }

blockquote { font-style: italic; }

caption { font-family: sans-serif; text-align: left; border-bottom: 1px solid #919191; font-weight: 700; text-align: center; padding-bottom: 16px; padding-bottom: 1rem; margin-bottom: 16px; margin-bottom: 1rem; }

small { font-size: 14px; font-size: 0.875rem; line-height: 1.71429em; margin-bottom: 24px; margin-bottom: 1.5rem; }

hr { border: 1px solid #d4d4d4; border-width: 1px 0 0; clear: both; margin-top: 0; margin-bottom: 16px; margin-bottom: 1rem; }

a { text-decoration: none; color: #0074D9; -webkit-transition: color .22s ease-in-out; transition: color .22s ease-in-out; }
a:visited { color: #0066c0; }
a:hover { text-decoration: underline; color: #0059a6; }
a:focus { outline: thin dotted; color: #0059a6; }
a:hover, a:active { outline: 0; }

/* Elements: forms --- Default markup for images
*/
img { max-width: 100%; vertical-align: top; border: 0; }

/* Elements: forms --- Default markup for the form elements
*/
fieldset { margin-bottom: 16px; margin-bottom: 1rem; }

legend, label { display: block; width: 100%; cursor: pointer; font-size: 16px; font-size: 1rem; line-height: 1.5em; padding-bottom: 4px; padding-bottom: 0.25rem; }

textarea { height: auto; resize: none; }

::-webkit-input-placeholder { font-family: sans-serif; font-style: italic; }

::-moz-placeholder { font-family: sans-serif; font-style: italic; }

:-ms-input-placeholder { font-family: sans-serif; font-style: italic; }

/* Elements: tables --- Default markup for tables
*/
table { text-align: left; width: 100%; font-family: sans-serif; border-spacing: 0; border-collapse: collapse; font-size: 14px; font-size: 0.875rem; line-height: 1.71429em; margin-bottom: 32px; margin-bottom: 2rem; }

tr { border-bottom: 1px solid #eaeaea; }

th, thead { display: none; }

td { display: block; padding: .25em 1em .25em 0; }
td:before { content: attr(headers) ": "; font-weight: bold; width: 50%; display: inline-block; }

@media (min-width: 30em) { thead { display: table-header-group; }
  th { display: table-cell; padding: .25em 1em .25em 0; }
  td { display: table-cell; }
  td:before { display: none; } }
/* 3. Objects */
/* Object: grid --- Grid system objects, works together with utility width classes
*/
.o-container { margin: 0 auto; max-width: 71.25em; }

.o-grid { *zoom: 1; }
.o-grid:before, .o-grid:after { display: table; content: ""; }
.o-grid:after { clear: both; }

.o-grid--gutter { margin-left: -16px; margin-right: -16px; margin-left: -1rem; margin-right: -1rem; }

.o-grid__item { float: left; width: 100%; }
.o-grid--gutter > .o-grid__item { padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; }

/* Object: media --- http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ --- The media object is an image to the left, with descriptive content to the right. Use a grid class to determine the size of the image. The content will take the remaining space. --- Example usage: <article class="media"> <div class="media__img grid-4"> <img src="http://placekitten.com/200/300" alt="placekitten" /> </div> <div class="media__body"> The media object is an image to the left, with descriptive content to the right. </div> </article>
*/
.o-media { *zoom: 1; }
.o-media:before, .o-media:after { display: table; content: ""; }
.o-media:after { clear: both; }

.o-media__img { float: left; padding-left: 0px; padding-right: 16px; padding-left: 0rem; padding-right: 1rem; margin-bottom: 16px; margin-bottom: 1rem; }
.o-media__img img { display: block; }

.o-media__img--reverse { float: right; padding-left: 16px; padding-right: 0px; padding-left: 1rem; padding-right: 0rem; }

.o-media__body { overflow: hidden; }

/* Object: Media embed --- Responsive media embedding object, for use with iframes
*/
.o-media-embed { width: 100%; height: 0; padding-bottom: 62.5%; position: relative; overflow: hidden; margin-bottom: 24px; margin-bottom: 1.5rem; }
.o-media-embed > iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/* Object: Navigation --- Navigation object with no bullets
*/
.o-nav { list-style: none; padding-left: 0; *zoom: 1; }
.o-nav:before, .o-nav:after { display: table; content: ""; }
.o-nav:after { clear: both; }

.o-nav__item, .o-nav__link { display: block; }
@media (min-width: 42.5em) { .o-nav--horizontal .o-nav__item, .o-nav--horizontal .o-nav__link { float: left; } }

/* Object: Inline list --- Inline list with no bullets
*/
.o-list-inline { list-style: none; padding-left: 0; }

.o-list-inline__item { display: inline-block; }

/* 4. Components */
/* Component: navigation --- Site navigation, breadcrumbs, etc.
*/
.c-nav-main { width: 100%; float: left; display: none; font-family: sans-serif; }
@media (min-width: 42.5em) { .c-nav-main { display: block; width: auto; float: right; } }
.c-nav-main.is-visible { display: block; }

.c-nav-main__list { border-top: 1px dotted #d3d9de; }
@media (min-width: 42.5em) { .c-nav-main__list { border-top: none; margin-bottom: 0; } }

.c-nav-main__item + .c-nav-main__item { border-top: 1px dotted #d3d9de; }
@media (min-width: 42.5em) { .c-nav-main__item + .c-nav-main__item { border-top: 0; margin-left: 32px; margin-right: 0px; margin-left: 2rem; margin-right: 0rem; } }

.c-nav-main__link { color: #919191; text-decoration: none; font-weight: 700; font-size: 16px; font-size: 1rem; line-height: 1.5em; padding-top: 4px; padding-top: 0.25rem; padding-bottom: 4px; padding-bottom: 0.25rem; }
@media (min-width: 42.5em) { .c-nav-main__link { padding-top: 20px; padding-bottom: 20px; padding-top: 1.25rem; padding-bottom: 1.25rem; } }
.c-nav-main__link:hover, .is-selected .c-nav-main__link { color: black; }

.c-nav-main-trigger { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: absolute; top: 1.5em; right: 1.5em; display: block; height: 2em; width: 2em; text-indent: -9999px; background-color: #111; background-repeat: no-repeat; background-position: 50%; font-size: 16px; font-size: 1rem; line-height: 1.5em; }
.svg .c-nav-main-trigger { background-image: url("../img/svg/icon-menu.svg"); }
@media (min-width: 42.5em) { .c-nav-main-trigger { display: none; } }
.c-nav-main-trigger.is-active { background-color: #0074D9; }

/* Components: brand --- Logo, brand elements, etc.
*/
.c-logo { float: left; font-family: sans-serif; font-weight: 400; margin-bottom: 0; font-size: 16px; font-size: 1rem; line-height: 1.5em; padding-top: 16px; padding-top: 1rem; padding-bottom: 16px; padding-bottom: 1rem; }
@media (min-width: 42.5em) { .c-logo { padding-top: 20px; padding-bottom: 20px; padding-top: 1.25rem; padding-bottom: 1.25rem; } }

.c-logo__link { display: block; text-decoration: none; color: #888888; }
.c-logo__link:hover, .c-logo__link:focus { color: #111; }

/* Component: forms --- Form styling, input sizes, etc.
*/
.c-input-text { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; font-smoothing: antialiased; background-color: #fff; border-radius: 5px; border: 1px solid #ddd; color: #5e5e5e; font-family: sans-serif; margin: 0; width: 100%; display: block; outline: none; line-height: normal; border-radius: 5px; padding-left: 12px; padding-right: 12px; padding-left: 0.75rem; padding-right: 0.75rem; font-size: 14px; font-size: 0.875rem; padding-top: 12px; padding-top: 0.75rem; padding-bottom: 12px; padding-bottom: 0.75rem; }
.c-input-text:focus { color: #111; border-color: #0074D9; box-shadow: 0 0 2px rgba(0, 116, 217, 0.5); }
.c-input-text.has-error { border: 1px solid #FF4136; }
.c-input-text.has-error:focus { border-color: #FF4136; box-shadow: 0 0 2px rgba(255, 65, 54, 0.5); }

.c-input-option { margin: 0; display: inline-block; vertical-align: middle; }

.c-input-text--sm { padding-left: 8px; padding-right: 8px; padding-left: 0.5rem; padding-right: 0.5rem; font-size: 12px; font-size: 0.75rem; padding-top: 8px; padding-top: 0.5rem; padding-bottom: 8px; padding-bottom: 0.5rem; }

.c-input-text--lg { padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; font-size: 16px; font-size: 1rem; padding-top: 16px; padding-top: 1rem; padding-bottom: 16px; padding-bottom: 1rem; }

.c-input-text--prefix { border-radius: 5px 0 0 5px; border-right: 0; }

.c-input-text.has-error { border: 1px solid #FF4136; }
.c-input-text.has-error:focus { border-color: #FF4136; box-shadow: 0 0 2px rgba(255, 65, 54, 0.5); }

.c-label { color: #888888; font-size: 14px; font-size: 0.875rem; line-height: 1.71429em; }
.c-label.has-error { color: #FF4136; }

.c-label--option { margin: 0; padding: 0; width: auto; display: inline-block; }

.c-alert-inline { display: block; text-align: right; font-size: 12px; font-size: 0.75rem; line-height: 2em; }

.c-alert-inline--error { color: #FF4136; }

/* Object: holder --- Creates a horizontal row with padding
*/
.c-holder { padding-top: 16px; padding-bottom: 0px; padding-top: 1rem; padding-bottom: 0rem; padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; }

.c-holder--alpha { background-color: #fff; }

.c-holder--beta { color: #c3c3c3; background-color: #222222; }

/* Component: icons --- Icons
*/
.c-icon { display: inline-block; width: 16px; height: 16px; position: relative; top: 1px; background-repeat: no-repeat; background-position: center top; font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.c-icon--toggle { background-image: url("../img/png/toggle--sprite.png"); }
.svg .c-icon--toggle { background-image: url("../img/svg/toggle--sprite.svg"); }
.is-toggled .c-icon--toggle { background-position: center -16px; }

/* Components: alerts --- Alert boxes
*/
.c-alert-box { position: relative; padding-top: 16px; padding-top: 1rem; padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; background-color: #ddd; border-color: #c6c6c6; border-style: solid; border-radius: 5px; border-width: 1px; color: #424242; margin-bottom: 16px; margin-bottom: 1rem; }
.c-alert-box .c-alert-box__link { color: #424242; }

.c-alert-box--error { background-color: #FF4136; border-color: #ff1608; border-style: solid; border-radius: 5px; border-width: 1px; color: #fff5f4; }
.c-alert-box--error .c-alert-box__link { color: #fff5f4; }

.c-alert-box--success { background-color: #2ECC40; border-color: #26a734; border-style: solid; border-radius: 5px; border-width: 1px; color: #0d3d13; }
.c-alert-box--success .c-alert-box__link { color: #0d3d13; }

.c-alert-box--notice { background-color: #FFDC00; border-color: #d1b400; border-style: solid; border-radius: 5px; border-width: 1px; color: #4c4200; }
.c-alert-box--notice .c-alert-box__link { color: #4c4200; }

.c-alert-box__link { text-decoration: underline; }
.c-alert-box__link:hover, .c-alert-box__link:focus { text-decoration: none; }

.c-alert-box__close { cursor: pointer; position: absolute; top: 0.25em; right: 0.5em; line-height: 1; text-decoration: none; }

/* Components: buttons --- Button sizes, styles, etc.
*/
.c-button { display: inline-block; margin: 0; text-align: center; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; border-radius: 5px; -webkit-transition: all .1s ease-in-out; transition: all .1s ease-in-out; -webkit-transition-property: background, color, border; transition-property: background, color, border; outline: none; line-height: normal; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-font-smoothing: antialiased; }
.c-button:hover, .c-button:focus { text-decoration: none; }
.c-button:active { outline: 0; background-image: none; }

.c-button--block { display: block; width: 100%; }

.c-button--fll { display: block; float: left; }

.c-button--flr { display: block; float: right; }

.c-button--sm { padding-left: 12px; padding-right: 12px; padding-left: 0.75rem; padding-right: 0.75rem; font-size: 12px; font-size: 0.75rem; padding-top: 8px; padding-top: 0.5rem; padding-bottom: 8px; padding-bottom: 0.5rem; }

.c-button--md { padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; font-size: 14px; font-size: 0.875rem; padding-top: 12px; padding-top: 0.75rem; padding-bottom: 12px; padding-bottom: 0.75rem; }

.c-button--lg { padding-left: 20px; padding-right: 20px; padding-left: 1.25rem; padding-right: 1.25rem; font-size: 16px; font-size: 1rem; padding-top: 16px; padding-top: 1rem; padding-bottom: 16px; padding-bottom: 1rem; }

.c-button--alpha { background-color: #0074D9; border-color: #0074D9; }
.c-button--alpha, .c-button--alpha:visited { color: #fff; }
.c-button--alpha:hover, .c-button--alpha:focus { background-color: #0d8eff; color: #fff; }
.c-button--alpha:active { background-color: #0074D9; }

.c-button--beta { background-color: #aaa; border-color: #aaa; }
.c-button--beta, .c-button--beta:visited { color: #fff; }
.c-button--beta:hover, .c-button--beta:focus { background-color: #c3c3c3; color: #fff; }
.c-button--beta:active { background-color: #aaa; }

.c-button--postfix { border-radius: 0 5px 5px 0; }

.c-button-group { position: relative; *zoom: 1; }
.c-button-group .c-button--fll { margin-right: 16px; margin-right: 1rem; }
.c-button-group .c-button--flr { margin-right: 16px; margin-right: 1rem; }
.c-button-group:before, .c-button-group:after { display: table; content: ""; }
.c-button-group:after { clear: both; }

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { border: 0; padding: 0; }

/* Component: pagination --- Pagination
*/
.c-pagination { border: 1px solid #ddd; }

.c-pagination--centered { text-align: center; }

.c-pagination__item + .c-pagination__item { border-left: 1px dotted #ddd; }

.c-pagination__link { display: block; padding-left: 4.8px; padding-right: 4.8px; padding-left: 0.3rem; padding-right: 0.3rem; padding-top: 4.8px; padding-bottom: 4.8px; padding-top: 0.3rem; padding-bottom: 0.3rem; }

/* Component: panels --- Panels, aka callout aka islands aka wells
*/
.c-panel { padding-top: 16px; padding-bottom: 0px; padding-top: 1rem; padding-bottom: 0rem; padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; margin-bottom: 16px; margin-bottom: 1rem; }

.c-panel--alpha { background-color: #ddd; border-color: #c6c6c6; border-style: solid; border-radius: 5px; border-width: 1px; color: #424242; }

/* Component: styleguide --- Styleguide specific scaffolding and demo styles
*/
.c-section-title { color: #888888; border-bottom: 1px solid #ddd; padding-bottom: 16px; padding-bottom: 1rem; padding-top: 16px; padding-top: 1rem; font-size: 16px; font-size: 1rem; line-height: 1.5em; margin-bottom: 32px; margin-bottom: 2rem; }

.c-scss { display: block; color: #111; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 5px; margin-top: 0px; margin-bottom: 16px; margin-top: 0rem; margin-bottom: 1rem; padding-top: 8px; padding-bottom: 8px; padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 16px; padding-right: 16px; padding-left: 1rem; padding-right: 1rem; }

.c-swatch { width: 100%; height: 60px; box-shadow: 0 0 1px 3px #fff, 0 0 5px 2px rgba(17, 17, 17, 0.33); }

.c-swatch-caption { color: #888888; min-height: 55px; font-size: 14px; font-size: 0.875rem; line-height: 1.37143em; padding-top: 8px; padding-top: 0.5rem; padding-bottom: 4.8px; padding-bottom: 0.3rem; }

.c-grid-test__item { background-color: #eff2f5; text-align: center; padding-top: 8px; padding-bottom: 8px; padding-top: 0.5rem; padding-bottom: 0.5rem; margin-top: 16px; margin-bottom: 16px; margin-top: 1rem; margin-bottom: 1rem; }

/* Component: styleguide syntax --- Solarized Dark For use with Jekyll and Pygments http://ethanschoonover.com/solarized
*/
.highlighttable { padding-top: 0px; padding-bottom: 0px; padding-top: 0rem; padding-bottom: 0rem; margin-top: 8px; margin-bottom: 8px; margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; overflow: auto; font-size: 90%; width: 100%; color: #111; border: 1px solid #ddd; border-radius: 5px; }

.linenos { padding-left: 8px; padding-right: 8px; padding-left: 0.5rem; padding-right: 0.5rem; color: #888888; background-color: #f7f7f7; border-right: 1px solid #ddd; }

.code { padding-left: 16px; padding-right: 0px; padding-left: 1rem; padding-right: 0rem; }

.highlight .c { color: #586e75; }

/* Comment */
.highlight .err { color: #93a1a1; }

/* Error */
.highlight .g { color: #93a1a1; }

/* Generic */
.highlight .k { color: #859900; }

/* Keyword */
.highlight .l { color: #93a1a1; }

/* Literal */
.highlight .n { color: #93a1a1; }

/* Name */
.highlight .o { color: #859900; }

/* Operator */
.highlight .x { color: #cb4b16; }

/* Other */
.highlight .p { color: #93a1a1; }

/* Punctuation */
.highlight .cm { color: #586e75; }

/* Comment.Multiline */
.highlight .cp { color: #859900; }

/* Comment.Preproc */
.highlight .c1 { color: #586e75; }

/* Comment.Single */
.highlight .cs { color: #859900; }

/* Comment.Special */
.highlight .gd { color: #2aa198; }

/* Generic.Deleted */
.highlight .ge { color: #93a1a1; font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #dc322f; }

/* Generic.Error */
.highlight .gh { color: #cb4b16; }

/* Generic.Heading */
.highlight .gi { color: #859900; }

/* Generic.Inserted */
.highlight .go { color: #93a1a1; }

/* Generic.Output */
.highlight .gp { color: #93a1a1; }

/* Generic.Prompt */
.highlight .gs { color: #93a1a1; font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: #cb4b16; }

/* Generic.Subheading */
.highlight .gt { color: #93a1a1; }

/* Generic.Traceback */
.highlight .kc { color: #cb4b16; }

/* Keyword.Constant */
.highlight .kd { color: #268bd2; }

/* Keyword.Declaration */
.highlight .kn { color: #859900; }

/* Keyword.Namespace */
.highlight .kp { color: #859900; }

/* Keyword.Pseudo */
.highlight .kr { color: #268bd2; }

/* Keyword.Reserved */
.highlight .kt { color: #dc322f; }

/* Keyword.Type */
.highlight .ld { color: #93a1a1; }

/* Literal.Date */
.highlight .m { color: #2aa198; }

/* Literal.Number */
.highlight .s { color: #2aa198; }

/* Literal.String */
.highlight .na { color: #93a1a1; }

/* Name.Attribute */
.highlight .nb { color: #B58900; }

/* Name.Builtin */
.highlight .nc { color: #268bd2; }

/* Name.Class */
.highlight .no { color: #cb4b16; }

/* Name.Constant */
.highlight .nd { color: #268bd2; }

/* Name.Decorator */
.highlight .ni { color: #cb4b16; }

/* Name.Entity */
.highlight .ne { color: #cb4b16; }

/* Name.Exception */
.highlight .nf { color: #268bd2; }

/* Name.Function */
.highlight .nl { color: #93a1a1; }

/* Name.Label */
.highlight .nn { color: #93a1a1; }

/* Name.Namespace */
.highlight .nx { color: #93a1a1; }

/* Name.Other */
.highlight .py { color: #93a1a1; }

/* Name.Property */
.highlight .nt { color: #268bd2; }

/* Name.Tag */
.highlight .nv { color: #268bd2; }

/* Name.Variable */
.highlight .ow { color: #859900; }

/* Operator.Word */
.highlight .w { color: #93a1a1; }

/* Text.Whitespace */
.highlight .mf { color: #2aa198; }

/* Literal.Number.Float */
.highlight .mh { color: #2aa198; }

/* Literal.Number.Hex */
.highlight .mi { color: #2aa198; }

/* Literal.Number.Integer */
.highlight .mo { color: #2aa198; }

/* Literal.Number.Oct */
.highlight .sb { color: #586e75; }

/* Literal.String.Backtick */
.highlight .sc { color: #2aa198; }

/* Literal.String.Char */
.highlight .sd { color: #93a1a1; }

/* Literal.String.Doc */
.highlight .s2 { color: #2aa198; }

/* Literal.String.Double */
.highlight .se { color: #cb4b16; }

/* Literal.String.Escape */
.highlight .sh { color: #93a1a1; }

/* Literal.String.Heredoc */
.highlight .si { color: #2aa198; }

/* Literal.String.Interpol */
.highlight .sx { color: #2aa198; }

/* Literal.String.Other */
.highlight .sr { color: #dc322f; }

/* Literal.String.Regex */
.highlight .s1 { color: #2aa198; }

/* Literal.String.Single */
.highlight .ss { color: #2aa198; }

/* Literal.String.Symbol */
.highlight .bp { color: #268bd2; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2; }

/* Name.Variable.Class */
.highlight .vg { color: #268bd2; }

/* Name.Variable.Global */
.highlight .vi { color: #268bd2; }

/* Name.Variable.Instance */
.highlight .il { color: #2aa198; }

/* Literal.Number.Integer.Long */
/* 5. Trumps */
/* Trumps: Widths --- Width utility classes
*/
.u-1-of-2 { width: 50% !important; }

.u-2-of-2 { width: 100% !important; }

.u-1-of-3 { width: 33.33333% !important; }

.u-2-of-3 { width: 66.66667% !important; }

.u-3-of-3 { width: 100% !important; }

.u-1-of-4 { width: 25% !important; }

.u-2-of-4 { width: 50% !important; }

.u-3-of-4 { width: 75% !important; }

.u-4-of-4 { width: 100% !important; }

.u-1-of-5 { width: 20% !important; }

.u-2-of-5 { width: 40% !important; }

.u-3-of-5 { width: 60% !important; }

.u-4-of-5 { width: 80% !important; }

.u-5-of-5 { width: 100% !important; }

.u-1-of-6 { width: 16.66667% !important; }

.u-2-of-6 { width: 33.33333% !important; }

.u-3-of-6 { width: 50% !important; }

.u-4-of-6 { width: 66.66667% !important; }

.u-5-of-6 { width: 83.33333% !important; }

.u-6-of-6 { width: 100% !important; }

@media (min-width: 20em) { .u-1-of-2-bp1 { width: 50% !important; }
  .u-2-of-2-bp1 { width: 100% !important; }
  .u-1-of-3-bp1 { width: 33.33333% !important; }
  .u-2-of-3-bp1 { width: 66.66667% !important; }
  .u-3-of-3-bp1 { width: 100% !important; }
  .u-1-of-4-bp1 { width: 25% !important; }
  .u-2-of-4-bp1 { width: 50% !important; }
  .u-3-of-4-bp1 { width: 75% !important; }
  .u-4-of-4-bp1 { width: 100% !important; }
  .u-1-of-5-bp1 { width: 20% !important; }
  .u-2-of-5-bp1 { width: 40% !important; }
  .u-3-of-5-bp1 { width: 60% !important; }
  .u-4-of-5-bp1 { width: 80% !important; }
  .u-5-of-5-bp1 { width: 100% !important; }
  .u-1-of-6-bp1 { width: 16.66667% !important; }
  .u-2-of-6-bp1 { width: 33.33333% !important; }
  .u-3-of-6-bp1 { width: 50% !important; }
  .u-4-of-6-bp1 { width: 66.66667% !important; }
  .u-5-of-6-bp1 { width: 83.33333% !important; }
  .u-6-of-6-bp1 { width: 100% !important; } }
@media (min-width: 30em) { .u-1-of-2-bp2 { width: 50% !important; }
  .u-2-of-2-bp2 { width: 100% !important; }
  .u-1-of-3-bp2 { width: 33.33333% !important; }
  .u-2-of-3-bp2 { width: 66.66667% !important; }
  .u-3-of-3-bp2 { width: 100% !important; }
  .u-1-of-4-bp2 { width: 25% !important; }
  .u-2-of-4-bp2 { width: 50% !important; }
  .u-3-of-4-bp2 { width: 75% !important; }
  .u-4-of-4-bp2 { width: 100% !important; }
  .u-1-of-5-bp2 { width: 20% !important; }
  .u-2-of-5-bp2 { width: 40% !important; }
  .u-3-of-5-bp2 { width: 60% !important; }
  .u-4-of-5-bp2 { width: 80% !important; }
  .u-5-of-5-bp2 { width: 100% !important; }
  .u-1-of-6-bp2 { width: 16.66667% !important; }
  .u-2-of-6-bp2 { width: 33.33333% !important; }
  .u-3-of-6-bp2 { width: 50% !important; }
  .u-4-of-6-bp2 { width: 66.66667% !important; }
  .u-5-of-6-bp2 { width: 83.33333% !important; }
  .u-6-of-6-bp2 { width: 100% !important; } }
@media (min-width: 42.5em) { .u-1-of-2-bp3 { width: 50% !important; }
  .u-2-of-2-bp3 { width: 100% !important; }
  .u-1-of-3-bp3 { width: 33.33333% !important; }
  .u-2-of-3-bp3 { width: 66.66667% !important; }
  .u-3-of-3-bp3 { width: 100% !important; }
  .u-1-of-4-bp3 { width: 25% !important; }
  .u-2-of-4-bp3 { width: 50% !important; }
  .u-3-of-4-bp3 { width: 75% !important; }
  .u-4-of-4-bp3 { width: 100% !important; }
  .u-1-of-5-bp3 { width: 20% !important; }
  .u-2-of-5-bp3 { width: 40% !important; }
  .u-3-of-5-bp3 { width: 60% !important; }
  .u-4-of-5-bp3 { width: 80% !important; }
  .u-5-of-5-bp3 { width: 100% !important; }
  .u-1-of-6-bp3 { width: 16.66667% !important; }
  .u-2-of-6-bp3 { width: 33.33333% !important; }
  .u-3-of-6-bp3 { width: 50% !important; }
  .u-4-of-6-bp3 { width: 66.66667% !important; }
  .u-5-of-6-bp3 { width: 83.33333% !important; }
  .u-6-of-6-bp3 { width: 100% !important; } }
@media (min-width: 60em) { .u-1-of-2-bp4 { width: 50% !important; }
  .u-2-of-2-bp4 { width: 100% !important; }
  .u-1-of-3-bp4 { width: 33.33333% !important; }
  .u-2-of-3-bp4 { width: 66.66667% !important; }
  .u-3-of-3-bp4 { width: 100% !important; }
  .u-1-of-4-bp4 { width: 25% !important; }
  .u-2-of-4-bp4 { width: 50% !important; }
  .u-3-of-4-bp4 { width: 75% !important; }
  .u-4-of-4-bp4 { width: 100% !important; }
  .u-1-of-5-bp4 { width: 20% !important; }
  .u-2-of-5-bp4 { width: 40% !important; }
  .u-3-of-5-bp4 { width: 60% !important; }
  .u-4-of-5-bp4 { width: 80% !important; }
  .u-5-of-5-bp4 { width: 100% !important; }
  .u-1-of-6-bp4 { width: 16.66667% !important; }
  .u-2-of-6-bp4 { width: 33.33333% !important; }
  .u-3-of-6-bp4 { width: 50% !important; }
  .u-4-of-6-bp4 { width: 66.66667% !important; }
  .u-5-of-6-bp4 { width: 83.33333% !important; }
  .u-6-of-6-bp4 { width: 100% !important; } }
@media (min-width: 71.25em) { .u-1-of-2-bp5 { width: 50% !important; }
  .u-2-of-2-bp5 { width: 100% !important; }
  .u-1-of-3-bp5 { width: 33.33333% !important; }
  .u-2-of-3-bp5 { width: 66.66667% !important; }
  .u-3-of-3-bp5 { width: 100% !important; }
  .u-1-of-4-bp5 { width: 25% !important; }
  .u-2-of-4-bp5 { width: 50% !important; }
  .u-3-of-4-bp5 { width: 75% !important; }
  .u-4-of-4-bp5 { width: 100% !important; }
  .u-1-of-5-bp5 { width: 20% !important; }
  .u-2-of-5-bp5 { width: 40% !important; }
  .u-3-of-5-bp5 { width: 60% !important; }
  .u-4-of-5-bp5 { width: 80% !important; }
  .u-5-of-5-bp5 { width: 100% !important; }
  .u-1-of-6-bp5 { width: 16.66667% !important; }
  .u-2-of-6-bp5 { width: 33.33333% !important; }
  .u-3-of-6-bp5 { width: 50% !important; }
  .u-4-of-6-bp5 { width: 66.66667% !important; }
  .u-5-of-6-bp5 { width: 83.33333% !important; }
  .u-6-of-6-bp5 { width: 100% !important; } }
/* Trumps: Push --- Push elements
*/
.u-push-1-of-2 { margin-left: 50% !important; }

.u-push-2-of-2 { margin-left: 100% !important; }

.u-push-1-of-3 { margin-left: 33.33333% !important; }

.u-push-2-of-3 { margin-left: 66.66667% !important; }

.u-push-3-of-3 { margin-left: 100% !important; }

.u-push-1-of-4 { margin-left: 25% !important; }

.u-push-2-of-4 { margin-left: 50% !important; }

.u-push-3-of-4 { margin-left: 75% !important; }

.u-push-4-of-4 { margin-left: 100% !important; }

.u-push-1-of-5 { margin-left: 20% !important; }

.u-push-2-of-5 { margin-left: 40% !important; }

.u-push-3-of-5 { margin-left: 60% !important; }

.u-push-4-of-5 { margin-left: 80% !important; }

.u-push-5-of-5 { margin-left: 100% !important; }

.u-push-1-of-6 { margin-left: 16.66667% !important; }

.u-push-2-of-6 { margin-left: 33.33333% !important; }

.u-push-3-of-6 { margin-left: 50% !important; }

.u-push-4-of-6 { margin-left: 66.66667% !important; }

.u-push-5-of-6 { margin-left: 83.33333% !important; }

.u-push-6-of-6 { margin-left: 100% !important; }

@media (min-width: 20em) { .u-push-1-of-2-bp1 { margin-left: 50% !important; }
  .u-push-2-of-2-bp1 { margin-left: 100% !important; }
  .u-push-1-of-3-bp1 { margin-left: 33.33333% !important; }
  .u-push-2-of-3-bp1 { margin-left: 66.66667% !important; }
  .u-push-3-of-3-bp1 { margin-left: 100% !important; }
  .u-push-1-of-4-bp1 { margin-left: 25% !important; }
  .u-push-2-of-4-bp1 { margin-left: 50% !important; }
  .u-push-3-of-4-bp1 { margin-left: 75% !important; }
  .u-push-4-of-4-bp1 { margin-left: 100% !important; }
  .u-push-1-of-5-bp1 { margin-left: 20% !important; }
  .u-push-2-of-5-bp1 { margin-left: 40% !important; }
  .u-push-3-of-5-bp1 { margin-left: 60% !important; }
  .u-push-4-of-5-bp1 { margin-left: 80% !important; }
  .u-push-5-of-5-bp1 { margin-left: 100% !important; }
  .u-push-1-of-6-bp1 { margin-left: 16.66667% !important; }
  .u-push-2-of-6-bp1 { margin-left: 33.33333% !important; }
  .u-push-3-of-6-bp1 { margin-left: 50% !important; }
  .u-push-4-of-6-bp1 { margin-left: 66.66667% !important; }
  .u-push-5-of-6-bp1 { margin-left: 83.33333% !important; }
  .u-push-6-of-6-bp1 { margin-left: 100% !important; } }
@media (min-width: 30em) { .u-push-1-of-2-bp2 { margin-left: 50% !important; }
  .u-push-2-of-2-bp2 { margin-left: 100% !important; }
  .u-push-1-of-3-bp2 { margin-left: 33.33333% !important; }
  .u-push-2-of-3-bp2 { margin-left: 66.66667% !important; }
  .u-push-3-of-3-bp2 { margin-left: 100% !important; }
  .u-push-1-of-4-bp2 { margin-left: 25% !important; }
  .u-push-2-of-4-bp2 { margin-left: 50% !important; }
  .u-push-3-of-4-bp2 { margin-left: 75% !important; }
  .u-push-4-of-4-bp2 { margin-left: 100% !important; }
  .u-push-1-of-5-bp2 { margin-left: 20% !important; }
  .u-push-2-of-5-bp2 { margin-left: 40% !important; }
  .u-push-3-of-5-bp2 { margin-left: 60% !important; }
  .u-push-4-of-5-bp2 { margin-left: 80% !important; }
  .u-push-5-of-5-bp2 { margin-left: 100% !important; }
  .u-push-1-of-6-bp2 { margin-left: 16.66667% !important; }
  .u-push-2-of-6-bp2 { margin-left: 33.33333% !important; }
  .u-push-3-of-6-bp2 { margin-left: 50% !important; }
  .u-push-4-of-6-bp2 { margin-left: 66.66667% !important; }
  .u-push-5-of-6-bp2 { margin-left: 83.33333% !important; }
  .u-push-6-of-6-bp2 { margin-left: 100% !important; } }
@media (min-width: 42.5em) { .u-push-1-of-2-bp3 { margin-left: 50% !important; }
  .u-push-2-of-2-bp3 { margin-left: 100% !important; }
  .u-push-1-of-3-bp3 { margin-left: 33.33333% !important; }
  .u-push-2-of-3-bp3 { margin-left: 66.66667% !important; }
  .u-push-3-of-3-bp3 { margin-left: 100% !important; }
  .u-push-1-of-4-bp3 { margin-left: 25% !important; }
  .u-push-2-of-4-bp3 { margin-left: 50% !important; }
  .u-push-3-of-4-bp3 { margin-left: 75% !important; }
  .u-push-4-of-4-bp3 { margin-left: 100% !important; }
  .u-push-1-of-5-bp3 { margin-left: 20% !important; }
  .u-push-2-of-5-bp3 { margin-left: 40% !important; }
  .u-push-3-of-5-bp3 { margin-left: 60% !important; }
  .u-push-4-of-5-bp3 { margin-left: 80% !important; }
  .u-push-5-of-5-bp3 { margin-left: 100% !important; }
  .u-push-1-of-6-bp3 { margin-left: 16.66667% !important; }
  .u-push-2-of-6-bp3 { margin-left: 33.33333% !important; }
  .u-push-3-of-6-bp3 { margin-left: 50% !important; }
  .u-push-4-of-6-bp3 { margin-left: 66.66667% !important; }
  .u-push-5-of-6-bp3 { margin-left: 83.33333% !important; }
  .u-push-6-of-6-bp3 { margin-left: 100% !important; } }
@media (min-width: 60em) { .u-push-1-of-2-bp4 { margin-left: 50% !important; }
  .u-push-2-of-2-bp4 { margin-left: 100% !important; }
  .u-push-1-of-3-bp4 { margin-left: 33.33333% !important; }
  .u-push-2-of-3-bp4 { margin-left: 66.66667% !important; }
  .u-push-3-of-3-bp4 { margin-left: 100% !important; }
  .u-push-1-of-4-bp4 { margin-left: 25% !important; }
  .u-push-2-of-4-bp4 { margin-left: 50% !important; }
  .u-push-3-of-4-bp4 { margin-left: 75% !important; }
  .u-push-4-of-4-bp4 { margin-left: 100% !important; }
  .u-push-1-of-5-bp4 { margin-left: 20% !important; }
  .u-push-2-of-5-bp4 { margin-left: 40% !important; }
  .u-push-3-of-5-bp4 { margin-left: 60% !important; }
  .u-push-4-of-5-bp4 { margin-left: 80% !important; }
  .u-push-5-of-5-bp4 { margin-left: 100% !important; }
  .u-push-1-of-6-bp4 { margin-left: 16.66667% !important; }
  .u-push-2-of-6-bp4 { margin-left: 33.33333% !important; }
  .u-push-3-of-6-bp4 { margin-left: 50% !important; }
  .u-push-4-of-6-bp4 { margin-left: 66.66667% !important; }
  .u-push-5-of-6-bp4 { margin-left: 83.33333% !important; }
  .u-push-6-of-6-bp4 { margin-left: 100% !important; } }
@media (min-width: 71.25em) { .u-push-1-of-2-bp5 { margin-left: 50% !important; }
  .u-push-2-of-2-bp5 { margin-left: 100% !important; }
  .u-push-1-of-3-bp5 { margin-left: 33.33333% !important; }
  .u-push-2-of-3-bp5 { margin-left: 66.66667% !important; }
  .u-push-3-of-3-bp5 { margin-left: 100% !important; }
  .u-push-1-of-4-bp5 { margin-left: 25% !important; }
  .u-push-2-of-4-bp5 { margin-left: 50% !important; }
  .u-push-3-of-4-bp5 { margin-left: 75% !important; }
  .u-push-4-of-4-bp5 { margin-left: 100% !important; }
  .u-push-1-of-5-bp5 { margin-left: 20% !important; }
  .u-push-2-of-5-bp5 { margin-left: 40% !important; }
  .u-push-3-of-5-bp5 { margin-left: 60% !important; }
  .u-push-4-of-5-bp5 { margin-left: 80% !important; }
  .u-push-5-of-5-bp5 { margin-left: 100% !important; }
  .u-push-1-of-6-bp5 { margin-left: 16.66667% !important; }
  .u-push-2-of-6-bp5 { margin-left: 33.33333% !important; }
  .u-push-3-of-6-bp5 { margin-left: 50% !important; }
  .u-push-4-of-6-bp5 { margin-left: 66.66667% !important; }
  .u-push-5-of-6-bp5 { margin-left: 83.33333% !important; }
  .u-push-6-of-6-bp5 { margin-left: 100% !important; } }
/* Trumps: Spacing --- Utility classes for spacing
*/
.u-mb0 { margin-bottom: 0; }

.u-mb0_5 { margin-bottom: 8px; margin-bottom: 0.5rem; }

.u-mb1 { margin-bottom: 16px; margin-bottom: 1rem; }

.u-mb2 { margin-bottom: 32px; margin-bottom: 2rem; }

.u-pb0 { padding-bottom: 0; }

.u-pb0_5 { padding-bottom: 8px; padding-bottom: 0.5rem; }

.u-pb1 { padding-bottom: 16px; padding-bottom: 1rem; }

.u-pb2 { padding-bottom: 32px; padding-bottom: 2rem; }

.u-pt0 { padding-top: 0; }

.u-pt0_5 { padding-top: 8px; padding-top: 0.5rem; }

.u-pt1 { padding-top: 16px; padding-top: 1rem; }

.u-pt2 { padding-top: 32px; padding-top: 2rem; }

/* Trumps: Colors --- Background color utilities
*/
.u-bgcolor-alpha-neutral { background-color: #fff; }

.u-bgcolor-beta-neutral { background-color: #111; }

.u-bgcolor-alpha-text { background-color: #111; }

.u-bgcolor-alpha-text-light { background-color: #888888; }

.u-bgcolor-alpha-text-dark { background-color: #111111; }

.u-bgcolor-beta-text { background-color: #888888; }

.u-bgcolor-beta-text-light { background-color: #c3c3c3; }

.u-bgcolor-beta-text-dark { background-color: #4c4c4c; }

.u-bgcolor-alpha-ui { background-color: #0074D9; }

.u-bgcolor-alpha-ui-light { background-color: #7fb9ec; }

.u-bgcolor-alpha-ui-dark { background-color: #084275; }

.u-bgcolor-beta-ui { background-color: #aaa; }

.u-bgcolor-beta-ui-light { background-color: #d4d4d4; }

.u-bgcolor-beta-ui-dark { background-color: #5d5d5d; }

.u-bgcolor-gamma-ui { background-color: #ddd; }

.u-bgcolor-gamma-ui-light { background-color: #eeeeee; }

.u-bgcolor-gamma-ui-dark { background-color: #777777; }

.u-bgcolor-delta-ui { background-color: #fff; }

.u-bgcolor-delta-ui-light { background-color: white; }

.u-bgcolor-delta-ui-dark { background-color: #888888; }

.u-bgcolor-alpha-link { background-color: #0074D9; }

.u-bgcolor-alpha-link-hover { background-color: #0059a6; }

.u-bgcolor-alpha-link-focus { background-color: #0059a6; }

.u-bgcolor-alpha-link-active { background-color: #0d8eff; }

.u-bgcolor-alpha-link-visited { background-color: #0066c0; }

.u-bgcolor-grey-00 { background-color: #67747e; }

.u-bgcolor-grey-01 { background-color: #818d98; }

.u-bgcolor-grey-02 { background-color: #98a7b3; }

.u-bgcolor-grey-03 { background-color: #b6c0c9; }

.u-bgcolor-grey-04 { background-color: #d3d9de; }

.u-bgcolor-grey-05 { background-color: #eff2f5; }

/* Trumps: Borders --- Borders that could be used to create dividers between elements.
*/
.u-border { border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.u-border-lr { border-left: 1px solid #ddd; border-right: 1px solid #ddd; }

.u-border-top { border-top: 1px solid #ddd; }

.u-border-bottom { border-bottom: 1px solid #ddd; }

.u-border-tb { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

/* States --- Component states
*/
.is-hidden { display: none !important; }

/* Trumps: Shame --- Hacks
*/
.gmap img { max-width: none !important; }

/* Trumps: Debug --- _debug.css is used from Inuit.css Framework https://github.com/csswizardry/inuit.css
*/
/* endif */
/* Trumps: Baseline grid --- This can be toggled in the _settings.scss file (default is false) There are also options to set the color of the grid and the classname (default is '.holder') (inspired by the baseline grid in OOCSS --> http://bit.ly/PF6NhY)
*/
/* Trumps: Print --- Print stylesheet
*/
@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; -webkit-filter: none !important; filter: none !important; }
  @page { margin: 0.5cm; }
  h2, h3 { orphans: 3; widows: 3; page-break-after: avoid; }
  p { orphans: 3; widows: 3; }
  pre, blockquote { border: 1px solid #ccc; page-break-inside: avoid; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  img { max-width: 100% !important; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr { page-break-inside: avoid; } }



/*# sourceMappingURL=screen.css.map */