/*
	module: grid
*/

@while $contextGridColumns > 0 {
	.grid-#{$contextGridColumns} {
		@include margin-bottom(1);

		.inner {
			padding: 1em;
			font-family: $alpha-font-family;
			@include text-dimensions(14,1,0);
			font-weight: $beta-font-weight;
			text-align: center;
			background-color: $gamma-ui-color;
		}
	}
	$contextGridColumns: $contextGridColumns - 1;
}

.grid-14 {
	@include margin-bottom(1);

	.inner {
		padding: 1em;
		font-family: $alpha-font-family;
		font-weight: bold;
		text-align: center;
		background-color: $gamma-ui-color;
		@include text-dimensions(14,1,0);
	}
}

.perc-3 {
	@include perc-col-(12,1,1);
	@include margin-bottom(1);

	.inner {
		padding: 1em;
		font-family: $alpha-font-family;
		@include text-dimensions(14,1,0);
		font-weight: $beta-font-weight;
		text-align: center;
		background-color: $gamma-ui-color;
	}

}

/* media queries
-------------------------------------- */

@media (min-width: $bp2) {

	.grid-3,
	.grid-4,
	.grid-5,
	.grid-7,
	.grid-8,
	.grid-9,
	.grid-14 {
		@include box-(12,1,1);
	}

	.grid-6 {
		@include box-(6,1,1);
	}

}

@media (min-width: $bp3) {

	.grid-3,
	.grid-4 {
		@include box-(6,1,1);
	}

}

@media (min-width: $bp4) {

	.grid-1 { @include box-(1,1,1); }
	.grid-2 { @include box-(2,1,1); }
	.grid-3 { @include box-(3,1,1); }
	.grid-4 { @include box-(4,1,1); }
	.grid-5 { @include box-(5,1,1); }
	.grid-7 { @include box-(7,1,1); }
	.grid-8 { @include box-(8,1,1); }
	.grid-9 { @include box-(9,1,1); }

	.perc-3 { @include perc-col-(3,1,1); } // example of the percentual column mixin

	.push-left-3 { @include push-left(3); }
	.push-left-4 { @include push-left(4); }
	.push-left-5 { @include push-left(6); }
	.push-left-6 { @include push-left(6); }
	.push-left-7 { @include push-left(7); }
	.push-left-8 { @include push-left(8); }
	.push-left-9 { @include push-left(9); }

	.pull-left-3 { @include pull-left(3); }
	.pull-left-4 { @include pull-left(4); }
	.pull-left-5 { @include pull-left(5); }
	.pull-left-6 { @include pull-left(6); }
	.pull-left-7 { @include pull-left(7); }
	.pull-left-8 { @include pull-left(8); }
	.pull-left-9 { @include pull-left(9); }

	.last-col {
		margin-bottom: 0;
		@include last-col;
	}

}

@media (min-width: $bp5) {

	.grid-14 {
		@include box-(14,1,1);
		@include pull-left(2);
	}

}
