//
// module: forms
//

.example-form-grid {
	.row {
		margin-left: -1.60256%;
		margin-right: -1.60256%;
	}

		label {
			@include box-(12,.5,.5);
			padding-bottom: 0;
		}
}

//
// Media Queries
//

@media (min-width : $bp2) {

	.example-form-grid {
		label {
			@include box-(6,.5,.5);
		}

		.street,
		.city {
			@include box-(8,.5,.5);
		}

		.number,
		.zip-code {
			@include box-(4,.5,.5);
		}

		.full-width {
			@include box-(12,.5,.5);
		}

		.oneliner .postfix {
			@include box-(6,0,.5);

			button {
				@include postfix;
			}
		}

		.oneliner .prefix {
			@include box-(6,.5,0);

			input {
				@include prefix;
			}
		}
	}

}
