/*
    Components: brand
    ---
    Logo, brand elements, etc.
*/

.c-logo {
    float: left;
    display: block;
    width: 157px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/svg/logo.svg');
    text-indent: -99999px;
    @include text-dimensions($alpha-font-size,1,0,1.25,1.25);
}

    .c-logo__link {
        display: block;
    }
