/*
    Component: Frame
    ---
    Scaffolding
*/

.c-holder {
    background-color: $delta-ui-color;
}

// Header

.c-header-holder {
    border-bottom: 1px solid $beta-ui-color-light;
}

.c-main-nav {
    width: 100%;
    float: left;

    @include mq($bp3) {
        display: block !important;
        width: auto;
        float: right;

        li {
            @include px-margin-lr(2,0);
        }
    }
}

.c-main-nav__list {
    font-family: $alpha-font-family;
    border-top: 1px solid $beta-ui-color-light;
    @include list-nav;
    @include margin-bottom(.75);
    @include padding-top(.75);

    @include mq($bp3) {
        border-top: none;
        padding-top: 0;
        margin-bottom: 0;
        @include horizontal-nav();
    }

    @include clearfix;
}

.c-main-nav__list-item {
    @include px-margin-lr(2,0);
}

.c-main-nav__link {
    display: block;
    color: lighten($alpha-text-color,50);
    text-decoration: none;
    font-weight: $beta-font-weight;
    @include text-dimensions($alpha-font-size,1,0,.25,.25);

    @include mq($bp3) {
        @include padding-tb(1.25,1.25);
    }

    &:hover,
    .is-selected > a {
	color: darken($alpha-ui-color,0);
    }
}

.c-main-nav-trigger {
    display: block;
    height: 2em;
    width: 2em;
    margin-top: 0.75em;
    float: right;
    text-indent: -9999px;
    background-color: $alpha-text-color;
    background-repeat: no-repeat;
    background-position: 50%;
    @include text-dimensions($alpha-font-size,1,0);

    .svg & {
        background-image: url('../img/svg/icon-menu.svg');
    }

    @include mq($bp3) {
        display: none;
    }

}

.svg .c-is-active,
.c-is-active {
    background-color: $alpha-link-color;
}

// Main

.c-main-holder {
    border-bottom: 1px solid $beta-ui-color-light;

    @include mq($bp2) {
        @include padding-tb(2,.5);
    }

    @include mq($bp5) {
        @include padding-tb(3,1.5);
    }

}

// Doormat

.c-doormat-holder {
    @include mq($bp2) {
        @include padding-tb(2,.5);
    }

    @include mq($bp5) {
        @include padding-tb(3,1.5);
    }
}

// Footer

.c-footer-holder {
    background-color: $alpha-text-color;
    color: lighten($alpha-text-color,70);
}
