/*
    Component: styleguide
    ---
    Styleguide demo styles
*/

.c-main-content {
    @include box-(12,1,1);
}

    .c-styleguide .c-section-title {
        color: $beta-text-color;
        border-bottom: 1px solid $beta-ui-color-light;
        @include padding-bottom(1);
        @include padding-top(1);
        @include text-dimensions($alpha-font-size,1,2);
    }

    .c-styleguide .c-scss {
        display: block;
        color: $alpha-text-color;
        background-color: lighten($gamma-ui-color,10);
        border: $border-width $border-style $gamma-ui-color;
        border-radius: $radius;
        @include margin-tb(0, 1);
        @include padding-tb(.5, .5);
        @include px-padding-lr(1,1);
    }

    .c-styleguide .c-color {
        width: 100%;
        height: 60px;
        box-shadow: 0 0 1px 3px $white, 0 0 5px 2px rgba($black,.33);
    }


    .c-example-form-grid {

        .c-oneliner .c-postfix {
                @include box-(6,0,1);
            }

                .c-oneliner .c-postfix button {
                    @include postfix;
                }

            .c-oneliner .c-prefix {
                @include box-(6,1,0);
            }

                .c-oneliner .c-prefix input {
                    @include prefix;
                }
    }
