// Input sizes
.c-input--sm {
    @include input-sm;
}

.c-input--lg {
    @include input-lg;
}

// checkboxes and radio's
.c-input--option {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.c-label--option {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}

// Errors
.c-form__error {
    display: block;
    color: $error-color;
    @include padding-top(.25);
}

.c-input--error  {
    border-color: $error-color;

    &:focus {
        border-color: $error-color;
        box-shadow: 0 0 2px rgba($error-color,.5);
    }
}
