/*
    Components: Cards
    ---
    A card displays site content in a manner similar to a playing card.
*/

.c-card {
    @include padding-tb(1,1);
    @include padding-lr(1,1);
    @include margin-bottom(1);
}
    // Reset bottom margins on children to make equal paddings possible
    .c-card > *:last-child,
    .c-card > *:last-child > *:last-child,
    .c-card > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }

.c-card--alpha {
    color: palette(color-neutral,dark);
    background-color: palette(color-neutral,light);
    border: $border-width $border-style palette(color-neutral,base);
    border-radius: $radius;
}
