/*
    Component: forms
    ---
    Form styling, input sizes, etc.
*/

// Input elements
.c-input-text {
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance:     none;
    appearance:         none;
    font-smoothing: antialiased;
    background-color: palette(color-neutral,x-light);
    border-radius: $radius;
    border: $border-width $border-style palette(color-neutral);
    color: palette(color-neutral,dark);
    font-family: $alpha-font-family;
    margin: 0;
    width: 100%;
    display: block;
    outline: none;
    line-height: normal;
    border-radius: $radius;
    @include padding-lr(.75,.75);
    @include input-dimensions($ms-1,1,0,.75,.75);

    &:focus {
        color: palette(color-neutral,dark);
        border-color: palette(color-alpha);
        box-shadow: 0 0 2px palette(color-alpha,x-light);
    }

    &.has-error {
        border: 1px solid palette(color-error);

        &:focus {
            border-color: palette(color-error);
            box-shadow: 0 0 2px palette(color-error,x-light);
        }
    }
}

.c-input-option {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

// Input sizes
.c-input-text--sm {
    @include padding-lr(.5,.5);
    @include input-dimensions($ms-2,1,0,.5,.5);
}

.c-input-text--lg {
    @include padding-lr(1,1);
    @include input-dimensions($alpha-font-size,1,0,1,1);
}

// Input modifiers
.c-input-text--prefix {
    border-radius: $radius 0 0 $radius;
    border-right: 0;
}

// Input states
.c-input-text.has-error  {
    border: 1px solid palette(color-error);

    &:focus {
        border-color: palette(color-error);
        box-shadow: 0 0 2px palette(color-error,x-light);
    }
}

// Labels
.c-label {
    color: palette(color-neutral);
    @include text-dimensions($ms-1,1);

    &.has-error {
        color: palette(color-error);
    }
}

.c-label--option {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}

// Errors
.c-alert-inline {
    display: block;
    text-align: right;
    @include text-dimensions($ms-2,1);
}
.c-alert-inline--error {
    color: palette(color-error);
}
