/*
    Components: buttons
    ---
    Button styling
*/

$button-color-alpha    : $alpha-ui-color;
$button-color-beta     : $beta-ui-color;

.c-button {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: $radius;
    transition: all .1s ease-in-out;
    transition-property: background, color, border;
    outline: none;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        outline: 0;
        background-image: none;
    }

    @include button-md;

}

// button display

.c-button--block {
    display: block;
    width: 100%;
}

.c-button--fll {
    @include button-float(left);
}

.c-button--flr {
    @include button-float(right);
}

// button sizes

.c-button--sm {
    @include button-sm;
}

.c-button--lg {
    @include button-lg;
}

// colors

.c-button--alpha {
    background-color: $button-color-alpha;
    border-color: $button-color-alpha;

    &,
    &:visited {
        color: $white;
    }

    &:hover,
    &:focus {
        background-color: lighten($alpha-ui-color,10);
        color: $white;
    }

    &:active {
        background-color: $alpha-ui-color;
    }

}

.c-button--beta {
    background-color: $button-color-beta;
    border-color: $button-color-beta;

    &,
    &:visited {
        color: $white;
    }

    &:hover,
    &:focus {
        background-color: lighten($button-color-beta,10);
        color: $white;
    }

    &:active {
        background-color: $button-color-beta;
    }
}

// button-group

.c-button-group {
    position: relative;

    .c-button--fll {
        @include px-margin-right(1);
    }

    .c-button--flr {
        @include px-margin-right(1);
    }

    @include clearfix;
}

// firefox inner border fix

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
