/*
    Component: pagination
    ---
    Pagination
*/

.c-pagination {

}

.c-pagination--centered {
    text-align: center;
}

    .c-pagination__item {
        & + & {
            border-left: 1px dotted palette(color-neutral);
        }
    }

    .c-pagination__link {
        display: block;
        @include padding-lr(.3,.3);
        @include padding-tb(.3,.3);
    }
