/*
    Object: holder
    ---
    Creates a horizontal row with padding
*/

.c-holder {
    @include padding-tb(1,0);
    @include padding-lr(1,1);
}

    .c-holder--alpha {
        background-color: palette(color-neutral,x-light);
    }

    .c-holder--beta {
        color: palette(color-neutral,light);
        background-color: palette(color-neutral,dark);
    }
