/*
    Component: grid
    ---
    Grid demo styling
*/


// Visualise grid boxes (for demo purposes)
.c-grid-test {

}

    .c-grid-test__item {
        background-color: $grey-05;
        text-align: center;
        @include padding-tb(.5,.5);
        @include margin-tb(1,1);
    }
