//
// Frame
//

.holder {
	background-color: $delta-ui-color;
	@include padding-top(1.5);

	@include mq($bp2) {
		@include px-padding-lr(1,1);
	}

}

//
// Header
//

.header {
	@include box-(12,1,1);

	.inner {
		@extend %clearfix;
		border-bottom: 1px solid $beta-ui-color-light;
	}

}

.header-holder {
	padding: 0;
	border: none;

	@include mq($bp2) {
		padding-top: 0;
		padding-bottom: 0;
	}

	@include mq($bp4) {
		padding-top: 0;
		padding-bottom: 0;
	}

}

.logo {
	float: left;
	font-family: $alpha-font-family;
	font-weight: $alpha-font-weight;
	margin-bottom: 0;
	@include text-dimensions($alpha-font-size,1);

	a {
		display: block;
		text-decoration: none;
		color: $beta-text-color;
		@include text-dimensions($alpha-font-size,1,0,1,1);

		&:hover,
		&:focus {
			color: $alpha-text-color;
		}

		@include mq($bp3) {
			@include padding-tb(1.25,1.25);
		}

	}

}

.main-nav {
	width: 100%;
	float: left;

	ul {
		@extend %clearfix;
		font-family: $alpha-font-family;
		border-top: 1px solid $beta-ui-color-light;
		@include list-nav;
		@include margin-bottom(.75);
		@include padding-top(.75);

		@include mq($bp3) {
			border-top: none;
			padding-top: 0;
			margin-bottom: 0;
		}

	}

	a {
		display: block;
		color: lighten($alpha-text-color,50);
		text-decoration: none;
		font-weight: $beta-font-weight;
		@include text-dimensions($alpha-font-size,1,0,.25,.25);

		@include mq($bp3) {
			@include padding-tb(1.25,1.25);
		}


	}

	a:hover,
	.selected a {
		color: darken($alpha-ui-color,0);
	}

}

.mobile-nav .main-nav {
	display: none;
}

.main-nav,
.mobile-nav .main-nav {

	@include mq($bp3) {
		display: block !important;
		width: auto;
		float: right;

		ul {
			@include horizontal-nav();
		}

		li {
			@include px-margin-lr(2,0);
		}

	}

}

.main-nav-trigger {
	display: block;
	height: 2em;
	width: 2em;
	margin-top: 0.75em;
	float: right;
	text-indent: -9999px;
	background-color: $alpha-text-color;
	background-repeat: no-repeat;
	background-position: 50%;
	@include text-dimensions($alpha-font-size,1,0);

	.svg & {
		background-image: url('../img/svg/icon-menu.svg');
	}

	@include mq($bp3) {
		display: none;
	}

}

.svg .trigger-active,
.trigger-active {
	background-color: $alpha-link-color;
}

//
// main
//

.main-holder {
	border-bottom: 1px solid $beta-ui-color-light;

	@include mq($bp2) {
		@include padding-tb(2,.5);
	}

	@include mq($bp5) {
		@include padding-tb(3,1.5);
	}

}

//
// Doormat
//

.doormat-holder {

	@include mq($bp2) {
		@include padding-tb(2,.5);
	}

	@include mq($bp5) {
		@include padding-tb(3,1.5);
	}

}

.doormat-col-4 {
	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(4,1,1);
	}

}

//
// Footer
//

.footer-holder {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color,70);

	p {
		padding: 0;
	}

}

	.footer {
		@include box-(12,1,1);
	}
