/*
    Components: alerts
    ---
    Alert boxes
*/

.c-alert-box {
    position: relative;
    @include padding-top(1);
    @include padding-lr(1,1);
    @include block-skin;
    @include margin-bottom(1);

    & .c-alert-box__link {
        @include text-color($gamma-ui-color);
    }
}

.c-alert-box--error {
    @include block-skin($error-color);

    & .c-alert-box__link {
        @include text-color($error-color);
    }
}

.c-alert-box--success {
    @include block-skin($success-color);

    & .c-alert-box__link {
        @include text-color($success-color);
    }
}

.c-alert-box--notice {
    @include block-skin($notice-color);

    & .c-alert-box__link {
        @include text-color($notice-color);
    }
}

    .c-alert-box__link {
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .c-alert-box__close {
        cursor: pointer;
        position: absolute;
        top: #{$alpha-line-height/6}em;
        right: #{$alpha-line-height/3}em;
        line-height: 1;
        text-decoration: none;
    }
