/*
    Elements: Forms
    ---
    Default markup for the form elements
*/

// ---
// Variables
// ---

$fieldset-border          : 0 !default;
$fieldset-margin-bottom   : $alpha-leading !default;

$legend-font-size         : $alpha-font-size !default;
$legend-line-height       : $alpha-line-height !default;
$legend-margin-bottom     : $alpha-leading !default;

$label-font-size          : $alpha-font-size !default;
$label-line-height        : $alpha-line-height !default;
$label-margin-bottom      : $alpha-leading !default;

$placeholder-font-family  : $alpha-font-family !default;
$placeholder-font-style   : italic !default;
$placeholder-color        : palette(color-neutral, light) !default;

$firefox-inner-border-fix : true !default;

// ---
// Styles
// ---

fieldset {
    border: $fieldset-border;
    @include margin-bottom($fieldset-margin-bottom);
}

legend,
label {
    display: block;
    width: 100%;
    cursor: pointer;
}

legend {
    @include text-dimensions($legend-font-size,$legend-line-height);
    @include margin-bottom($legend-margin-bottom);
}

label {
    @include text-dimensions($label-font-size,$label-line-height);
    @include margin-bottom($label-margin-bottom);
}

textarea {
    height: auto;
    resize: none;
}

// Placeholders

::-webkit-input-placeholder {
    font-family: $placeholder-font-family;
    font-style: $placeholder-font-style;
    color: $placeholder-color;
}

::-moz-placeholder {
    font-family: $placeholder-font-family;
    font-style: $placeholder-font-style;
    color: $placeholder-color;
}

:-ms-input-placeholder {
    font-family: $placeholder-font-family;
    font-style: $placeholder-font-style;
    color: $placeholder-color;
}

// Firefox inner border fix
@if $firefox-inner-border-fix == true {
    button::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner,
    input[type="submit"]::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
