/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font: $alpha-font-weight $alpha-font-size/16*100%/#{$alpha-line-height} $alpha-font-family;
    -webkit-overflow-scrolling: touch;
    background-color: palette(color-neutral,dark);

    @include mq($bp5) {
        font-size: $alpha-font-size/16*112.5%;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    color: palette(color-neutral,dark);
}

::-moz-selection {
    background-color: palette(color-neutral,dark);
    color: palette(color-neutral,light);
    text-shadow: none;
}

::selection {
    background-color: palette(color-neutral,dark);
    color: palette(color-neutral,light);
    text-shadow: none;
}
