/*
    Elements: forms
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $beta-font-family;
    font-weight: $alpha-font-weight;
    text-rendering: optimizelegibility;
    @include margin-bottom($alpha-line-height);
}

h1 {
    @include text-dimensions($ms6,2);
}

h2 {
    @include text-dimensions($ms4,1.5);
}

h3 {
    @include text-dimensions($ms2,1.25);
}

h4,
h5,
h6 {
    font-weight: $beta-font-weight;
    @include text-dimensions($alpha-font-size,1);
}

p,
ol,
ul,
dl,
table,
address {
    @include text-dimensions($alpha-font-size,1);
    @include margin-bottom($alpha-line-height);
}

pre {
    tab-size: 2;
    overflow: auto;
}

ul,
ol,
blockquote {
    padding-left: 2em;
}

blockquote {
    font-style: italic;
}

caption {
    font-family: $alpha-font-family;
    text-align: left;
    border-bottom: 1px solid lighten($alpha-text-color,50);
    font-weight: $beta-font-weight;
    text-align: center;
    @include padding-bottom(.5);
    @include margin-bottom(.5);
}

small {
    @include text-dimensions($ms-1,1,$alpha-line-height);
}

hr {
    border: 1px solid $beta-ui-color-light;
    border-width: 1px 0 0;
    clear: both;
    margin-top: 0;
    @include margin-bottom(1);
}

//
// Links
//

a {
    text-decoration: none;
    color: $alpha-link-color;
    transition: color .22s ease-in-out;

    &:visited {
        color: $alpha-link-colorvisited;
    }

    &:hover {
        text-decoration: underline;
        color: $alpha-link-colorhover;
    }

    &:focus {
        outline: thin dotted;
        color: $alpha-link-colorfocus;
    }

    &:hover,
    &:active {
        outline: 0;
    }

}
