/*
    Elements: Tables
    ---
    Default markup for tables
*/

// ---
// Variables
// ---

$table-font-family      : $alpha-font-family !default;
$table-align            : left !default;

$caption-font-family    : $alpha-font-family !default;
$caption-font-weight    : $beta-font-weight;
$caption-align          : center !default;
$caption-margin-bottom  : $alpha-leading !default;
$caption-padding-bottom : $alpha-leading !default;

// ---
// Styles
// ---

table {
    text-align: $table-align;
    width: 100%;
    font-family: $table-font-family;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    font-family: $alpha-font-family;
    font-weight: $beta-font-weight;
    text-align: $caption-align;
    @include padding-bottom($caption-margin-bottom);
    @include margin-bottom($caption-padding-bottom);
}
