/*
    Elements: forms
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $beta-font-family;
    font-weight: $alpha-font-weight;
    @include margin-bottom(1);
}

h1 {
    @include text-dimensions($ms6,2);
}

h2 {
    @include text-dimensions($ms4,1.5);
}

h3 {
    @include text-dimensions($ms2,1.25);
}

h4,
h5,
h6 {
    font-weight: $beta-font-weight;
    @include text-dimensions($alpha-font-size,1);
}

p,
ol,
ul,
dl,
table,
address {
    @include text-dimensions($alpha-font-size,1);
    @include margin-bottom(1);
}

pre {
    tab-size: 2;
}

ul,
ol,
blockquote {
    padding-left: 2em;
}

blockquote {
    font-style: italic;
}

small {
    @include text-dimensions($ms-1,1,$alpha-line-height);
}

hr {
    border: 1px solid palette(color-neutral,light);
    border-width: 1px 0 0;
    clear: both;
    margin-top: 0;
    @include margin-bottom(1);
}

// Links

a {
    text-decoration: none;
    color: palette(color-alpha);
    transition: color .22s ease-in-out;

    &:visited {
        color: palette(color-alpha);
    }

    &:hover {
        text-decoration: underline;
        color: palette(color-alpha,light);
    }

    &:focus {
        outline: thin dotted;
        color: palette(color-alpha,light);
    }

    &:hover,
    &:active {
        outline: 0;
    }

}
