/*
    Elements: Images
    ---
    Default markup for images
*/

// ---
// Variables
// ---

$img-max-width : 100% !default;
$img-border    : 0 !default;

// ---
// Styles
// ---

// Fix a > img problem

img {
    max-width: $img-max-width;
    vertical-align: top;
    border: $img-border;
}
