/*
    Elements: forms
    ---
    Default markup for the form elements
*/

fieldset {
    // Only add margin top when 2 elements follow each other
    // (http://alistapart.com/article/axiomatic-css-and-lobotomized-owls)
    * + & {
        @include margin-top(1);
    }
}

legend,
label {
    display: block;
    width: 100%;
    cursor: pointer;
    @include text-dimensions($alpha-font-size,1,0,0,.25);
}

textarea {
    height: auto;
    resize: none;
}

// Select, depends on the project. Use a custom select plugin to properly style these.

select,
select[multiple] {

}

// Placeholders

::-webkit-input-placeholder {
    font-family: $beta-font-family;
    font-style: italic;
}

::-moz-placeholder {
    font-family: $beta-font-family;
    font-style: italic;
}

:-ms-input-placeholder {
    font-family: $beta-font-family;
    font-style: italic;
}
