/*
    Elements: Tables
    ---
    Default markup for tables
*/

table {
    text-align: left;
    width: 100%;
    font-family: $alpha-font-family;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    font-family: $alpha-font-family;
    font-weight: $beta-font-weight;
    text-align: center;
    @include padding-bottom(1);
    @include margin-bottom(1);
}
