/*
    Objects: Media embed
    ---
    Responsive media embedding object, for use with iframes
*/

// ---
// Variables
// ---
$media-embed-ratio         : 62.5% !default;
$media-embed-margin-bottom : $alpha-leading !default;

// ---
// Styles
// ---

.o-media-embed {
    width: 100%;
    height: 0;
    padding-bottom: $media-embed-ratio;
    position: relative;
    overflow: hidden;
    @include margin-bottom($media-embed-margin-bottom);

    > iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
