/*
    Object: Navigation
    ---
    Navigation object with no bullets
*/

.o-list-ui {
    list-style: none;
    padding-left: 0;
    @include clearfix;
}

.o-list-ui__item,
.o-list-ui__link {
    display: block;

    .o-list-ui--horizontal & {
        @include mq($bp3) {
            float: left;
        }
    }
}
