/*
    Objects: Grid
    ---
    Grid system objects, works together with utility width classes
*/


// ---
// Variables
// ---

$grid-max-width : map-get($breakpoints,bp5) !default;
$grid-gutter    : $columns-gutter !default;

// ---
// Styles
// ---

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
}

// No gutters

.o-grid {
    @include clearfix;
}

// Default gutter

.o-grid--gutter {
    @include margin-lr(-($grid-gutter),-($grid-gutter));
}

    // Grid item, takes the full width by default

    .o-grid__item {
        float: left;
        width: 100%;

        .o-grid--gutter > & {
            @include padding-lr($grid-gutter,$grid-gutter);
        }
    }
