/*
    Object: Navigation
    ---
    Navigation object with no bullets
*/

.o-list {
    list-style: none;
    padding-left: 0;
    @include clearfix;
}

    .o-list__item {
        .o-list--horizontal & {
            @include mq($bp3) {
                float: left;
            }
        }
    }
