/*
    Object: Navigation
    ---
    Navigation object with no bullets
*/

.o-nav {
	list-style: none;
    padding-left: 0;
    @include clearfix;    
}

.o-nav__item,
.o-nav__link { 
	display: block;

	.o-nav--horizontal & {

		@include mq($bp3) {
			float: left;
		}

	}

}