// Grid

$grid-gutter				: 32;
$grid-column				: 72;
$grid-columns				: 12;

// Breakpoints calculated in em's, always based on 16px base-value

$bp1						: 320/16*1em;
$bp2 						: 480/16*1em;
$bp3						: 680/16*1em;
$bp4						: 960/16*1em;
$bp5						: 1140/16*1em;

// the last breakpoint is calculated in shared/_grid.scss
// $bp5: #{1200 / $alpha-font-size}em;
