//
//  Settings: Grid system
//  ---
//  Set your amount of columns and gutter width
//

$columns-gutter: 1 !default; // This number is based on the baseline

$columns: (
  2,
  3,
  4,
  5,
  6
) !default;
