//
//  Settings: Grid system
//  ---
//  Set your amount of columns and gutter width
//

$px-fallback: true; // pixel fallback for browsers that don't support rem
$columns-gutter: 1 !default; // 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss

$columns: (
    2,
    3,
    4,
    5,
    6
) !default;
