//
// Color variables (defaults by https://github.com/mrmrs/colors)
//
// - Cool
// - Warm
// - Gray Scale
// - Semantic
//

// Cool

$aqua                       : #7FDBFF;
$blue                       : #0074D9;
$navy                       : #001F3F;
$teal                       : #39CCCC;
$green                      : #2ECC40;
$olive                      : #3D9970;
$lime                       : #01FF70;

// Warm

$yellow                     : #FFDC00;
$orange                     : #FF851B;
$red                        : #FF4136;
$fuchsia                    : #F012BE;
$purple                     : #B10DC9;
$maroon                     : #85144B;

// Gray Scale

$white                      : #fff;
$silver                     : #ddd;
$gray                       : #aaa;
$black                      : #111;

// Semantic classes

$alpha-neutral              : $white;
$beta-neutral               : $black;

$alpha-text-color           : $black;
$alpha-text-color-light     : mix($alpha-text-color, $alpha-neutral, 50%);
$alpha-text-color-dark      : mix($alpha-text-color, $beta-neutral, 50%);

$beta-text-color            : $alpha-text-color-light;
$beta-text-color-light      : mix($beta-text-color, $alpha-neutral, 50%);
$beta-text-color-dark       : mix($beta-text-color, $beta-neutral, 50%);

// Primary elements
$alpha-ui-color             : $blue;
$alpha-ui-color-light       : mix($alpha-ui-color, $alpha-neutral, 50%);
$alpha-ui-color-dark        : mix($alpha-ui-color, $beta-neutral, 50%);

// Secondary elements
$beta-ui-color              : $gray;
$beta-ui-color-light        : mix($beta-ui-color, $alpha-neutral, 50%);
$beta-ui-color-dark         : mix($beta-ui-color, $beta-neutral, 50%);

// Used for borders
$gamma-ui-color             : $silver;
$gamma-ui-color-light       : mix($gamma-ui-color, $alpha-neutral, 50%);
$gamma-ui-color-dark        : mix($gamma-ui-color, $beta-neutral, 50%);

// Used for backgrounds
$delta-ui-color             : $white;
$delta-ui-color-light       : mix($delta-ui-color, $alpha-neutral, 50%);
$delta-ui-color-dark        : mix($delta-ui-color, $beta-neutral, 50%);

$border-color               : $alpha-text-color;
$border-color-light         : mix($border-color, $alpha-neutral, 50%);
$border-color-dark          : mix($border-color, $beta-neutral, 50%);

$error-color                : $red;
$success-color              : $green;
$notice-color               : $yellow;

// Greyscale of alpha-ui-color

$grey-00 : hsl(hue($alpha-ui-color),10,45);
$grey-01 : hsl(hue($alpha-ui-color),10,55);
$grey-02 : hsl(hue($alpha-ui-color),15,65);
$grey-03 : hsl(hue($alpha-ui-color),15,75);
$grey-04 : hsl(hue($alpha-ui-color),15,85);
$grey-05 : hsl(hue($alpha-ui-color),25,95);

// Links

$alpha-link-color           : $alpha-ui-color;
$alpha-link-colorhover      : darken($alpha-link-color, 10);
$alpha-link-colorfocus      : darken($alpha-link-color, 10);
$alpha-link-coloractive     : lighten($alpha-link-color, 10);
$alpha-link-colorvisited    : darken($alpha-link-color, 5);
