//
//  Settings: Typography
//  ---
//  Set your baseline, font family, font size, etc.
//

$alpha-font-family          : sans-serif;
$beta-font-family           : serif;

$alpha-font-size            : $ms0;

$alpha-font-weight          : 400;
$beta-font-weight           : 700;

$alpha-line-height          : 1.5;

$alpha-leading              : 1;
$beta-leading               : 2;
