//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//


$debug-mode: false !default; // toggles the debug mode

//
//  Modular scale
//  ---
//  Set your modular scale setting and define a fixed modular scale
//

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                       : 11 !default;
$ms-2                       : 12 !default;
$ms-1                       : 14 !default;
$ms0                        : 16 !default;
$ms1                        : 18 !default;
$ms2                        : 21 !default;
$ms3                        : 23 !default;
$ms4                        : 28 !default;
$ms5                        : 31 !default;
$ms6                        : 37 !default;
$ms7                        : 42 !default;
$ms8                        : 50 !default;
$ms10                       : 56 !default;
$ms11                       : 67 !default;
$ms12                       : 75 !default;
$ms13                       : 89 !default;
$ms14                       : 100 !default;

//
//  Typography
//  ---
//  Set your baseline, font family, font size, etc.
//

$alpha-font-family          : sans-serif;
$beta-font-family           : serif;

$alpha-font-size            : $ms0;

$alpha-font-weight          : 400;
$beta-font-weight           : 700;

$alpha-line-height          : 1.5;

$alpha-leading              : 1;
$beta-leading               : 2;

//
//  UI
//  ---
//  Set your basic UI preferences like border-radius, border-width, etc.
//

$radius                     : 5px;
$border-width               : 1px;
$border-style               : solid;

//
//  Breakpoints
//  ---
//  Set your breakpoints
//

$bp1: 320/16*1em !default;
$bp2: 480/16*1em !default;
$bp3: 680/16*1em !default;
$bp4: 960/16*1em !default;
$bp5: 1140/16*1em !default;

//
//  Grid system
//  ---
//  Set your amount of columns and gutter width
//

$columns-gutter: 1 !default; // 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss

$columns: (
    2,
    3,
    4,
    5,
    6
) !default;
