/*
	Chopstick settings
*/

// grid

$contextGridGutter	: 60;
$contextGridColumn	: 40;
$contextGridColumns	: 12;

// breakpoints

$bp-min-w1: 320;
$bp-min-w2: 480;
$bp-min-w3: 680;
$bp-min-w4: 960;
// The "last" breakpoint is calculated in mixins/_grid.scss
// uncomment this and comment there ^ if you want to override this.
// $bp-min-w5: 1300;

// typography

$basefont 				: Helvetica, Arial, sans-serif;
$basefontserif			: georgia, times, serif;
$basefontsize 			: 16;
$basefontweight			: 500;
$baselineheight 		: 1.5;
$baseheadingfont 		: $basefont;
$baseheadingfontweight 	: 700;

// modular scale settings
$ratio: 1.5;
$base-size: 16px 44px;

// roundness
$radius: 3px;

// color palette

$whitecolor 	: white;
$darkcolor 		: #333;
$mediumcolor 	: #ccc;

$primarycolor 	: red;

// Links

$linkcolor 		    : $primarycolor;
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);
