//
// Chopstick settings
//

// Debug

$debug-mode					: false; // toggles the debug mode

// Typography

$show-baseline-grid			: false; // toggle the visibility of the baseline (true/false)
$baseline-holder 			: holder; // set the classname of the element which will show the baseline
$grid-color 				: rgba(#000,.1); // set the baseline grid color and opacity

$alpha-font-family			: sans-serif;
$alpha-font-size			: 16; // pixel-value
$alpha-font-weight			: 400;
$alpha-line-height			: 1.5;
$alpha-baseline-grid		: 7; // pixel-value
$alpha-leading				: 1; // multiplier

$beta-font-family			: sans-serif;
$beta-font-weight			: 700;

// Grid

$grid-gutter				: 32;
$grid-column				: 72;
$grid-columns				: 12;

// Breakpoints calculated in em's, always based on 16px base-value

$bp1						: 320/16*1em;
$bp2 						: 480/16*1em;
$bp3						: 680/16*1em;
$bp4						: 960/16*1em;
$bp5						: 1140/16*1em;

// the last breakpoint is calculated in shared/_grid.scss
// $bp5: #{1200 / $alpha-font-size}em;

// Modular scale settings

$ratio						: 1.414;
$importantnumber			: 44;
$leading					: 1;
$base-size					: $alpha-font-size/16*1em;

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                       : 11;
$ms-2						: 12;
$ms-1						: 14;
$ms1						: 18;
$ms2						: 21;
$ms3						: 23;
$ms4						: 28;
$ms5						: 31;
$ms6						: 37;
$ms7						: 42;
$ms8						: 50;
$ms10 						: 56;
$ms11						: 67;
$ms12						: 75;
$ms13						: 89;
$ms14						: 100;

// UI

$radius						: 5px;
$border-width				: 1px;
$border-style				: solid;
$depth						: 0%; // Range: 0-100%
$contrast					: 91%; // Range: 0-100%
$shadow						: 21%; // Range: 0-100%
$highlight					: 0%; // Range: 0-100%

//
// Color variables (defaults by https://github.com/mrmrs/colors)
//
// - Cool
// - Warm
// - Gray Scale
// - Semantic
//

// Cool

$aqua						: #7FDBFF;
$blue						: #0074D9;
$navy						: #001F3F;
$teal						: #39CCCC;
$green						: #2ECC40;
$olive						: #3D9970;
$lime						: #01FF70;

// Warm

$yellow						: #FFDC00;
$orange						: #FF851B;
$red						: #FF4136;
$fuchsia					: #F012BE;
$purple						: #B10DC9;
$maroon						: #85144B;

// Gray Scale

$white						: #fff;
$silver						: #ddd;
$gray						: #aaa;
$black						: #111;

// Semantic classes

$alpha-neutral				: $white;
$beta-neutral				: $black;

$alpha-text-color			: $black;
$alpha-text-color-light		: mix($alpha-text-color, $alpha-neutral, 50%);
$alpha-text-color-dark		: mix($alpha-text-color, $beta-neutral, 50%);

$beta-text-color			: $alpha-text-color-light;
$beta-text-color-light		: mix($beta-text-color, $alpha-neutral, 50%);
$beta-text-color-dark		: mix($beta-text-color, $beta-neutral, 50%);

// Primary elements
$alpha-ui-color				: $blue;
$alpha-ui-color-light		: mix($alpha-ui-color, $alpha-neutral, 50%);
$alpha-ui-color-dark		: mix($alpha-ui-color, $beta-neutral, 50%);

// Secondary elements
$beta-ui-color				: $gray;
$beta-ui-color-light		: mix($beta-ui-color, $alpha-neutral, 50%);
$beta-ui-color-dark			: mix($beta-ui-color, $beta-neutral, 50%);

// Used for borders
$gamma-ui-color				: $silver;
$gamma-ui-color-light		: mix($gamma-ui-color, $alpha-neutral, 50%);
$gamma-ui-color-dark		: mix($gamma-ui-color, $beta-neutral, 50%);

// Used for backgrounds
$delta-ui-color				: $white;
$delta-ui-color-light		: mix($delta-ui-color, $alpha-neutral, 50%);
$delta-ui-color-dark		: mix($delta-ui-color, $beta-neutral, 50%);

$border-color 				: $alpha-text-color;
$border-color-light			: mix($border-color, $alpha-neutral, 50%);
$border-color-dark			: mix($border-color, $beta-neutral, 50%);

$error-color 				: $red;
$success-color 				: $green;
$notice-color 				: $yellow;

// Greyscale of alpha-ui-color

$grey-00 : hsl(hue($alpha-ui-color),10,45);
$grey-01 : hsl(hue($alpha-ui-color),10,55);
$grey-02 : hsl(hue($alpha-ui-color),15,65);
$grey-03 : hsl(hue($alpha-ui-color),15,75);
$grey-04 : hsl(hue($alpha-ui-color),15,85);
$grey-05 : hsl(hue($alpha-ui-color),25,95);

// Links

$alpha-link-color			: $alpha-ui-color;
$alpha-link-colorhover		: darken($alpha-link-color, 10);
$alpha-link-colorfocus		: darken($alpha-link-color, 10);
$alpha-link-coloractive		: lighten($alpha-link-color, 10);
$alpha-link-colorvisited	: darken($alpha-link-color, 5);
