//
//  Settings: Breakpoints
//  ---
//  Set your breakpoints
//

$bp1: 320/16*1em !default;
$bp2: 480/16*1em !default;
$bp3: 680/16*1em !default;
$bp4: 960/16*1em !default;
$bp5: 1140/16*1em !default;
