//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//

// ---
// Typography
// ---

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-3                       : 11 !default;
$ms-2                       : 12 !default;
$ms-1                       : 14 !default;
$ms0                        : 16 !default;
$ms1                        : 18 !default;
$ms2                        : 21 !default;
$ms3                        : 23 !default;
$ms4                        : 28 !default;
$ms5                        : 31 !default;
$ms6                        : 37 !default;
$ms7                        : 42 !default;
$ms8                        : 50 !default;
$ms9                        : 56 !default;
$ms10                       : 67 !default;
$ms11                       : 75 !default;
$ms12                       : 89 !default;
$ms13                       : 100 !default;

// Basic font settings

$alpha-font-family          : sans-serif;
$beta-font-family           : serif;

$alpha-font-size            : $ms0;

$alpha-font-weight          : 400;
$beta-font-weight           : 700;

$alpha-line-height          : 1.5;

$alpha-leading              : 1;
$beta-leading               : 2;

// ---
// UI
// ---

$radius                     : 5px;
$border-width               : 1px;
$border-style               : solid;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha                   : 1,
    beta                    : 2,
    gamma                   : 3,
    delta                   : 4,
    epsilon                 : 5
) !default;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 480/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1140/16*1em
) !default;

// ---
// Grid
// ---

// 1 times the $alpha-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter             : 1 !default;

// Define the amount of columns in the grid
$columns: (
    2,
    3,
    4,
    5,
    6
) !default;

// ---
// Increments
// ---

$increments: (
    alpha                   : 0,
    beta                    : .5,
    gamma                   : 1,
    delta                   : 1.5,
    epsilon                 : 2
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .1s;
$animation-duration-beta    : .2s;
$animation-duration-gamma   : .3s;
$animation-easing-alpha     : ease-in-out;
$animation-easing-beta      : cubic-bezier(.68, -.55, .265, 1.55); // bouncy

// ---
// Tools
// ---

$debug-mode                 : false !default; // toggles the debug mode
