//
//  Tools: Buttons
//  ---
//  ...
//
/* @mixin button-lg {
    padding: em(14.5) em(20);
}

@mixin button-md {
    padding: em(10.5) em(15);
}

@mixin button-sm {
    padding: em(5) em(10);
} */

// Button display

@mixin button-inlineblock {
    display: inline-block;
    width: auto;
}

@mixin button-float($float:left) {
    display: block;
    float: $float;
}

// Button color
// use: @mixin button-color(color1[,color2]);

@mixin button-color($c1: $alpha-ui-color, $c2: lighten($c1, $depth)) {

    border: $border-width $border-style $c1;

    background-color: $c1;
    @if $depth > 0 {
        background-image: linear-gradient($c1, $c2);
    }

    @if $highlight {
        box-shadow: inset 0 1px 0 rgba(#FFF, $highlight/100%);
    }

    @include text-color($c1);

    &:hover,
    &:focus {
        border: $border-width $border-style lighten($c1, 100-$contrast);
        background-color: lighten($c1, 100-$contrast);
        @if $depth > 0 {
            background-image: linear-gradient(lighten($c1, 100-$contrast), lighten($c2, 100-$contrast));
        }
        @include text-color(lighten($c1, 100-$contrast));

    }

    &:active {
        background-color: lighten($c1, 100-$contrast);
        @if $depth > 0 {
            background-image: linear-gradient(lighten($c2, 100-$contrast), lighten($c1, 100-$contrast));
        }

        box-shadow: none;
        @include text-color(lighten($c1, 100-$contrast));
    }

    &:visited {
        @include text-color($c1);
    }
}
