//
// Typography
//

// baseline formula based on the $alpha-line-height variable
// use: @include text-dimensions(#font-size, #line-height, #margin-bottom, #padding-top)

$baseline-unit: $alpha-font-size * $alpha-line-height;
$basefontpercent: $alpha-font-size/16 * 100;

@mixin text-dimensions($fs: 16, $lh: 1, $mb: 0, $pt: 0, $pb: 0, $mt: 0){
	font-size: #{$fs}px;
	font-size: #{$fs / $alpha-font-size}rem;
	line-height: #{($baseline-unit / $fs) * $lh}em;

	@if $mb > 0 {
		@include margin-bottom($mb);
	}

	@if $mt > 0 {
		@include margin-top($mt);
	}

	@if $pt > 0 {
		@include padding-top($pt);
	}

	@if $pb > 0 {
		@include padding-bottom($pb);
	}

}

@mixin input-dimensions($fs: 1, $lh: 1, $mb: 0, $pt: 0, $pb: 0, $mt: 0){
	font-size: #{$fs}px;
	font-size: $fs/$alpha-font-size*1rem;

	@if $mb > 0 {
		@include margin-bottom($mb);
	}

	@if $mt > 0 {
		@include margin-top($mt);
	}

	@if $pt > 0 {
		@include padding-top($pt);
	}

	@if $pb > 0 {
		@include padding-bottom($pb);
	}
}

@mixin button-dimensions($fs: 1, $lh: 1, $mb: 0, $pt: 0, $pb: 0, $mt: 0){
	font-size: #{$fs}px;
	font-size: $fs/$alpha-font-size*1rem;
	height: #{($baseline-unit / $fs) * $lh}em;
	// line-height: #{($baseline-unit / $fs) * $lh}em;
	line-height: #{$baseline-unit * $lh - 2}px;

	@if $mb > 0 {
		margin-bottom: $mb * $alpha-font-size * 1px;
		margin-bottom: $mb * 1rem;
	}

	@if $mt > 0 {
		margin-top: $mt * $alpha-font-size * 1px;
		margin-top: $mt * 1rem;
	}

	@if $pt > 0 {
		padding-top: $pt * $alpha-font-size * 1px;
		padding-top: $pt * 1rem;
	}
	@if $pb > 0 {
		padding-bottom: $pb * $alpha-font-size * 1px;
		padding-bottom: $pb * 1rem;
	}
}


// baseline formulas based on the $alpha-baseline-grid variable
// use: @include baseline-dimensions(#modular-scale-increment, #padding-top, #padding-bottom, #leading)

@mixin baseline-dimensions($msi: 0, $pt: 0, $pb: 0, $l: $alpha-leading) {

	@if $msi == 0 {
		font-size: 1em;
		line-height: ((ceil($alpha-font-size/$alpha-baseline-grid)*$alpha-baseline-grid)+($alpha-baseline-grid*$l))/$alpha-font-size;

		@if $pt > 0 {
			padding-top: $alpha-baseline-grid/$alpha-font-size*$pt*1em;
		}

		@if $pb > 0 {
			padding-bottom: $alpha-baseline-grid/$alpha-font-size*$pb*1em;
		}
	}

	@if $msi != 0 {
		font-size: ms($msi)/$alpha-font-size*1em;
		line-height: ((ceil(ms($msi)/$alpha-baseline-grid)*$alpha-baseline-grid)+($alpha-baseline-grid*$l))/(ms($msi));

		@if $pt > 0 {
			padding-top: $alpha-baseline-grid*$pt/ms($msi)*1em;
		}

		@if $pb > 0 {
			padding-bottom: $alpha-baseline-grid*$pb/ms($msi)*1em;
		}
	}

}
