/*
    Trumps: Spacing
    ---
    Utility classes for spacing
*/

// margin-bottom

.u-mb-0 {
    margin-bottom: 0;
}

.u-mb-0-5 {
    @include margin-bottom(.5);
}

.u-mb-1 {
    @include margin-bottom(1);
}

.u-mb-2 {
    @include margin-bottom(2);
}

// padding-bottom

.u-pb-0 {
    padding-bottom: 0;
}

.u-pb-0-5 {
    @include padding-bottom(.5);
}

.u-pb-1 {
    @include padding-bottom(1);
}

.u-pb-2 {
    @include padding-bottom(2);
}

// padding-top

.u-pt-0 {
    padding-top: 0;
}

.u-pt-0-5 {
    @include padding-top(.5);
}

.u-pt-1 {
    @include padding-top(1);
}

.u-pt-2 {
    @include padding-top(2);
}
