/*
    Trumps: Spacing
    ---
    Utility classes for spacing
*/

// margin-bottom

.u-mb0 {
	margin-bottom: 0;
}

.u-mb0_5 {
	@include margin-bottom(.5);
}

.u-mb1 {
	@include margin-bottom(1);
}

.u-mb2 {
	@include margin-bottom(2);
}

// padding-bottom

.u-pb0 {
	padding-bottom: 0;
}

.u-pb0_5 {
	@include padding-bottom(.5);
}

.u-pb1 {
	@include padding-bottom(1);
}

.u-pb2 {
	@include padding-bottom(2);
}

// padding-top

.u-pt0 {
	padding-top: 0;
}

.u-pt0_5 {
	@include padding-top(.5);
}

.u-pt1 {
	@include padding-top(1);
}

.u-pt2 {
	@include padding-top(2);
}