/*
    Trumps: Borders
    ---
    Borders that could be used to create dividers between elements.
*/

// Predefine the variables below in order to alter and enable specific features.

// @TODO: define namespace variable

$border-color: $gamma-ui-color !default;
$border-width: 1px !default;
$border-style: solid !default;

.u-border {
    border-top: $border-width $border-style $border-color;
    border-left: $border-width $border-style $border-color;
    border-right: $border-width $border-style $border-color;
    border-bottom: $border-width $border-style $border-color;
}

.u-border-lr {
    border-left: $border-width $border-style $border-color;
    border-right: $border-width $border-style $border-color;
}

.u-border-top {
    border-top: $border-width $border-style $border-color;
}

.u-border-bottom {
    border-bottom: $border-width $border-style $border-color;
}

.u-border-tb {
    border-top: $border-width $border-style $border-color;
    border-bottom: $border-width $border-style $border-color;
}
