/*
    Trumps: Pull
    ---
    Pull elements
*/

// Loop through each of our column sizes and generate its pull classes.
// eg. u-pull-1-of-2

@each $column in $columns {
    @include pull($column);
}

// -bp1 breakpoint
// eg. u-pull-1-of-2-bp1

@include mq($bp1) {
    @each $column in $columns {
        @include pull($column, -bp1);
    }
}

// -bp2 breakpoint
// eg. u-pull-1-of-2-bp2

@include mq($bp2) {
    @each $column in $columns {
        @include pull($column, -bp2);
    }
}

// -bp3 breakpoint
// eg. u-pull-1-of-2-bp3

@include mq($bp3) {
    @each $column in $columns {
        @include pull($column, -bp3);
    }
}

// -bp4 breakpoint
// eg. u-pull-1-of-2-bp4

@include mq($bp4) {
    @each $column in $columns {
        @include pull($column, -bp4);
    }
}

// -bp5 breakpoint
// eg. u-pull-1-of-2-bp5

@include mq($bp5) {
    @each $column in $columns {
        @include pull($column, -bp5);
    }
}