/*
    Utilities: Colors
    ---
    Background color utilities
*/

.u-bgcolor-neutral-x-light { background-color: palette(color-neutral,x-light); }
.u-bgcolor-neutral-light { background-color: palette(color-neutral,light); }
.u-bgcolor-neutral { background-color: palette(color-neutral); }
.u-bgcolor-neutral-dark { background-color: palette(color-neutral,dark); }
.u-bgcolor-neutral-x-dark { background-color: palette(color-neutral,x-dark); }

.u-bgcolor-alpha-light { background-color: palette(color-alpha,light); }
.u-bgcolor-alpha { background-color: palette(color-alpha); }
.u-bgcolor-alpha-dark { background-color: palette(color-alpha,dark); }
.u-bgcolor-alpha-x-dark { background-color: palette(color-alpha,x-dark); }

.u-bgcolor-beta-light { background-color: palette(color-beta,light); }
.u-bgcolor-beta { background-color: palette(color-beta); }
.u-bgcolor-beta-dark { background-color: palette(color-beta,dark); }
.u-bgcolor-beta-x-dark { background-color: palette(color-beta,x-dark); }
