/*
    Utilities: Spacing
    ---
    Utility classes for spacing
*/

// ---
// Variables
// ---

$increments: (
    alpha                       : 0,
    beta                        : .5,
    gamma                       : 1,
    delta                       : 1.5,
    epsilon                     : 2
) !default;

// ---
// Styles
// ---

// Loop through the increments map and get the value.
@each $increment, $value in $increments {

    // Increment utility class (e.g. .u-mb-alpha)
    .u-mb-#{$increment} {
        @include margin-bottom($value);
    }
}
