/*
    Utilities: Colors
    ---
    Foreground & background color utilities
*/

// ---
// Variables
// ---



// ---
// Styles
// ---

// Colors

.u-color-neutral-x-light { color: palette(color-neutral,x-light); }
.u-color-neutral-light { color: palette(color-neutral,light); }
.u-color-neutral { color: palette(color-neutral); }
.u-color-neutral-dark { color: palette(color-neutral,dark); }
.u-color-neutral-x-dark { color: palette(color-neutral,x-dark); }

.u-color-alpha-light { color: palette(color-alpha,light); }
.u-color-alpha { color: palette(color-alpha); }
.u-color-alpha-dark { color: palette(color-alpha,dark); }
.u-color-alpha-x-dark { color: palette(color-alpha,x-dark); }

.u-color-beta-light { color: palette(color-beta,light); }
.u-color-beta { color: palette(color-beta); }
.u-color-beta-dark { color: palette(color-beta,dark); }
.u-color-beta-x-dark { color: palette(color-beta,x-dark); }

// Background colors

.u-bgcolor-neutral-x-light { background-color: palette(color-neutral,x-light); }
.u-bgcolor-neutral-light { background-color: palette(color-neutral,light); }
.u-bgcolor-neutral { background-color: palette(color-neutral); }
.u-bgcolor-neutral-dark { background-color: palette(color-neutral,dark); }
.u-bgcolor-neutral-x-dark { background-color: palette(color-neutral,x-dark); }

.u-bgcolor-alpha-light { background-color: palette(color-alpha,light); }
.u-bgcolor-alpha { background-color: palette(color-alpha); }
.u-bgcolor-alpha-dark { background-color: palette(color-alpha,dark); }
.u-bgcolor-alpha-x-dark { background-color: palette(color-alpha,x-dark); }

.u-bgcolor-beta-light { background-color: palette(color-beta,light); }
.u-bgcolor-beta { background-color: palette(color-beta); }
.u-bgcolor-beta-dark { background-color: palette(color-beta,dark); }
.u-bgcolor-beta-x-dark { background-color: palette(color-beta,x-dark); }
