//
// Comment or uncomment whatever you need in this file.
//

// Settings: open and tweak this file.

	@import "settings";

// Vendor Dependencies: add things like bourbon or compass imports here.

	// @import "compass";

// Shared: do not delete any of this.

	@import "shared/functions";
	@import "shared/extends";
	@import "shared/mixins";
	@import "shared/grid";
	@import "shared/typography";
	@import "shared/ui";

// Patterns: feel free to include only what you need.

	@import "patterns/reset";
	@import "patterns/grid";
	@import "patterns/colors";
	@import "patterns/buttons";
	@import "patterns/alerts";
	@import "patterns/pagination";
	@import "patterns/helpers";
	@import "patterns/media";
	@import "patterns/tables";
	@import "patterns/icons";

// Theme: feel free to delete any or all.

	@import "theme/base";
	@import "theme/typography";
	@import "theme/forms";
	@import "theme/debug";

	// Theme Demo Modules: for boilerplate purpose only. Replace this with your own modules.

		@import "theme/modules/frame";
		@import "theme/modules/home";
		@import "theme/modules/styleguide";
		@import "theme/modules/styleguide-syntax";
		@import "theme/modules/grid";

// Print

	@media print {@import "theme/print";}
