//
//	Comment or uncomment whatever you need in this file.
//

// Settings: open and tweak this file.

	@import "settings";

// Vendor Dependencies: do not delete this.

	@import "compass"; // http://compass-style.org/install

// Shared: do not delete any of this.

	@import "shared/grid";
	@import "shared/typography";
	@import "shared/ui";
	@import "shared/patterns";
	@import "shared/functions";

// Theme: feel free to delete any or all.

	@import "theme/reset";
	@import "theme/base";
	@import "theme/frame";
	@import "theme/forms";
	@import "theme/usercontent";

// Demo Modules: for demo purpose only. Replace this with your own modules.

	@import "theme/modules/main";
	@import "theme/modules/intro";
	@import "theme/modules/demo-grid";
	@import "theme/modules/demo-forms";

// Print

	@media print {@import "theme/print";}
