// Clearfix.
// @extend %clearfix;

%clearfix {
	*zoom : 1;

	&:before,
	&:after {
		display: table;
		content : "";
	}

	&:after {
		clear : both;
	}
}

// Prevent Long URL’s From Breaking Out of Container.
// http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container

%word-break {
	word-break: break-all;
	hyphens: auto;
}
