//
// User Interface Elements
//

// Button sizes

@mixin btn-lg {
	@include px-padding-lr(1.5,1.5);
	@include input-dimensions($ms-1,1,0,1.05,.95);
}

@mixin btn-md {
	@include px-padding-lr(1.25,1.25);
	@include input-dimensions($ms-1,1,0,.8,.7);
}

@mixin btn-sm {
	@include px-padding-lr(.75,.75);
	@include input-dimensions($ms-2,1,0,.55,.45);
}

// Button display

@mixin btn-inlineblock {
	display: inline-block;
	width: auto;
}

@mixin btn-float($float:left) {
	display: block;
	float: $float;
}

// Button color
// use: @mixin btn-color(color1[,color2]);

@mixin btn-color($c1: $alpha-ui-color, $c2: lighten($c1, $depth)) {

	border: $border-width $border-style $c1;

	background-color: $c1;
	@if $depth > 0 {
		background-image: linear-gradient($c1, $c2);
	}

	@if $highlight {
		box-shadow: inset 0 1px 0 rgba(#FFF, $highlight/100%);
	}

	@include text-color($c1);

	&:hover,
	&:focus {
		border: $border-width $border-style lighten($c1, 100-$contrast);
		background-color: lighten($c1, 100-$contrast);
		@if $depth > 0 {
			background-image: linear-gradient(lighten($c1, 100-$contrast), lighten($c2, 100-$contrast));
		}
		@include text-color(lighten($c1, 100-$contrast));

	}

	&:active {
		background-color: lighten($c1, 100-$contrast);
		@if $depth > 0 {
			background-image: linear-gradient(lighten($c2, 100-$contrast), lighten($c1, 100-$contrast));
		}

		box-shadow: none;
		@include text-color(lighten($c1, 100-$contrast));
	}

	&:visited {
		@include text-color($c1);
	}
}

// Inputs

@mixin baseline-dimensions-form($msi: 0, $pt: 0, $pb: 0, $l: $alpha-leading) {

	@include baseline-dimensions($msi, $pt, $pb, $l);

	@if $msi == 0 {
		$line-height: ((ceil($alpha-font-size/$alpha-baseline-grid)*$alpha-baseline-grid)+($alpha-baseline-grid*$l))/$alpha-font-size;
		$padding-top: $alpha-baseline-grid/$alpha-font-size*$pt*1em;
		$padding-bottom: $alpha-baseline-grid/$alpha-font-size*$pb*1em;
		height: $line-height + $padding-top + $padding-bottom;
	}

	@if $msi != 0 {
		$line-height: ((ceil(ms($msi)/$alpha-baseline-grid)*$alpha-baseline-grid)+($alpha-baseline-grid*$l))/(ms($msi));
		$padding-top: $alpha-baseline-grid*$pt/ms($msi)*1em;
		$padding-bottom: $alpha-baseline-grid*$pb/ms($msi)*1em;
		height: $line-height + $padding-top + $padding-bottom;
	}

}

@mixin input-lg {
	@include px-padding-lr(1,1);
	@include input-dimensions($ms-1,1,0,1,1);
}

@mixin input-md {
	@include px-padding-lr(.75,.75);
	@include input-dimensions($ms-1,1,0,.75,.75);
}

@mixin input-sm {
	@include px-padding-lr(.5,.5);
	@include input-dimensions($ms-2,1,0,.5,.5);
}

// Pre- & postfix mixins

@mixin postfix {
	border-radius: 0 $radius $radius 0;
	border-left: 0;
}

@mixin prefix {
	border-radius: $radius 0 0 $radius;
	border-right: 0;
}

// Alerts

%alert {
	position: relative;
	padding: em($alpha-baseline-grid*2) em($alpha-baseline-grid*3);
	@include margin-bottom(1);
	cursor: pointer;
	@include block-skin;

	a {
		text-decoration: underline;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	a.close {
		position: absolute;
		top: #{$alpha-line-height/2}em;
		right: #{$alpha-line-height/2}em;
		display: block;
		line-height: 1;
		text-decoration: none;
	}

	p {
		margin-bottom: 0;
		// @include text-dimensions($alpha-font-size,1);
	}
}

@mixin alert {
	@extend %alert;

	strong {@include text-color($gamma-ui-color);}

	a {
		@include text-color($gamma-ui-color);
	}
}

@mixin alert-error {
	@extend %alert;
	@include block-skin($error-color);

	strong {@include text-color($error-color);}

	a {
		@include text-color($error-color);
	}
}

@mixin alert-success {
	@extend %alert;
	@include block-skin($success-color);

	strong {@include text-color($success-color);}

	a {
		@include text-color($success-color);
	}
}

@mixin alert-notice {
	@extend %alert;
	@include block-skin($notice-color);

	strong {@include text-color($notice-color);}

	a {
		@include text-color($notice-color);
	}
}

//
// Pagination mixin
//

%pagination {
	@extend %clearfix;
	width: 100%;
	overflow: hidden;

	ul {
		margin: #{$alpha-line-height}em 0;
		@include horizontal-nav;
	}

	a,
	span {
		display: block;
		float: left;
	}

}

@mixin pagination {
	@extend %pagination;
}

@mixin pagination-centered {
	@extend %pagination;

	.inner {
		float: left;
		position: relative;
		left: 50%;
	}

		ul {
			overflow: hidden;
			position: relative;
			left: -50%;
		}
}
