/*
	module: intro
*/

.intro-holder {
	@include padding-top(2);
}

.intro {

	h1 {
		font-weight: 300;
	}

	p {
		font-style: italic;
	}

}

/* media queries
-------------------------------------- */

@media only screen and (min-width: $bp2) {

	.intro {
		@include box-(12,1,1);
	}

}

@media only screen and (min-width: $bp4) {

	.intro-holder {
		@include padding-top(2);
	}

	.intro h1 {
		@include font-dimensions(72,4,1);
	}

}