/*
  Buttons
*/

.btn {
	display: inline-block;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: $radius;
	font-family: $alpha-font-family;
	font-weight: $beta-font-weight;
	transition: all .1s ease-in-out;
	transition-property: background, color, border;
	outline: none;
	line-height: normal;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	-webkit-font-smoothing: antialiased;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:active {
		outline: 0;
		background-image: none;
	}

	@include btn-md;

}

// btn display

.btn--block {
	display: block;
	width: 100%;
}

.btn--fll {
	@include btn-float(left);
}

.btn--flr {
	@include btn-float(right);
}

// btn sizes

.btn--sm {
	@include btn-sm;
}

.btn--lg {
	@include btn-lg;
}

// colors

.btn--alpha-ui {
	background-color: $alpha-ui-color;
	border-color: $alpha-ui-color;

	&,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:focus {
		background-color: lighten($alpha-ui-color,10);
		color: #fff;
	}

	&:active {
		background-color: $alpha-ui-color;
	}

}

.btn--beta-ui {
	background-color: $beta-ui-color;
	border-color: $beta-ui-color;

	&,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:focus {
		background-color: lighten($beta-ui-color,10);
		color: #fff;
	}

	&:active {
		background-color: $beta-ui-color;
	}
}

// btn-group

.btn-group {
	@extend %clearfix;
	position: relative;

	.btn--fll {
		@include px-margin-right(1);
	}

	.btn--flr {
		@include px-margin-right(1);
	}

}

// firefox inner border fix

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}