<p>
    Different types
</p>
<p>
	<a class="btn btn--alpha-ui" href="#" role="button">Link</a>
    <button class="btn btn--alpha-ui" type="submit">Button</button>
    <input class="btn btn--alpha-ui" type="button" value="Input">
    <input class="btn btn--alpha-ui" type="submit" value="Submit">
</p>
<p>
    Button colors
</p>
<p>
    <a class="btn btn--alpha-ui" href="#" role="button">Alpha ui</a>
    <a class="btn btn--beta-ui" href="#" role="button">Beta ui</a>
</p>
<p>
    Button row
</p>
<p class="btn-row">
    <a href="#" class="btn btn--alpha-ui btn--fll">Button 1</a>
    <a href="#" class="btn btn--beta-ui btn--fll">Button 2</a>
    <a href="#" class="btn btn--beta-ui btn--flr">Button 3</a>
</p>
<p>
    Button sizes
</p>
<p>
    <a class="btn btn--alpha-ui btn--sm" href="#" role="button">Small button</a>
    <a class="btn btn--alpha-ui" href="#" role="button">Normal button</a>
    <a class="btn btn--alpha-ui btn--lg" href="#" role="button">Big button</a>
</p>
<p>
    Block button
</p>
<p>
    <a href="#" class="btn btn--alpha-ui btn--block">Block Button</a>
</p>
