<h3>Text colors</h3>
<div class="row">
	<div class="grid-4">
		<div class="color alpha-text-color"></div>
		<p>$alpha-text-color</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-text-color-light"></div>
		<p>$alpha-text-color-light</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-text-color-dark"></div>
		<p>$alpha-text-color-dark</p>
	</div>
</div>

<div class="row">
	<div class="grid-4">
		<div class="color beta-text-color"></div>
		<p>$beta-text-color</p>
	</div>
	<div class="grid-4">
		<div class="color beta-text-color-light"></div>
		<p>$beta-text-color-light</p>
	</div>
	<div class="grid-4">
		<div class="color beta-text-color-dark"></div>
		<p>$beta-text-color-dark</p>
	</div>
</div>

<h3>UI colors</h3>

<div class="row">
	<div class="grid-4">
		<div class="color alpha-ui-color"></div>
		<p>$alpha-ui-color</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-ui-color-light"></div>
		<p>$alpha-ui-color-light</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-ui-color-dark"></div>
		<p>$alpha-ui-color-dark</p>
	</div>
</div>

<div class="row">
	<div class="grid-4">
		<div class="color beta-ui-color"></div>
		<p>$beta-ui-color</p>
	</div>
	<div class="grid-4">
		<div class="color beta-ui-color-light"></div>
		<p>$beta-ui-color-light</p>
	</div>
	<div class="grid-4">
		<div class="color beta-ui-color-dark"></div>
		<p>$beta-ui-color-dark</p>
	</div>
</div>

<div class="row">
	<div class="grid-4">
		<div class="color gamma-ui-color"></div>
		<p>$gamma-ui-color</p>
	</div>
	<div class="grid-4">
		<div class="color gamma-ui-color-light"></div>
		<p>$gamma-ui-color-light</p>
	</div>
	<div class="grid-4">
		<div class="color gamma-ui-color-dark"></div>
		<p>$gamma-ui-color-dark</p>
	</div>
</div>

<div class="row">
	<div class="grid-4">
		<div class="color delta-ui-color"></div>
		<p>$delta-ui-color</p>
	</div>
	<div class="grid-4">
		<div class="color delta-ui-color-light"></div>
		<p>$delta-ui-color-light</p>
	</div>
	<div class="grid-4">
		<div class="color delta-ui-color-dark"></div>
		<p>$delta-ui-color-dark</p>
	</div>
</div>

<h3>Link colors</h3>

<div class="row">
	<div class="grid-4">
		<div class="color alpha-link-color"></div>
		<p>$alpha-link-color</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-link-colorhover"></div>
		<p>$alpha-link-colorhover</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-link-colorfocus"></div>
		<p>$alpha-link-colorfocus</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-link-coloractive"></div>
		<p>$alpha-link-coloractive</p>
	</div>
	<div class="grid-4">
		<div class="color alpha-link-colorvisited"></div>
		<p>$alpha-link-colorvisited</p>
	</div>
</div>

