    <h3>Text colors</h3>
    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-text"></div>
            <p>$alpha-text-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-text-light"></div>
            <p>$alpha-text-color-light</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-text-dark"></div>
            <p>$alpha-text-color-dark</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-beta-text"></div>
            <p>$beta-text-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-beta-text-light"></div>
            <p>$beta-text-color-light</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-beta-text-dark"></div>
            <p>$beta-text-color-dark</p>
        </div>
    </div>

    <h3>UI colors</h3>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-ui"></div>
            <p>$alpha-ui-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-ui-light"></div>
            <p>$alpha-ui-color-light</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-ui-dark"></div>
            <p>$alpha-ui-color-dark</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-beta-ui"></div>
            <p>$beta-ui-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-beta-ui-light"></div>
            <p>$beta-ui-color-light</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-beta-ui-dark"></div>
            <p>$beta-ui-color-dark</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-gamma-ui"></div>
            <p>$gamma-ui-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-gamma-ui-light"></div>
            <p>$gamma-ui-color-light</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-gamma-ui-dark"></div>
            <p>$gamma-ui-color-dark</p>
        </div>
    </div>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-delta-ui"></div>
            <p>$delta-ui-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-delta-ui-light"></div>
            <p>$delta-ui-color-light</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-delta-ui-dark"></div>
            <p>$delta-ui-color-dark</p>
        </div>
    </div>

    <h3>Link colors</h3>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-link"></div>
            <p>$alpha-link-color</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-link-hover"></div>
            <p>$alpha-link-colorhover</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-link-focus"></div>
            <p>$alpha-link-colorfocus</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-link-active"></div>
            <p>$alpha-link-coloractive</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-alpha-link-visited"></div>
            <p>$alpha-link-colorvisited</p>
        </div>
    </div>

    <h3>Greyscale of alpha-ui-color</h3>

    <div class="row">
        <div class="grid-4">
            <div class="c-color u-bgcolor-grey-00"></div>
            <p>$grey-00</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-grey-01"></div>
            <p>$grey-01</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-grey-02"></div>
            <p>$grey-02</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-grey-03"></div>
            <p>$grey-03</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-grey-04"></div>
            <p>$grey-04</p>
        </div>
        <div class="grid-4">
            <div class="c-color u-bgcolor-grey-05"></div>
            <p>$grey-05</p>
        </div>
    </div>
