<h3>Example 1: Standard contact form </h3>

<form action="#" method="post">
    <div class="o-alert-box o-alert-box-error">
        <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
        <a href="#" class="close">&times;</a>
    </div>
    <fieldset>
        <p>
            <label for="form-field-1">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-1" type="text" placeholder="Full Name" />
        </p>
        <p>
            <label for="form-field-2">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-2" type="text" placeholder="Full Name" />
        </p>
        <p>
            <label for="form-field-3">Email address<abbr title="Required field">*</abbr></label>
            <input id="form-field-3" class="c-input--error" type="email" placeholder="email@address.com" />
            <span class="c-form__error">This field is required.</span>
        </p>
        <p>
            <label for="form-field-4">Message<abbr title="Required field">*</abbr></label>
            <textarea id="form-field-4" rows="5" cols="30"></textarea>
        </p>
        <p>
            <button type="submit" class="o-btn o-btn--alpha-ui">Send</button>
        </p>
    </fieldset>
</form>

<h3>Example 3: Form built with grids</h3>

<form action="#" method="post">
    <fieldset>
        <div class="row">
            <p class="col bp3-grid-6">
                <label>Name<abbr title="Required field">*</abbr></label>
                <input type="text" placeholder="Full Name" />
            </p>
            <p class="col bp3-grid-6">
                <label>Email address<abbr title="Required field">*</abbr></label>
                <input type="email" placeholder="email@address.com" />
            </p>
        </div>

        <div class="row">
            <p class="col bp3-grid-8">
                <label>Street<abbr title="Required field">*</abbr></label>
                <input type="text" placeholder="Street" />
            </p>
            <p class="col bp3-grid-4">
                <label>Number<abbr title="Required field">*</abbr></label>
                <input type="text" placeholder="Number" />
            </p>
        </div>

        <div class="row">
            <p class="col bp3-grid-4">
                <label>Zip code<abbr title="Required field">*</abbr></label>
                <input type="text" placeholder="Zip code" />
            </p>
            <p class="col bp3-grid-8">
                <label>City<abbr title="Required field">*</abbr></label>
                <input type="text" placeholder="City" />
            </p>
        </div>

        <div class="row">
            <p class="col">
                <label>Message<abbr title="Required field">*</abbr></label>
                <textarea rows="5" cols="30"></textarea>
            </p>
        </div>

        <div class="row">
            <p class="col o-btn-group">
                <button type="submit" class="o-btn o-btn--fll o-btn--lg o-btn--alpha-ui">Volgende</button>
                <a href="#" class="o-btn o-btn-fll o-btn--lg o-btn--beta-ui">Vorige</a>
            </p>
        </div>
    </fieldset>
</form>

<hr />

<h3>Example 4: Form with pre- en postfixes</h3>
<form class="c-example-form-grid" action="#" method="post">
    <fieldset>
        <div class="row c-oneliner">
            <p class="c-prefix">
                <input class="c-input--sm" type="email" placeholder="email@address.com" />
            </p>
            <p class="c-postfix">
                <button class="o-btn o-btn--sm o-btn--beta-ui" type="submit" class="o-btn">Send</button>
            </p>
        </div>
    </fieldset>
</form>
<form class="c-example-form-grid" action="#" method="post">
    <fieldset>
        <div class="row c-oneliner">
            <p class="c-prefix">
                <input type="email" placeholder="email@address.com" />
            </p>
            <p class="c-postfix">
                <button class="o-btn o-btn--alpha-ui" type="submit" class="o-btn">Send</button>
            </p>
        </div>
    </fieldset>
</form>
<form class="c-example-form-grid" action="#" method="post">
    <fieldset>
        <div class="row c-oneliner">
            <p class="c-prefix">
                <input class="c-input--lg" type="email" placeholder="email@address.com" />
            </p>
            <p class="c-postfix">
                <button class="o-btn o-btn--lg o-btn--beta-ui" type="submit" class="o-btn">Send</button>
            </p>
        </div>
    </fieldset>
</form>

<hr />

<h3>Example 5: overview of all input elements</h3>
<form action="#" method="post">
    <fieldset>
        <div>
            <p>
                <label>Text input</label>
                <input id="" type="text">
            </p>
        </div>
        <div>
            <p>
                <label>Text input with placeholder</label>
                <input type="text" placeholder="I'm placeholder text">
            </p>
        </div>
        <div>
            <p>
                <label>Readonly input</label>
                <input type="text" value="Read only text input" readonly>
            </p>
        </div>
        <div>
            <p>
                <label>Disabled input</label>
                <input type="text" value="Disabled text input" disabled>
            </p>
        </div>
        <div>
            <p>
                <label>Required input <span class="required">*</span></label>
                <input type="text" required>
            </p>
        </div>
        <div>
            <p>
                <label>Email input</label>
                <input type="email">
            </p>
        </div>
        <div>
            <p>
                <label>Search input</label>
                <input type="search">
            </p>
        </div>
        <div>
            <p>
                <label>Speech recognition input</label>
                <input type="text" id="speech" name="speech" x-webkit-speech="">
            </p>
        </div>
        <div>
            <p>
                <label>Tel input</label>
                <input type="tel">
            </p>
        </div>
        <div>
            <p>
            <label>Phone (International)</label>
            <input name="field_country_code" maxlength="3" /> -
            <input name="field_city_code" maxlength="4" />
            -
            <input name="field_phone_int" maxlength="8" />
            </p>
        </div>
        <div>
            <p>
                <label>URL input</label>
                <input type="url" placeholder="http://">
            </p>
        </div>
        <div>
            <p>
                <label>Password input</label>
                <input type="password" value="password">
            </p>
        </div>
        <div>
            <p><label>Select field</label>
                <select>
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </p>
        </div>
        <div>
            <p>
                <label>Multiple select field</label>
                <select multiple size="5">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                    <option>Option 6</option>
                    <option>Option 7</option>
                    <option>Option 8</option>
                    <option>Option 9</option>
                    <option>Option 10</option>
                </select>
            </p>
        </div>
        <div>
            <p>
                <input class="c-input--option c-input--radio" type="radio" id="radio-1" name="rad">
                <label class="c-label--option c-label--radio" for="radio-1">Radio input</label>
            </p>
        </div>
        <div>
            <p>
                <input class="c-input--option c-input--checkbox" id="checkbox-1" id="checkbox-1"  type="checkbox">
                <label class="c-label--option c-label--checkbox" for="checkbox-1">Checkbox input</label>
            </p>
        </div>
        <div>
            <p>
                <label>File input</label>
                <input type="file">
            </p>
        </div>
        <div>
            <p>
                <label>Textarea</label>
                <textarea cols="30" rows="5" >Textarea text</textarea>
            </p>
        </div>
        <div>
            <p>
                <label>Color input</label>
                <input type="color" value="#000000">
            </p>
        </div>
        <div>
            <p>
                <label>Number input</label>
                <input type="number" value="5" min="0" max="10">
            </p>
        </div>
        <div>
            <p>
                <label>Range input</label>
                <input type="range" id="range" value="0" min="0" max="100">
                <output for="range">
                    0
                </output>
                <script>
                    if (document.querySelector) {
                        document.querySelector('#range').onchange = function(e) {
                            e.target.nextElementSibling.innerText = e.target.value;
                        }
                    }
                </script>
            </p>
        </div>
        <div>
            <p>
                <label>Date input</label>
                <input type="date">
            </p>
        </div>
        <div>
            <p>
                <label>Month input</label>
                <input type="month">
            </p>
        </div>
        <div>
            <p>
                <label>Week input</label>
                <input type="week">
            </p>
        </div>
        <div>
            <p>
                <label>Time input</label>
                <input type="time">
            </p>
        </div>
        <div>
            <p>
                <label>Datetime input</label>
                <input type="datetime">
            </p>
        </div>
        <div>
            <p>
                <label>Datetime-local input</label>
                <input type="datetime-local">
            </p>
        </div>
    </fieldset>
</form>
