<div class="row">
  <article class="media">
    <div class="media__img grid-3">
      <img src="http://placekitten.com/400/400" alt="placekitten" />
    </div>
    <div class="media__body">
      The media object is an image to the left, with descriptive content to the right. The content area on the right can contain any other objects. In this case, it contains text, but we could put lists, grids, or even other media objects inside.
    </div>
  </article>

  <article class="media">
    <div class="media__img--rev grid-3">
      <img src="http://placekitten.com/400/400" alt="placekitten" />
    </div>
    <div class="media__body">
      The media object is an image to the left, with descriptive content to the right. The content area on the right can contain any other objects. In this case, it contains text, but we could put lists, grids, or even other media objects inside.
    </div>
  </article>
</div>
