<div class="pagination">
	<div class="inner">
		<ul>
			<li class="previous-page"><span>&lt; Vorige</span></li>
			<li class="current-page"><span>1</span></li>
			<li><a href="#" title="Ga naar pagina 2" rel="nofollow">2</a></li>
			<li><a href="#" title="Ga naar pagina 3" rel="nofollow">3</a></li>
			<li class="ellipsis"><span>&hellip;</span></li>
			<li><a href="#" title="Ga naar pagina 130" rel="nofollow">130</a></li>
			<li><a href="#" title="Ga naar pagina 131" rel="nofollow">131</a></li>
			<li class="next-page"><a href="#" rel="next nofollow" title="Volgende">Volgende &gt;</a></li>
		</ul>
	</div>
</div>

<div class="pagination-centered">
	<div class="inner">
		<ul>
			<li class="previous-page"><span>&lt; Vorige</span></li>
			<li class="current-page"><span>1</span></li>
			<li><a href="#" title="Ga naar pagina 2" rel="nofollow">2</a></li>
			<li><a href="#" title="Ga naar pagina 3" rel="nofollow">3</a></li>
			<li class="ellipsis"><span>&hellip;</span></li>
			<li><a href="#" title="Ga naar pagina 130" rel="nofollow">130</a></li>
			<li><a href="#" title="Ga naar pagina 131" rel="nofollow">131</a></li>
			<li class="next-page"><a href="#" rel="next nofollow" title="Volgende">Volgende &gt;</a></li>
		</ul>
	</div>
</div>
