/*
	Chopstick frame
*/

.holder {
	@include padding-tb(1,0);
}

.row {
	@extend %clearfix;
	margin: 0 auto;
	max-width: 33em;
	@include px-padding-lr(.5,.5);
}

/*
	header
*/

.logo {
	@include font-dimensions(16,1,1);
}

.header .inner {
	border-bottom: 1px solid lighten($textcolor,60);
	@extend %clearfix;
}

.main-nav {
	@include list-nav();
	@include font-dimensions(16,1,1);
	font-family: $basefont;
	@extend %clearfix;
}

/*
	doormat
*/

.doormat-holder {
	@include padding-bottom(1);
}

/* 
	footer
*/

.footer-holder {
//	border-top: 1px solid lighten($textcolor,60);
	background-color: lighten($textcolor,70);
	@include padding-top(1);
}



/* media queries
------------------------------------------ */

@include respond-min($bp-min-w3-em) {
	
	.row {
		padding: 0;
	}
	
	.logo {
		float: left;
		@include font-dimensions(14,1,1);
	}
	
	.main-nav {	
		@include horizontal-nav();
		float: right;
		@include font-dimensions(14,1,1);
		
		li {
			@include px-margin-lr(1,0);
		}
		
		a {
			color: lighten($color3,20);
			text-decoration: none;
		}
		
		a:hover,
		.selected a {
			color: darken($color3,10);
		}
		
	}
	
	.intro-holder {
		@include padding-top(2);
	}
	
}

@include respond-min($bp-min-w4-em) {
	
	.holder {
		@include padding-tb(1,1);
	}
	
	.header {
		@include box-(12,1,1);
	}
	
	.row {
		max-width: #{$contextGridTotalWidth}px;
	}
	
	.doormat-holder {
		@include padding-bottom(2);
	}
	
	.doormat-col-4 {
		@include box-(6,1,1);
	}
	
	.footer-holder {
		padding-bottom: 0;
	}
	
	.footer {
		@include box-(12,1,1);
	}
	
}

@include respond-min($bp-min-w5-em) {
	
	.doormat-col-4 {
		@include box-(4,1,1);
	}
	
}