/*
	Chopstick frame
*/

.holder {
	@include padding-tb(1,0);
	background-color: #fff;
}

.row {
	@extend %clearfix;
	margin: 0 auto;
	max-width: 36em;
	@include em-padding-lr(.5,.5);

	.row {
		padding: 0;
	}

}

/*
	header
*/

.logo {
	font-family: $basefontserif;
	font-style: italic;
	font-weight: normal;
	@include font-dimensions(16,1,1);
}

.header .inner {
	border-bottom: 1px solid lighten($darkcolor,60);
	@extend %clearfix;
	@include padding-bottom(1);
}

.main-nav {
	@include list-nav;
	@include font-dimensions(16,1,0);
	font-family: $basefont;
	@extend %clearfix;

	a {
		color: lighten($darkcolor,50);
		text-decoration: none;
		font-weight: bold;
	}

	a:hover,
	.selected a {
		color: darken($primarycolor,0);
	}

}

/*
	doormat
*/

.doormat-holder {
	@include padding-bottom(1);
}

/*
	footer
*/

.footer-holder {
	background-color: $darkcolor;
	color: lighten($darkcolor,70);
	@include padding-top(1);
}



/* media queries
------------------------------------------ */

@media only screen and (min-width: $bp1) {

}

@media only screen and (min-width: $bp2) {

	.row {
		padding: 0;

		.row {
			@include px-margin-lr(-1,-1);
		}

	}

	.header,
	.footer,
	.doormat-col-4 {
		@include box-(12,1,1);
	}

}

@media only screen and (min-width: $bp3) {

	.logo {
		float: left;
		@include font-dimensions(14,1,0);
	}

	.main-nav {
		@include horizontal-nav();
		float: right;
		@include font-dimensions(14,1,0);

		li {
			@include px-margin-lr(1,0);
		}

	}

	.intro-holder {
		@include padding-top(2);
	}

}

@media only screen and (min-width: $bp4) {

	.holder {
		@include padding-tb(1,1);
	}

	.row {
		max-width: #{$contextGridWidth}px;
		// max-width: $bp5; // this is not the same since we increase the font-size at certain breakpoints so the em-value increases too.
	}

	.header-holder {
		@include padding-top(0);

		.inner {
			@include padding-tb(2,.5);
		}

	}

	.header {
		@include box-(12,1,1);
	}

	.doormat-holder {
		@include padding-bottom(2);
	}

	.footer-holder {
		padding-bottom: 0;
	}

	.footer {
		@include box-(12,1,1);
	}

	.doormat-col-4 {
		@include box-(4,1,1);
	}
}