//
// Comment or uncomment whatever you need in this file.
//

// Settings: open and tweak this file.

	@import "settings";

// Vendor Dependencies: add things like bourbon or compass imports here.

	// @import "compass";

// Shared: do not delete any of this.

	@import "shared/functions";
	@import "shared/mixins";
	@import "shared/grid";
	@import "shared/typography";
	@import "shared/ui";

// Patterns: feel free to include only what you need.

	@import "patterns/reset";
	@import "patterns/forms";
	@import "patterns/alerts";
	@import "patterns/pagination";
	@import "patterns/helpers";

// Theme: feel free to delete any or all.

	@import "theme/base";
	@import "theme/frame";

	// Theme Demo Modules: for demo purpose only. Replace this with your own modules.

		@import "theme/modules/main";
		@import "theme/modules/intro";
		@import "theme/modules/demo-grid";
		@import "theme/modules/demo-forms";

// Print

	@media print {@import "theme/print";}
