---
layout: default
title: Patterns
section: styleguide
---
<div class="holder main-holder">
	<div class="row main-row">
		<div class="main-content">

			<h2 class="section-title">Base Elements</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/base.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">_base.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--base">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--base is-hidden">
						{% highlight html linenos=table %}
							{% include patterns/base.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>

			<h2 class="section-title">Buttons</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/buttons.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">patterns/_buttons.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--buttons">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--buttons is-hidden">
						{% highlight html linenos=table %}
							{% include patterns/buttons.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>

			<h2 class="section-title">Forms</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/forms.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">patterns/_forms.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--forms">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--forms is-hidden">
						{% highlight html linenos=table %}
							{% include patterns/forms.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>

			<h2 class="section-title">Alerts</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/alerts.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">patterns/_alerts.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--alerts">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--alerts is-hidden">
						{% highlight html linenos=table %}
							{% include patterns/alerts.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>

			<h2 class="section-title">Pagination</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/pagination.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">patterns/_pagination.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--pagination">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--pagination is-hidden">
						{% highlight html linenos=table %}
							{% include patterns/pagination.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>

			<h2 class="section-title">Helpers</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/helpers.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">patterns/_helpers.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--helpers">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--helpers is-hidden">
						{% highlight html linenos=table %}
							% include patterns/helpers.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>

			<h2 class="section-title">Media object</h2>
			<div class="row">
				<div class="grid-7">
					{% include patterns/media.html %}
				</div>
				<div class="grid-5">
					<pre class="scss">patterns/_media.scss</pre>
					<a href="#" class="js-toggle" data-target=".snippet--media">
						<i class="icon icon--toggle"></i>HTML snippet
					</a>
					<div class="snippet snippet--media is-hidden">
						{% highlight html linenos=table %}
							{% include patterns/media.html %}
						{% endhighlight %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
