---
layout: default
title: Patterns
section: styleguide
---
<div class="o-holder c-holder c-main-holder">
    <div class="o-container">
        <div class="c-section">
            <h2 class="c-section-title">Base Elements</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.base.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">_base.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-base">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-base is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.base.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Colors</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.colors.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">_colors.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-colors">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-colors is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.colors.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Buttons</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.buttons.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">objects._buttons.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-buttons">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-buttons is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.buttons.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Forms</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.forms.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">objects._forms.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-forms">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-forms is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.forms.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Alerts</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.alerts.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">objects._alerts.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-alerts">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-alerts is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.alerts.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Pagination</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.pagination.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">objects._pagination.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-pagination">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-pagination is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.pagination.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Helpers</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.helpers.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">objects._helpers.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-helpers">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-helpers is-hidden">
                        {% highlight html linenos=table %}
                            % include objects.helpers.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>

        <div class="c-section">
            <h2 class="c-section-title">Media object</h2>

            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-3-bp4">
                    {% include objects.media.html %}
                </div>
                <div class="o-grid__item u-1-of-3-bp4">
                    <pre class="c-scss">objects._media.scss</pre>
                    <a href="#" class="js-toggle" data-target=".js-snippet-media">
                        <i class="c-icon c-icon--toggle"></i>HTML snippet
                    </a>
                    <div class="js-snippet-media is-hidden">
                        {% highlight html linenos=table %}
                            {% include objects.media.html %}
                        {% endhighlight %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
