/*
	chopstick grid
*/

/// calculations

$contextGridMargin: $contextGridGutter / 2;
$contextGridWidth: ($contextGridGutter + $contextGridColumn) * $contextGridColumns;

// Responsive design formula for fully percentual columns & gutters

$fluidGridColumn: $contextGridColumn / $contextGridWidth * 100 ;
$fluidGridGutter: ($contextGridGutter / $contextGridWidth) * 100 ;
$fluidGridMargin: ($contextGridMargin / $contextGridWidth) * 100 ;

// the last breakpoint is calculated here based on the total with of the grid
$bp5: #{$contextGridWidth / $basefontsize}em;

/// mixins

// horizontal padding based on the context grid gutter in em
// use: @include em-padding-lr(#left, #right);

@mixin em-padding-lr($left: 1, $right: 1) {
	padding-left: $contextGridMargin/$basefontsize * $left * 1em;
	padding-right: $contextGridMargin/$basefontsize * $right * 1em;
}

// horizontal padding based on the context grid gutter
// use: @include px-padding-lr(#left, #right);

@mixin px-padding-lr($left: 1, $right: 1) {
	padding-left: $contextGridMargin * $left * 1px;
	padding-right: $contextGridMargin * $right * 1px;
}

// horizontal margin based on the context grid gutter
// use: @include px-margin-lr(#left, #right);

@mixin px-margin-lr($left: 1, $right: 1) {
	margin-left: $contextGridMargin * $left * 1px;
	margin-right: $contextGridMargin * $right * 1px;
}

// horizontal margin based on the context grid gutter in em
// use: @include em-margin-lr(#left, #right);

@mixin em-margin-lr($left: 1, $right: 1) {
	margin-left: $contextGridMargin/$basefontsize * $left * 1em;
	margin-right: $contextGridMargin/$basefontsize * $right * 1em;
}

// horizontal percentual margin
// use: @include perc-margin-lr(#left, #right);

@mixin perc-margin-lr($left: 1, $right: 1) {
	margin-left: $fluidGridMargin * $left * 1%;
	margin-right: $fluidGridMargin * $right * 1%;
}

// fully percentual collumns and gutters
// use: @include perc-col-(#amount, #gutterleft, #gutterright)

@mixin perc-col-($amount, $pl, $pr) {
	width: ($fluidGridColumn * $amount) + ($fluidGridMargin * (($amount * 2) - 2)) + 0%;
	@include perc-margin-lr($pl, $pr);
	@include float-left;
}

// border-box box sizing
// use: @include box-(#amount, #gutterleft, #gutterright);

@mixin box-($amount, $left, $right) {
	width: ($fluidGridColumn * $amount) + ($fluidGridGutter * $amount) + 0%;
	float: left;
	position: relative;
	@include border-box;
	@include px-padding-lr($left, $right);
	// @include em-padding-lr($left, $right); // experimental
}

// push #amount of columns left
// use @include push-(#amount);

@mixin pushLeft($amount) {
	left: ($fluidGridColumn * $amount) + ($fluidGridGutter * $amount) + 0%;
}

@mixin pullRight($amount) {
	right: ($fluidGridColumn * $amount) + ($fluidGridGutter * $amount) + 0%;
}

@mixin pullLeft($amount) {
	left: (($fluidGridColumn * $amount) + ($fluidGridGutter * $amount) + 0%) * -1;
}

// last-col mixin to re-align the right edge
// use: @extend .last-col;

@mixin last-col() {
	float: right;
}