<nav class="c-pagination">
    <ul class="o-list o-list--horizontal c-pagination__list">
        <li class="o-list__item c-pagination__item is-previous"><span class="c-pagination__link">&lt; Vorige</span></li>
        <li class="o-list__item c-pagination__item is-current"><span class="c-pagination__link">1</span></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 2" rel="nofollow" class="c-pagination__link">2</a></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 3" rel="nofollow" class="c-pagination__link">3</a></li>
        <li class="o-list__item c-pagination__item"><span class="c-pagination__link">&hellip;</span></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 130" rel="nofollow" class="c-pagination__link">130</a></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 131" rel="nofollow" class="c-pagination__link">131</a></li>
        <li class="o-list__item c-pagination__item is-next"><a href="#" rel="next nofollow" title="Volgende" class="c-pagination__link">Volgende &gt;</a></li>
    </ul>
</nav>

<hr />

<nav class="c-pagination c-pagination--centered">
    <ul class="o-list o-list--horizontal c-pagination__list">
        <li class="o-list__item c-pagination__item is-previous"><span class="c-pagination__link">&lt; Vorige</span></li>
        <li class="o-list__item c-pagination__item is-current"><span class="c-pagination__link">1</span></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 2" rel="nofollow" class="c-pagination__link">2</a></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 3" rel="nofollow" class="c-pagination__link">3</a></li>
        <li class="o-list__item c-pagination__item"><span class="c-pagination__link">&hellip;</span></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 130" rel="nofollow" class="c-pagination__link">130</a></li>
        <li class="o-list__item c-pagination__item"><a href="#" title="Ga naar pagina 131" rel="nofollow" class="c-pagination__link">131</a></li>
        <li class="o-list__item c-pagination__item is-next"><a href="#" rel="next nofollow" title="Volgende" class="c-pagination__link">Volgende &gt;</a></li>
    </ul>
</nav>
