<nav class="c-nav-main js-nav">
    <ul class="o-list-ui o-list-ui--horizontal c-nav-main__list">
        <li class="o-list-ui__item c-nav-main__item {% if page.url contains "index" %}is-selected{% endif %}">
            <a href="index.html" class="o-list-ui__link c-nav-main__link">Home</a>
        </li>
        <li class="o-list-ui__item c-nav-main__item {% if page.url contains "styleguide" %}is-selected{% endif %}">
            <a href="styleguide.html" class="o-list-ui__link c-nav-main__link">Styleguide</a>
        </li>
        <li class="o-list-ui__item c-nav-main__item {% if page.url contains "grid" %}is-selected{% endif %}">
            <a href="grid.html" class="o-list-ui__link c-nav-main__link">Grid</a>
        </li>
    </ul>
</nav>

<button class="c-nav-main-trigger c-button c-button--sm c-button--alpha js-nav-trigger">Menu</button>
