<div class="js-nav-holder c-holder c-holder--alpha u-border-bottom">
    <span class="js-nav-trigger">menu</span>
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__item">
                {% include objects.logo.html %}

                <nav class="js-nav c-main-nav">
                    <ul class="c-main-nav__list">
                        <li class="c-main-nav__list-item {% if page.url contains "index" %}is-selected{% endif %}"><a href="index.html" class="c-main-nav__link">Home</a></li>
                        <li class="c-main-nav__list-item {% if page.url contains "styleguide" %}is-selected{% endif %}"><a href="styleguide.html" class="c-main-nav__link">Styleguide</a></li>
                        <li class="c-main-nav__list-item {% if page.url contains "grid" %}is-selected{% endif %}"><a href="grid.html" class="c-main-nav__link">Grid</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
