
<form action="#" method="post">
    <h3>Example 1: Standard contact form </h3>

    <div class="c-alert-box c-alert-box--error">
        <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#" class="c-alert-box__link">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
        <span class="c-alert-box__close js-hide">&times;</span>
    </div>

    <fieldset>
        <p>
            <label for="form-field-1" class="c-label">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-1" type="text" placeholder="Full Name" class="c-input-text c-input-text--md" />
        </p>
        <p>
            <label for="form-field-2" class="c-label">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-2" type="text" placeholder="Full Name" class="c-input-text c-input-text--md" />
        </p>
        <p>
            <label for="form-field-3" class="c-label has-error">Email address<abbr title="Required field">*</abbr></label>
            <input id="form-field-3" class="c-input-text c-input-text--md has-error" type="email" placeholder="email@address.com" />
            <span class="c-alert-inline c-alert-inline--error">This field is required.</span>
        </p>
        <p>
            <label for="form-field-4" class="c-label">Message<abbr title="Required field">*</abbr></label>
            <textarea class="c-input-text c-input-text--md" id="form-field-4" rows="5" cols="30"></textarea>
        </p>
        <p>
            <input type="submit" class="c-button c-button--md c-button--alpha" value="Send" />
        </p>
    </fieldset>
</form>

<hr />

<form action="#" method="post">
    <h3>Example 2: Form built with grids</h3>

    <fieldset>
        <p>
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-2-bp3">
                    <label class="c-label">Name<abbr title="Required field">*</abbr></label>
                    <input type="text" class="c-input-text c-input-text--md" placeholder="Full Name" />
                </div>
                <div class="o-grid__item u-1-of-2-bp3">
                    <label class="c-label">Email address<abbr title="Required field">*</abbr></label>
                    <input type="email" class="c-input-text c-input-text--md" placeholder="email@address.com" />
                </div>
            </div>
        </p>

        <p>
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-3-of-5-bp4">
                    <label class="c-label">Street<abbr title="Required field">*</abbr></label>
                    <input type="text" class="c-input-text c-input-text--md" placeholder="Street" />
                </div>
                <div class="o-grid__item u-2-of-5-bp4">
                    <label class="c-label">Number<abbr title="Required field">*</abbr></label>
                    <input type="text" class="c-input-text c-input-text--md" placeholder="Number" />
                </div>
            </div>
        </p>

        <p>
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-2-of-5-bp4">
                    <label class="c-label">Zip code<abbr title="Required field">*</abbr></label>
                    <input type="text" class="c-input-text c-input-text--md" placeholder="Zip code" />
                </div>
                <div class="o-grid__item u-3-of-5-bp4">
                    <label class="c-label has-error">City<abbr title="Required field">*</abbr></label>
                    <input type="text" class="c-input-text c-input-text--md has-error" placeholder="City" />
                    <span class="c-alert-inline c-alert-inline--error">This field is required.</span>
                </div>
            </div>
        </p>

        <p>
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item">
                    <label class="c-label">Message<abbr title="Required field">*</abbr></label>
                    <textarea class="c-input-text c-input-text--md" rows="5" cols="30"></textarea>
                </div>
            </div>
        </p>

        <p>
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item c-button-group">
                    <input type="submit" class="c-button c-button--float-left c-button--md c-button--alpha" value="Volgende" />
                    <a href="#" class="c-button c-button--float-left c-button--md c-button--beta">Vorige</a>
                </div>
            </div>
        </p>
    </fieldset>
</form>

<hr />

<form action="#" method="post">
    <h3>Example 3: Form with pre- en postfixes</h3>

    <fieldset>
        <div class="o-grid">
            <div class="o-grid__item u-5-of-6">
                <input class="c-input-text c-input-text--sm c-input-text--prefix" type="email" placeholder="email@address.com" />
            </div>
            <div class="o-grid__item u-1-of-6 c-postfix">
                <button class="c-button c-button--sm c-button--beta c-button--postfix" type="submit" class="c-button">Send</button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="o-grid">
            <div class="o-grid__item u-5-of-6">
                <input type="email" class="c-input-text c-input-text--md c-input-text--prefix has-error" placeholder="email@address.com" />
                <span class="c-alert-inline c-alert-inline--error">This field is required.</span>
            </div>
            <div class="o-grid__item u-1-of-6">
                <button class="c-button c-button--md c-button--alpha c-button--postfix" type="submit" class="c-button">Send</button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="o-grid">
            <div class="o-grid__item u-5-of-6">
                <input class="c-input-text c-input-text--lg c-input-text--prefix" type="email" placeholder="email@address.com" />
            </div>
            <div class="o-grid__item u-1-of-6">
                <button class="c-button c-button--lg c-button--beta c-button--postfix" type="submit" class="c-button">Send</button>
            </div>
        </div>
    </fieldset>
</form>

<hr />

<form action="#" method="post">
    <h3>Example 4: overview of all input elements</h3>

    <fieldset>
        <p>
            <label class="c-label">Text input</label>
            <input id="" class="c-input-text c-input-text--md" type="text">
        </p>

        <p>
            <label class="c-label">Text input with placeholder</label>
            <input type="text" class="c-input-text c-input-text--md" placeholder="I'm placeholder text">
        </p>

        <p>
            <label class="c-label">Readonly input</label>
            <input type="text" class="c-input-text c-input-text--md" value="Read only text input" readonly>
        </p>

        <p>
            <label class="c-label">Disabled input</label>
            <input type="text" class="c-input-text c-input-text--md" value="Disabled text input" disabled>
        </p>

        <p>
            <label class="c-label">Required input <span class="required">*</span></label>
            <input type="text" class="c-input-text c-input-text--md" required>
        </p>

        <p>
            <label class="c-label">Email input</label>
            <input type="email" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Search input</label>
            <input type="search" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Speech recognition input</label>
            <input type="text" class="c-input-text c-input-text--md" id="speech" name="speech" x-webkit-speech="">
        </p>

        <p>
            <label class="c-label">Tel input</label>
            <input type="tel" class="c-input-text c-input-text--md">
        </p>

        <p>
        <label class="c-label">Phone (International)</label>
        <input name="field_country_code" class="c-input-text c-input-text--md" maxlength="3" /> -
        <input name="field_city_code" class="c-input-text c-input-text--md" maxlength="4" />
        -
        <input name="field_phone_int" class="c-input-text c-input-text--md" maxlength="8" />
        </p>

        <p>
            <label class="c-label">URL input</label>
            <input type="url" class="c-input-text c-input-text--md" placeholder="http://">
        </p>

        <p>
            <label class="c-label">Password input</label>
            <input type="password" class="c-input-text c-input-text--md" value="password">
        </p>

        <p><label class="c-label">Select field</label>
            <select>
                <option>Option 01</option>
                <option>Option 02</option>
            </select>
        </p>

        <p>
            <label class="c-label">Multiple select field</label>
            <select multiple size="5">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
                <option>Option 6</option>
                <option>Option 7</option>
                <option>Option 8</option>
                <option>Option 9</option>
                <option>Option 10</option>
            </select>
        </p>

        <p>
            <input class="c-input-radio" type="radio" id="radio-1" name="rad">
            <label class="c-label c-label--option" for="radio-1">Radio input</label>
        </p>

        <p>
            <input class="c-input-checkbox" id="checkbox-1" id="checkbox-1"  type="checkbox">
            <label class="c-label c-label--option" for="checkbox-1">Checkbox input</label>
        </p>

        <p>
            <label class="c-label">File input</label>
            <input type="file" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Textarea</label>
            <textarea cols="30" rows="5" class="c-input-text c-input-text--md">Textarea text</textarea>
        </p>

        <p>
            <label class="c-label">Color input</label>
            <input type="color" value="#000000">
        </p>

        <p>
            <label class="c-label">Number input</label>
            <input type="number" value="5" min="0" max="10" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Range input</label>
            <input type="range" id="range" value="0" min="0" max="100">
            <output for="range">
                0
            </output>
            <script>
                if (document.querySelector) {
                    document.querySelector('#range').onchange = function(e) {
                        e.target.nextElementSibling.innerText = e.target.value;
                    }
                }
            </script>
        </p>

        <p>
            <label class="c-label">Date input</label>
            <input type="date" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Month input</label>
            <input type="month" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Week input</label>
            <input type="week" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Time input</label>
            <input type="time" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Datetime input</label>
            <input type="datetime" class="c-input-text c-input-text--md">
        </p>

        <p>
            <label class="c-label">Datetime-local input</label>
            <input type="datetime-local" class="c-input-text c-input-text--md">
        </p>
    </fieldset>
</form>
