<p>Custom bullet list</p>
<ul class="o-list c-list-bullet">
    <li class="c-list-bullet__item">item 1</li>
    <li class="c-list-bullet__item">item 2</li>
    <li class="c-list-bullet__item">item 3</li>
    <ul class="o-list c-list-bullet c-list-bullet--sub">
        <li class="c-list-bullet__item">item 1</li>
        <li class="c-list-bullet__item">item 2</li>
        <li class="c-list-bullet__item">item 3</li>
    </ul>
</ul>
<p>Custom ordered list</p>
<ul class="o-list c-list-number">
    <li class="c-list-number__item">item 1</li>
    <li class="c-list-number__item">item 2</li>
    <li class="c-list-number__item">item 3</li>
</ul>
