<p>
    Different types
</p>
<p>
    <a class="c-button c-button--alpha c-button--md" href="#" role="button">Link</a>
    <button class="c-button c-button--alpha c-button--md" type="submit">Button</button>
    <input class="c-button c-button--alpha c-button--md" type="button" value="Input">
    <input class="c-button c-button--alpha c-button--md" type="submit" value="Submit">
</p>
<p>
    Button colors
</p>
<p>
    <a class="c-button c-button--alpha c-button--md" href="#" role="button">Alpha ui</a>
    <a class="c-button c-button--beta c-button--md" href="#" role="button">Beta ui</a>
</p>
<p>
    Button row
</p>
<p class="c-button-group">
    <a href="#" class="c-button c-button--alpha c-button--md c-button--float-left">Button 1</a>
    <a href="#" class="c-button c-button--beta c-button--md c-button--float-left">Button 2</a>
    <a href="#" class="c-button c-button--beta c-button--md c-button--float-right">Button 3</a>
</p>
<p>
    Button sizes
</p>
<p>
    <a class="c-button c-button--alpha c-button--sm" href="#" role="button">Small button</a>
    <a class="c-button c-button--alpha c-button--md" href="#" role="button">Normal button</a>
    <a class="c-button c-button--alpha c-button--lg" href="#" role="button">Big button</a>
</p>
<p>
    Block button
</p>
<p>
    <a href="#" class="c-button c-button--alpha c-button--md c-button--block">Block Button</a>
</p>
<p>
    Disabled button
</p>
<p>
    <button class="c-button c-button--alpha c-button--md" type="submit" disabled>Button</button>
    <input class="c-button c-button--alpha c-button--md" type="button" value="Input" disabled>
    <input class="c-button c-button--alpha c-button--md" type="submit" value="Submit" disabled>
</p>
