<h1>Level 1 heading lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<h2>Level 02 Heading lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<h3>Level 03 Heading lorem ipsum dolor sit amet consectetur adipisicing elit mollitia expedita reprehenderit quas aspernatur</h3>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<h4>Level 04 Heading lorem ipsum dolor sit amet consectetur adipisicing elit mollitia expedita reprehenderit quas aspernatur</h4>
<p>Sed scelerisque sagittis lorem. Phasellus sodales. Nulla urna justo, vehicula in, suscipit nec, molestie sed, tellus. Quisque justo. Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Etiam viverra augue non enim.</p>

<blockquote cite="http://wijs.be">
    <p>Paragraph inside Blockquote: Nam libero leo, elementum in, dapibus a, suscipit vitae, purus. Duis arcu. Integer dignissim fermentum enim. Morbi convallis felis vel nibh. Sed scelerisque sagittis lorem.</p>
</blockquote>

<p class="small">
    Small element Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur molestiae voluptates fuga, reprehenderit nostrum ratione. Itaque nostrum quidem, assumenda delectus, quo, illum nam voluptas commodi pariatur at molestias velit sequi!
</small>

<ul>
    <li>Unordered list 01</li>
    <li>Unordered list 02</li>
    <li>Unordered list 03
        <ul>
            <li>Unordered list inside list level 2</li>
            <li>Unordered list inside list level 2
                <ul>
                    <li>Unordered list inside list level 3</li>
                    <li>Unordered list inside list level 3</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<ol>
    <li>Ordered list 01</li>
    <li>Ordered list 02</li>
    <li>Ordered list 03
        <ol>
            <li>Ordered list inside list level 2</li>
            <li>Ordered list inside list level 2
                <ol>
                    <li>Ordered list inside list level 3</li>
                    <li>Ordered list inside list level 3</li>
                </ol>
            </li>
        </ol>
    </li>
</ol>

<address>Address: Example address 224, Sweden</address>

<pre>
    <strong>Preformated:</strong>Testing one row
    and another
</pre>

<p>
    I am <a href="?abc123">the a tag</a> example<br />
    I am <abbr title="test">the abbr tag</abbr> example<br />
    I am <acronym>the acronym tag</acronym> example<br />
    I am <b>the b tag</b> example<br />
    I am <big>the big tag</big> example<br />
    I am <cite>the cite tag</cite> example<br />
    I am <code>the code tag</code> example<br />
    I am <del>the del tag</del> example<br />
    I am <dfn>the dfn tag</dfn> example<br />
    I am <em>the em tag</em> example<br />
    I am <font face="verdana">the font tag</font> example<br />
    I am <i>the i tag</i> example<br />
    I am <ins>the ins tag</ins> example<br />
    I am <kbd>the kbd tag</kbd> example<br />
    I am <q>the q tag <q>inside</q> a q tag</q> example<br />
    I am <s>the s tag</s> example<br />
    I am <samp>the samp tag</samp> example<br />
    I am <small>the small tag</small> example<br />
    I am <span>the span tag</span> example<br />
    I am <strike>the strike tag</strike> example<br />
    I am <strong>the strong tag</strong> example<br />
    I am <sub>the sub tag</sub> example<br />
    I am <sup>the sup tag</sup> example<br />
    I am <tt>the tt tag</tt> example<br />
    I am <var>the var tag</var> example<br />
    I am <u>the u tag</u> example
</p>



<dl>
    <dt>Description list title 01</dt>
    <dd>Description list description 01</dd>
    <dt>Description list title 02</dt>
    <dd>Description list description 02</dd>
    <dd>Description list description 03</dd>
</dl>

<table summary="Dit is de samenvatting">
    <caption>Dit is de titel</caption>
    <thead>
        <tr>
            <th id="year">Year</th>
            <th id="opponent">Opponent</th>
            <th id="record" abbr="Record">Season Record (W-L)</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td headers="Year">1900</td>
            <td headers="Opponent">Last</td>
            <td headers="Record">00-00</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td headers="Year">1918</td>
            <td headers="Opponent">Chicago Cubs</td>
            <td headers="Record">75-51</td>
        </tr>
        <tr>
            <td headers="Year">1915</td>
            <td headers="Opponent">Philadelphia Phillies</td>
            <td headers="Record">101-50</td>
        </tr>
        <tr>
            <td headers="Year">1918</td>
            <td headers="Opponent">Chicago Cubs</td>
            <td headers="Record">75-51</td>
        </tr>
        <tr>
            <td headers="Year">1915</td>
            <td headers="Opponent">Philadelphia Phillies</td>
            <td headers="Record">101-50</td>
        </tr>
    </tbody>
</table>

<table summary="Wat betaal je in Belgi&euml; en in het buitenland voor telefoongesprekken vanaf je mobiele telefoon?">
    <caption>Overzicht telefoontarieven</caption>
    <thead>
        <tr>

            <td></td>
            <th colspan="2" id="pre" abbr="Als u een voorafbetaalde kaart gebruikt">Voorafbetaald</th>
            <th colspan="2" id="abo" abbr="Als u een abonnement heeft">Abonnement</th>
        </tr>
        <tr>
            <td></td>
            <th id="pre-overdag" abbr="betaalt u overdag">Overdag</th>

            <th id="pre-savonds" abbr="betaalt u tijdens de avond">'s Avonds</th>
            <th id="abo-overdag" abbr="betaalt u overdag">Overdag</th>
            <th id="abo-savonds" abbr="betaalt u tijdens de avond">'s Avonds</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <th id="be" abbr="in België" colspan="5">Belgi&euml;</th>
        </tr>
        <tr>
            <th headers="be" id="be-vast" abbr="als u naar vaste nummers belt">Vaste nummers</th>
            <td headers="BE Pre Overdag Vast">0,5 &euro;</td>
            <td headers="BE Pre Avond Vast">0,25 &euro;</td>
            <td headers="BE Abo Overdag Vast">0,30 &euro;</td>

            <td headers="BE Abo Avond Vast">0,15 &euro;</td>
        </tr>
        <tr>
            <th headers="be" id="be-mobiel" abbr="als u naar mobiele nummers belt">Mobiele nummers</th>
            <td headers="BE Pre Overdag Mobiel">0,10 &euro;</td>
            <td headers="BE Pre Avond Mobiel">0,05 &euro;</td>
            <td headers="BE Abo Overdag Mobiel">0,08 &euro;</td>

            <td headers="BE Abo Avond Mobiel">0,04 &euro;</td>
        </tr>
        <tr>
            <th headers="be" id="be-andere" abbr="als u naar andere operatoren belt">Andere operatoren</th>
            <td headers="BE Pre Overdag Andere">0,20 &euro;</td>
            <td headers="BE Pre Avond Andere">0,10 &euro;</td>
            <td headers="BE Abo Overdag Andere">0,15 &euro;</td>

            <td headers="BE Abo Overdag Andere">0,10 &euro;</td>
        </tr>
        <tr>
            <th id="bl" abbr="in het buitenland" colspan="5">Buitenland</th>
        </tr>
        <tr>
            <th headers="bl" abbr="als u naar vaste nummers belt" id="bl-vast">Vaste nummers</th>

            <td headers="BL Pre Overdag Vast">1,00 &euro;</td>
            <td headers="BL Pre Avond Vast">0,75 &euro;</td>
            <td headers="BL Pre Avond Vast">0,80 &euro;</td>
            <td headers="BL Abo Overdag Vast">0,65 &euro;</td>
        </tr>
        <tr>
            <th headers="bl" abbr="als u naar mobiele nummers belt" id="bl-mobiel">Mobiele nummers</th>

            <td headers="BL Pre Overdag Mobiel">0,60 &euro;</td>
            <td headers="BL Pre Avond Mobiel">0,55 &euro;</td>
            <td headers="BL Abo Overdag Mobiel">0,58 &euro;</td>
            <td headers="BL Abo Avond Mobiel">0,54 &euro;</td>
        </tr>
        <tr>
            <th headers="bl" abbr="als u naar andere operatoren belt" id="bl-andere">Andere operatoren</th>

            <td headers="BL Pre Overdag Andere">0,70 &euro;</td>
            <td headers="BL Pre Avond Andere">0,60 &euro;</td>
            <td headers="BL Abo Overdag Andere">0,65 &euro;</td>
            <td headers="BL Abo Overdag Andere">0,55 &euro;</td>
        </tr>
    </tbody>
</table>
