<div class="holder header-holder">
	<div class="row header-row">
		<div class="header">
			<div class="inner">
				<h1 class="logo">chopstick</h1>
				<nav class="main-nav">
					<ul>
						<li {% if page.url contains "index" %}class="selected"{% endif %}><a href="index.html">Home</a></li>
						<li {% if page.url contains "styleguide" %}class="selected"{% endif %}><a href="styleguide.html">Styleguide</a></li>
						<li {% if page.url contains "grid" %}class="selected"{% endif %}><a href="grid.html">Grid</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
