<!-- Text colors -->
<div class="o-grid o-grid--gutter">
    <div class="o-grid__item">
        <h3>Text colors</h3>
    </div>

    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-text"></div>
        <p class="c-swatch-caption">$alpha-text-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-text-light"></div>
        <p class="c-swatch-caption">$alpha-text-color-light</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-text-dark"></div>
        <p class="c-swatch-caption">$alpha-text-color-dark</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-beta-text"></div>
        <p class="c-swatch-caption">$beta-text-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-beta-text-light"></div>
        <p class="c-swatch-caption">$beta-text-color-light</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-beta-text-dark"></div>
        <p class="c-swatch-caption">$beta-text-color-dark</p>
    </div>
</div>
<!-- End text colors -->

<!-- UI colors -->
<div class="o-grid o-grid--gutter">
    <div class="o-grid__item">
        <h3>UI colors</h3>
    </div>

    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-ui"></div>
        <p class="c-swatch-caption">$alpha-ui-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-ui-light"></div>
        <p class="c-swatch-caption">$alpha-ui-color-light</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-ui-dark"></div>
        <p class="c-swatch-caption">$alpha-ui-color-dark</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-beta-ui"></div>
        <p class="c-swatch-caption">$beta-ui-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-beta-ui-light"></div>
        <p class="c-swatch-caption">$beta-ui-color-light</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-beta-ui-dark"></div>
        <p class="c-swatch-caption">$beta-ui-color-dark</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-gamma-ui"></div>
        <p class="c-swatch-caption">$gamma-ui-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-gamma-ui-light"></div>
        <p class="c-swatch-caption">$gamma-ui-color-light</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-gamma-ui-dark"></div>
        <p class="c-swatch-caption">$gamma-ui-color-dark</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-delta-ui"></div>
        <p class="c-swatch-caption">$delta-ui-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-delta-ui-light"></div>
        <p class="c-swatch-caption">$delta-ui-color-light</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-delta-ui-dark"></div>
        <p class="c-swatch-caption">$delta-ui-color-dark</p>
    </div>
</div>
<!-- End UI colors -->

<!-- Link colors -->
<div class="o-grid o-grid--gutter">
    <div class="o-grid__item">
        <h3>Link colors</h3>
    </div>

    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-link"></div>
        <p class="c-swatch-caption">$alpha-link-color</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-link-hover"></div>
        <p class="c-swatch-caption">$alpha-link-colorhover</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-link-focus"></div>
        <p class="c-swatch-caption">$alpha-link-colorfocus</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-link-active"></div>
        <p class="c-swatch-caption">$alpha-link-coloractive</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-alpha-link-visited"></div>
        <p class="c-swatch-caption">$alpha-link-colorvisited</p>
    </div>
</div>
<!-- End Link colors -->

<!-- Greyscale of alpha-ui-color -->
<div class="o-grid o-grid--gutter">
    <div class="o-grid__item">
        <h3>Greyscale of alpha-ui-color</h3>
    </div>

    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-grey-00"></div>
        <p class="c-swatch-caption">$grey-00</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-grey-01"></div>
        <p class="c-swatch-caption">$grey-01</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-grey-02"></div>
        <p class="c-swatch-caption">$grey-02</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-grey-03"></div>
        <p class="c-swatch-caption">$grey-03</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-grey-04"></div>
        <p class="c-swatch-caption">$grey-04</p>
    </div>
    <div class="o-grid__item u-1/2-bp2 u-1/4-bp4">
        <div class="c-swatch u-bgcolor-grey-05"></div>
        <p class="c-swatch-caption">$grey-05</p>
    </div>
</div>
<!-- End greyscale of alpha-ui-color colors -->
