<h3>Example 1: Standard contact form </h3>

<form action="#" method="post">
    <div class="c-alert-box c-alert-box-error">
        <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
        <a href="#" class="close">&times;</a>
    </div>
    <fieldset>
        <p>
            <label for="form-field-1">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-1" type="text" placeholder="Full Name" class="c-input-text" />
        </p>
        <p>
            <label for="form-field-2">Name<abbr title="Required field">*</abbr></label>
            <input id="form-field-2" type="text" placeholder="Full Name" class="c-input-text" />
        </p>
        <p>
            <label for="form-field-3">Email address<abbr title="Required field">*</abbr></label>
            <input id="form-field-3" class="c-input-text c-input--error" type="email" placeholder="email@address.com" />
            <span class="c-form__error">This field is required.</span>
        </p>
        <p>
            <label for="form-field-4">Message<abbr title="Required field">*</abbr></label>
            <textarea class="c-input-text" id="form-field-4" rows="5" cols="30"></textarea>
        </p>
        <p>
            <button type="submit" class="c-btn c-btn--alpha-ui">Send</button>
        </p>
    </fieldset>
</form>

<h3>Example 3: Form built with grids</h3>

<form action="#" method="post">
    <fieldset>
        <div class="o-grid o-grid--gutter">
            <p class="o-grid__item u-1-of-2-bp3">
                <label>Name<abbr title="Required field">*</abbr></label>
                <input type="text" class="c-input-text" placeholder="Full Name" />
            </p>
            <p class="o-grid__item u-1-of-2-bp3">
                <label>Email address<abbr title="Required field">*</abbr></label>
                <input type="email" class="c-input-text" placeholder="email@address.com" />
            </p>
        </div>

        <div class="o-grid o-grid--gutter">
            <p class="o-grid__item u-3-of-5-bp4">
                <label>Street<abbr title="Required field">*</abbr></label>
                <input type="text" class="c-input-text" placeholder="Street" />
            </p>
            <p class="o-grid__item u-2-of-5-bp4">
                <label>Number<abbr title="Required field">*</abbr></label>
                <input type="text" class="c-input-text" placeholder="Number" />
            </p>
        </div>

        <div class="o-grid o-grid--gutter">
            <p class="o-grid__item u-2-of-5-bp4">
                <label>Zip code<abbr title="Required field">*</abbr></label>
                <input type="text" class="c-input-text" placeholder="Zip code" />
            </p>
            <p class="o-grid__item u-3-of-5-bp4">
                <label>City<abbr title="Required field">*</abbr></label>
                <input type="text" class="c-input-text" placeholder="City" />
            </p>
        </div>

        <div class="o-grid o-grid--gutter">
            <p class="o-grid__item">
                <label>Message<abbr title="Required field">*</abbr></label>
                <textarea class="c-input-text" rows="5" cols="30"></textarea>
            </p>
        </div>

        <div class="o-grid o-grid--gutter">
            <p class="o-grid__item c-btn-group">
                <button type="submit" class="c-btn c-btn--fll c-btn--lg c-btn--alpha-ui">Volgende</button>
                <a href="#" class="c-btn c-btn-fll c-btn--lg c-btn--beta-ui">Vorige</a>
            </p>
        </div>
    </fieldset>
</form>

<hr />

<h3>Example 4: Form with pre- en postfixes</h3>
<form action="#" method="post">
    <fieldset>
        <div class="o-grid c-oneliner">
            <p class="o-grid__item u-5-of-6 c-prefix">
                <input class="c-input-text c-input--sm" type="email" placeholder="email@address.com" />
            </p>
            <p class="o-grid__item u-1-of-6 c-postfix">
                <button class="c-btn c-btn--sm c-btn--beta-ui" type="submit" class="c-btn">Send</button>
            </p>
        </div>
    </fieldset>
</form>
<form action="#" method="post">
    <fieldset>
        <div class="o-grid c-oneliner">
            <p class="o-grid__item u-5-of-6 c-prefix">
                <input type="email" class="c-input-text" placeholder="email@address.com" />
            </p>
            <p class="o-grid__item u-1-of-6 c-postfix">
                <button class="c-btn c-btn--alpha-ui" type="submit" class="c-btn">Send</button>
            </p>
        </div>
    </fieldset>
</form>
<form action="#" method="post">
    <fieldset>
        <div class="o-grid c-oneliner">
            <p class="o-grid__item u-5-of-6 c-prefix">
                <input class="c-input-text c-input--lg" type="email" placeholder="email@address.com" />
            </p>
            <p class="o-grid__item u-1-of-6 c-postfix">
                <button class="c-btn c-btn--lg c-btn--beta-ui" type="submit" class="c-btn">Send</button>
            </p>
        </div>
    </fieldset>
</form>

<hr />

<h3>Example 5: overview of all input elements</h3>
<form action="#" method="post">
    <fieldset>
        <div>
            <p>
                <label>Text input</label>
                <input id="" class="c-input-text" type="text">
            </p>
        </div>
        <div>
            <p>
                <label>Text input with placeholder</label>
                <input type="text" class="c-input-text" placeholder="I'm placeholder text">
            </p>
        </div>
        <div>
            <p>
                <label>Readonly input</label>
                <input type="text" class="c-input-text" value="Read only text input" readonly>
            </p>
        </div>
        <div>
            <p>
                <label>Disabled input</label>
                <input type="text" class="c-input-text" value="Disabled text input" disabled>
            </p>
        </div>
        <div>
            <p>
                <label>Required input <span class="required">*</span></label>
                <input type="text" class="c-input-text" required>
            </p>
        </div>
        <div>
            <p>
                <label>Email input</label>
                <input type="email" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Search input</label>
                <input type="search" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Speech recognition input</label>
                <input type="text" class="c-input-text" id="speech" name="speech" x-webkit-speech="">
            </p>
        </div>
        <div>
            <p>
                <label>Tel input</label>
                <input type="tel" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
            <label>Phone (International)</label>
            <input name="field_country_code" class="c-input-text" maxlength="3" /> -
            <input name="field_city_code" class="c-input-text" maxlength="4" />
            -
            <input name="field_phone_int" class="c-input-text" maxlength="8" />
            </p>
        </div>
        <div>
            <p>
                <label>URL input</label>
                <input type="url" class="c-input-text" placeholder="http://">
            </p>
        </div>
        <div>
            <p>
                <label>Password input</label>
                <input type="password" class="c-input-text" value="password">
            </p>
        </div>
        <div>
            <p><label>Select field</label>
                <select>
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </p>
        </div>
        <div>
            <p>
                <label>Multiple select field</label>
                <select multiple size="5">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                    <option>Option 6</option>
                    <option>Option 7</option>
                    <option>Option 8</option>
                    <option>Option 9</option>
                    <option>Option 10</option>
                </select>
            </p>
        </div>
        <div>
            <p>
                <input class="c-input--option c-input--radio" type="radio" id="radio-1" name="rad">
                <label class="c-label--option c-label--radio" for="radio-1">Radio input</label>
            </p>
        </div>
        <div>
            <p>
                <input class="c-input--option c-input--checkbox" id="checkbox-1" id="checkbox-1"  type="checkbox">
                <label class="c-label--option c-label--checkbox" for="checkbox-1">Checkbox input</label>
            </p>
        </div>
        <div>
            <p>
                <label>File input</label>
                <input type="file" c-input-text>
            </p>
        </div>
        <div>
            <p>
                <label>Textarea</label>
                <textarea cols="30" rows="5" class="c-input-text">Textarea text</textarea>
            </p>
        </div>
        <div>
            <p>
                <label>Color input</label>
                <input type="color" value="#000000">
            </p>
        </div>
        <div>
            <p>
                <label>Number input</label>
                <input type="number" value="5" min="0" max="10" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Range input</label>
                <input type="range" id="range" value="0" min="0" max="100">
                <output for="range">
                    0
                </output>
                <script>
                    if (document.querySelector) {
                        document.querySelector('#range').onchange = function(e) {
                            e.target.nextElementSibling.innerText = e.target.value;
                        }
                    }
                </script>
            </p>
        </div>
        <div>
            <p>
                <label>Date input</label>
                <input type="date" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Month input</label>
                <input type="month" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Week input</label>
                <input type="week" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Time input</label>
                <input type="time" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Datetime input</label>
                <input type="datetime" class="c-input-text">
            </p>
        </div>
        <div>
            <p>
                <label>Datetime-local input</label>
                <input type="datetime-local" class="c-input-text">
            </p>
        </div>
    </fieldset>
</form>
