<div class="c-alert-box">
    <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <a href="#" class="close">&times;</a>
</div>

<div class="c-alert-box c-alert-box--error">
    <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <a href="#" class="close">&times;</a>
</div>

<div class="c-alert-box c-alert-box--success">
    <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <a href="#" class="close">&times;</a>
</div>

<div class="c-alert-box c-alert-box--notice">
    <p><strong>Cras sed ante</strong>. Phasellus in massa. Curabitur dolor eros, <a href="#">gravida et</a>, hendrerit ac, cursus non, massa. Aliquam lorem.</p>
    <a href="#" class="close">&times;</a>
</div>
