<article class="o-media">
    <div class="o-media__img">
        <img src="http://placehold.it/200" alt="Placeholder" />
    </div>
    <div class="o-media__body">
        <p>The media object is an image to the left, with descriptive content to the right. The content area on the right can contain any other objects. In this case, it contains text, but we could put lists, grids, or even other media objects inside.</p>
    </div>
</article>

<article class="o-media">
    <div class="o-media__img o-media__img--reverse">
        <img src="http://placehold.it/200" alt="Placeholder" />
    </div>
    <div class="o-media__body">
        <p>The media object is an image to the left, with descriptive content to the right. The content area on the right can contain any other objects. In this case, it contains text, but we could put lists, grids, or even other media objects inside.</p>
    </div>
</article>
