//
// Frame
//

.holder {
	background-color: $delta-ui-color;
	border-bottom: 1px solid $beta-ui-color-light;
	@include padding-tb(1,0);

	@include mq($bp4) {
		@include padding-tb(2,1);
	}

}

//
// Header
//

.header {
	@include box-(12,1,1);
}

	.header .inner {
		@extend %clearfix;
		border-bottom: 1px solid $beta-ui-color-light;
	}

.header-holder {
	padding: 0;
	border: none;

	@include mq($bp4) {
		padding: 0;
	}

}

.logo {
	float: left;
	font-family: $alpha-font-family;
	font-weight: $alpha-font-weight;
	@include text-dimensions($alpha-font-size,1,0,1,1);
}

.main-nav {
	float: left;
	width: 100%;

	ul {
		@extend %clearfix;
		font-family: $alpha-font-family;
		border-top: 1px solid $beta-ui-color-light;
		@include list-nav;
		@include margin-bottom(.75);
		@include padding-top(.75);

		@include mq($bp3) {
			border-top: none;
			padding-top: 0;
			margin-bottom: 0;
		}

	}

	a {
		display: block;
		color: lighten($alpha-text-color,50);
		text-decoration: none;
		font-weight: $beta-font-weight;
		@include text-dimensions($alpha-font-size,1,0,.25,.25);

		@include mq($bp3) {
			@include padding-tb(1,1);
		}


	}

	a:hover,
	.selected a {
		color: darken($alpha-ui-color,0);
	}
}

.mobile-nav .main-nav {
	display: none;
}

.main-nav,
.mobile-nav .main-nav {
	@include mq($bp3) {
		display: block !important;
		width: auto;
		float: right;

		ul {
			@include horizontal-nav();
		}

		li {
			@include px-margin-lr(2,0);
		}
	}
}

.main-nav-trigger {
	display: block;
	float: right;
	width: 2.1em;
	height: 2.1em;
	text-indent: -9999px;
	@include text-dimensions($alpha-font-size,1,1);
	@include svg-bg("../img/icon-menu", ".png", $alpha-text-color, 50%, no-repeat);

	@include mq($bp3) {
		display: none;
	}
}

.svg .trigger-active,
.trigger-active {
	background-color: $alpha-link-color;
}

//
// Doormat
//

.doormat-col-4 {
	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(4,1,1);
	}
}

//
// Footer
//

.footer-holder {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color,70);

	p {
		padding: 0;
	}
}

	.footer {
		@include box-(12,1,1);
	}
