//
// module: grid
//

.v-grid .row > div[class*="grid"] {
	background: darken($gamma-ui-color, 10);
	@include margin-tb(.5,.5);
	.inner {
		background: $gamma-ui-color;
		text-align: center;
		@include padding-tb (.5,.5);
	}

}

.v-grid .row .row > div[class*="grid"] {
	margin: 0;
}
