//
// module: home
//

.intro-holder {
	@include padding-top(2);

	@include mq($bp3) {
		@include padding-top(2);
	}
}

.intro {
	@include box-(12,1,1);

	h1 {
		font-weight: 300;
	}

	p {
		color: $beta-text-color;
		text-transform: uppercase;
		font-weight: 700;
	}

}

.main-col-6 {
	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(6,1,1);
	}
}
