//
// module: home
//

.intro-holder {

	@include mq($bp4) {
		@include padding-tb(4,3);
	}

	@include mq($bp5) {
		@include padding-tb(7,6);
	}

}

.intro {
	@include box-(12,1,1);

	h1 {
		font-weight: 300;
	}

	p {
		color: $beta-text-color;
		text-transform: uppercase;
		font-weight: 700;
	}

}

.main-col-6 {
	@include box-(12,1,1);

	@include mq($bp4) {
		@include box-(6,1,1);
	}
}
