/*
	chopstick grid
*/

/// calculations

$contextGridMargin: $contextGridGutter / 2;
$contextGridWidth: ($contextGridGutter + $contextGridColumn) * $contextGridColumns - $contextGridGutter;
$contextGridSubTotalWidth: $contextGridWidth + $contextGridGutter;
$contextGridTotalWidth: $contextGridWidth + ($contextGridGutter * 2);

// in em's based on the font-size

$contextGridEmWidth: $contextGridWidth / $basefontsize;
$contextGridSubTotalEmWidth: $contextGridSubTotalWidth / $basefontsize;

// Responsive design formula in action

$fluidGridColumn: $contextGridColumn / $contextGridSubTotalWidth * 100 ;
$fluidGridGutter: ($contextGridGutter / $contextGridSubTotalWidth) * 100 ;
$fluidGridMargin: (($contextGridGutter / 2) / $contextGridSubTotalWidth) * 100 ;

// the last breakpoint is colculated here based on the total with of the grid
$bp5: #{$contextGridSubTotalWidth / $basefontsize}em;

/// mixins

// horizontal padding based on the context grid gutter
// use: @include px-padding-lr(#left, #right);

@mixin px-padding-lr($left: 1, $right: 1) {
	padding-left: $contextGridMargin * $left * 1px;
	padding-right: $contextGridMargin * $right * 1px;
}

// horizontal margin based on the context grid gutter
// use: @include px-margin-lr(#left, #right);

@mixin px-margin-lr($left: 1, $right: 1) {
	margin-left: $contextGridMargin * $left * 1px;
	margin-right: $contextGridMargin * $right * 1px;
}

// horizontal percentual margin
// use: @include perc-margin-lr(#left, #right);

@mixin perc-margin-lr($left: 1, $right: 1) {
	margin-left: $fluidGridMargin * $left * 1%;
	margin-right: $fluidGridMargin * $right * 1%;
}

// fully percentual collumns and gutters
// use: @include perc-col-(#amount, #gutterleft, #gutterright)

@mixin perc-col-($amount, $pl, $pr) {
	width: ($fluidGridColumn * $amount) + ($fluidGridMargin * (($amount * 2) - 2)) + 0%;
	@include perc-margin-lr($pl, $pr);
	@include float-left;
}

// border-box box sizing
// use: @include box-(#amount, #gutterleft, #gutterright);

@mixin box-($amount, $left, $right) {
	width: ($fluidGridColumn * $amount) + ($fluidGridGutter * $amount) + 0%;
	float: left;
	@include border-box;
	@include px-padding-lr($left, $right);
}

// last-col mixin to re-align the right edge
// use: @extend .last-col;

@mixin last-col() {
	float: right;
}