/*
	Chopstick patterns
*/

/// Extends

// clearfix
// use: @extend %clearfix;

%clearfix {
	*zoom : 1;

	&:before,
	&:after {
		display: table;
		content : "";
	}

	&:after {
		clear : both;
	}
}

/// Mixins

// horizontal responsive navigation
// use @include list-nav() / horizontal-nav;

@mixin list-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin horizontal-nav {
	li, a {
		display: block;
		float: left;
		zoom: 1;
	}
}

// UI mixins
// UI mixins
@mixin box($color, $top: 1.5, $right: 1, $bottom: 1.5, $left: 1){
	background-color: $color;
	padding-top: $baselineheight * 1em * $top;
	padding-bottom: $baselineheight * 1em * $bottom;
	padding-left: $contextGridMargin * $left * 1px;
	padding-right: $contextGridMargin * $right * 1px;
}


// baseline mixins

// vertical padding based on the base line-height
// use: @include padding-tb(#top, #bottom);

@mixin padding-tb($top: 1, $bottom: 0) {
	padding-top: $baselineheight * 1em * $top;
	padding-bottom: $baselineheight * 1em * $bottom;
}

// padding-bottom based on the base line-height
// use: @include padding-bottom(#bottom),

@mixin padding-bottom($bottom: 1) {
	padding-bottom: $baselineheight * 1em * $bottom;
}

// padding-top based on the base line-height
// @include padding-top(#top);

@mixin padding-top($top: 1) {
	padding-top: $baselineheight * 1em * $top;
}

// vertical margin based on the base line-height
// use: @include margin-tb(#top, #bottom)

@mixin margin-tb($top: 1, $bottom: 0) {
	margin-top: $baselineheight * 1em * $top;
	margin-bottom: $baselineheight * 1em * $bottom;
}

// margin-bottom based on the base line-height
// use: @include margin-bottom(#bottom);

@mixin margin-bottom($bottom: 1) {
	margin-bottom: $baselineheight * 1em * $bottom;
}

// border-box polyfill helper
// use: @include border-box;

@mixin border-box {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/js/boxsizing.htc);
}

// progressive svg backgrounds with png fallback
// requires modernizr class .svg
// use: @include svb-bg("path/file", ".extension", #fff, 0 50%, no-repeat);

@mixin mdrn-svg { .svg & { @content } }

@mixin svg-bg($filename, $extension: '.png', $bg-color: transparent, $position: 0 0, $repeat: no-repeat) {
    background: $bg-color url($filename + $extension) $position $repeat;
    @include mdrn-svg { background: $bg-color url($filename + '.svg') $position $repeat; }
}

