/*
	Base
	---
	Default markup for the most common HTML elements, based on the settings file.
*/

*, *:before, *:after {
	@include border-box;
}

html {
	background-color: $alpha-text-color;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	font: $alpha-font-weight $alpha-font-size/16*100%/#{$alpha-line-height} $alpha-font-family ;
}

body {
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	text-rendering : optimizelegibility;
	color: $alpha-text-color;
}

::-moz-selection {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color, 65%);
	text-shadow: none;
}

::selection {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color, 65%);
	text-shadow: none;
}

hr {
	border: 1px solid lighten($alpha-text-color,60);
	border-width: 1px 0 0;
	clear: both;
	margin: 0 0 $alpha-line-height * 1em;
}

/*
	Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $beta-font-family;
	font-weight: $alpha-font-weight;
	text-rendering: optimizelegibility;
}

h1 {
	@include baseline-dimensions(3,3,3);
}

h2 {
	@include baseline-dimensions(2,3,3);
}

h3 {
	@include baseline-dimensions(1,3,1);
}

h4,
h5,
h6 {
	font-weight: $beta-font-weight;
	@include baseline-dimensions(0,3,1);
}

p,
ol,
ul,
dl,
table,
address,
pre {
	@include baseline-dimensions(0,1,2,1);
}

ul,
ol,
blockquote {
	padding-left: 1em;
}

blockquote {
	font-style: italic;
}

table {
	text-align: left;
	width: 100%;
	font-family: $alpha-font-family;
	border-spacing: 0;
	border-collapse: collapse;
	@include text-dimensions(14,1,2);
}

caption {
	font-family: $alpha-font-family;
	text-align: left;
	border-bottom: 1px solid lighten($alpha-text-color,50);
	font-weight: $beta-font-weight;
	text-align: center;
	@include padding-bottom(.5);
	@include margin-bottom(.5);
}

td,
th {
	padding: .25em 1em .25em 0;
	border-bottom: 1px solid lighten($gamma-ui-color, 10);
}

img {
	max-width: 100%;
}

/*
 	Links
*/

a {
	text-decoration: none;
	color: $alpha-link-color;
	transition: color .22s ease-in-out;

	&:visited {
		color: $alpha-link-colorvisited;
	}

	&:hover {
		text-decoration: underline;
		color: $alpha-link-colorhover;
	}

	&:focus {
		outline: thin dotted;
		color: $alpha-link-colorfocus;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/*
	Fix a > img problem
*/

img {
	vertical-align: top;
	border: 0;
}

/*
	Forms
*/

form {
	padding: 0 0 em(14);
}

legend,
label {
	display: block;
	width: 100%;
	cursor: pointer;
	@include baseline-dimensions(0,3,1);
}

// Input elements

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
	background-color: $delta-ui-color;
	border-radius: $radius;
	border: $border solid $gamma-ui-color;
	color: lighten($alpha-text-color, 30);
	font-family: $alpha-font-family;
	margin: 0;
	width: 100%;
	@include border-box;
	@include input-s;

	&:focus {
		color: $alpha-text-color;
		outline-color: $gamma-ui-color;
		border-color: darken($gamma-ui-color, 20);
	}
}

textarea {
	height: auto;
}

// Placeholders

::-webkit-input-placeholder {
	font-family: $beta-font-family;
	font-style: italic;
}

::-moz-placeholder {
	font-family: $beta-font-family;
	font-style: italic;
}

:-ms-input-placeholder {
	font-family: $beta-font-family;
	font-style: italic;
}

// Buttons

input[type="submit"],
button {
	@extend %btn;
	@include btn-s;
	@include btn-color;
}

@media (min-width: $bp3) {

	input[type="input"],
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="url"],
	input[type="number"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[name="field_country_code"],
	input[name="field_city_code"],
	input[name="field_phone_int"],
	select[multiple],
	textarea {
		@include input-m;
	}

	textarea {
		height: auto;
	}

	input[type="submit"],
	button {
		@include btn-m;
		@include btn-inlineblock;
	}

}

@media (min-width: $bp5) {

	input[type="input"],
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="url"],
	input[type="number"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[name="field_country_code"],
	input[name="field_city_code"],
	input[name="field_phone_int"],
	select[multiple],
	textarea {
		@include input-l;
	}

	textarea {
		height: auto;
	}

	input[type="submit"],
	button {
		@include btn-l;
	}

}

/*
	Responsive media embedding, like an iframe
*/

.media_embed {
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	position: relative;
	overflow: hidden;
	@include margin-bottom(1.5);

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/*
	Upgrade message for old browsers (.lt-ie7)
*/

.chromeframe {
	font-family: $beta-font-family;
	font-weight: $beta-font-weight;
	text-align: center;
	color: $delta-ui-color;
	background-color: $alpha-text-color;
	margin: 0;
	padding: 1em;
}

/* Media Queries
------------------------------------------ */

@media (min-width: $bp5) {

	html {
		font-size: $alpha-font-size/16*112.5%;
	}

}
