/*
	Base
	---
	Default markup for the most common HTML elements, based on the settings file.
*/

*, *:before, *:after {
	@include border-box;
}

html {
	background-color: $alpha-text-color;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	font: $alpha-font-weight $alpha-font-size/16*100%/#{$alpha-line-height} $alpha-font-family ;
}

body {
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	text-rendering : optimizelegibility;
	color: $alpha-text-color;
}

::-moz-selection {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color, 65%);
	text-shadow: none;
}

::selection {
	background-color: $alpha-text-color;
	color: lighten($alpha-text-color, 65%);
	text-shadow: none;
}

hr {
	border: 1px solid lighten($alpha-text-color,60);
	border-width: 1px 0 0;
	clear: both;
	margin: 0 0 $alpha-line-height * 1em;
}

/*
	Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $beta-font-family;
	font-weight: $alpha-font-weight;
	text-rendering: optimizelegibility;
}

h1 {
	@include text-dimensions(ms(3),3,.5,1);
}

h2 {
	@include text-dimensions(ms(2),2,.5,1);
}

h3 {
	@include text-dimensions(ms(1),1,.5,.5);
}

h4 {
	font-weight: $beta-font-weight;
	@include text-dimensions(ms(0),1,.5,.5);
}

h5 {
	font-weight: $beta-font-weight;
	@include text-dimensions(ms(0),1,.5,.5);
}

h6 {
	font-weight: $beta-font-weight;
	@include text-dimensions(ms(0),1,.5,.5);
}

p,
ol,
ul,
dl,
table,
address,
label,
pre {
	line-height: #{$alpha-line-height}em;
	padding-bottom: #{$alpha-line-height}em;
}

ul,
ol,
blockquote {
	padding-left: 1em;
}

blockquote {
	font-style: italic;
}

table {
	text-align: left;
	width: 100%;
	font-family: $alpha-font-family;
	border-spacing: 0;
	border-collapse: collapse;
	@include text-dimensions(14,1,2);
}

caption {
	font-family: $alpha-font-family;
	text-align: left;
	border-bottom: 1px solid lighten($alpha-text-color,50);
	font-weight: $beta-font-weight;
	text-align: center;
	@include padding-bottom(.5);
	@include margin-bottom(.5);
}

td,
th {
	padding: .25em 1em .25em 0;
	border-bottom: 1px solid lighten($gamma-ui-color, 10);
}

img {
	max-width: 100%;
}

/*
 	Links
*/

a {
	text-decoration: none;
	color: $alpha-link-color;

	&:visited {
		color: $alpha-link-colorvisited;
	}

	&:hover {
		text-decoration: underline;
		color: $alpha-link-colorhover;
	}

	&:focus {
		outline: thin dotted;
		color: $alpha-link-colorfocus;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/*
	Forms
*/

// Input elements

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	@extend %rounded;
	padding: .25em .5em;
	border: 1px solid $gamma-ui-color;
	font-family: $alpha-font-family;
	color: lighten($alpha-text-color, 30);
	background-color: $delta-ui-color;
	-webkit-appearance: none;
	width: 100%;
	@include input-dimensions($alpha-font-size,1,0,0);

	&:focus {
		color: $alpha-text-color;
		outline-color: $gamma-ui-color;
		border-color: darken($gamma-ui-color, 20);
	}
}

textarea {
	height: auto;
}

label {
	display: block;
	width: 100%;
	cursor: pointer;
	@include text-dimensions($alpha-font-size,1,0)
}

// Buttons

input[type="submit"],
button {
	@extend %button;
	@include button-small;
	@include button-color($alpha-ui-color, darken($alpha-ui-color,10), #fff, false, false, .5, .5, 0);
}

@media (min-width: $bp3) {

	input[type="submit"],
	button {
		@include button-big;
		@include button-inlineblock;
	}

}

/*
	Responsive media embedding, like an iframe
*/

.media_embed {
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	position: relative;
	overflow: hidden;
	@include margin-bottom(1.5);

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/*
	Upgrade message for old browsers (.lt-ie7)
*/

.chromeframe {
	font-family: $beta-font-family;
	font-weight: $beta-font-weight;
	text-align: center;
	color: $delta-ui-color;
	background-color: $alpha-text-color;
	margin: 0;
	padding: 1em;
}

/* Media Queries
------------------------------------------ */

@media (min-width: $bp2) {

}

@media (min-width: $bp3) {

	html {
		font-size: $alpha-font-size/16*112.5%;
	}

}

@media (min-width: $bp5) {

	html {
		font-size: $alpha-font-size/16*125%;
	}

}
