/*
	Base
	---
	Default markup for the most common HTML elements, based on the settings file.
*/

*, *:before, *:after {
	@include border-box;
}

html {
	background-color: $darkcolor;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	font: $basefontweight $basefontsize/16*100%/#{$baselineheight} $basefontserif ;
}

body {
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	text-rendering : optimizelegibility;
	color: $darkcolor;
}

::-moz-selection {
	background-color: $darkcolor;
	color: lighten($darkcolor, 65%);
	text-shadow: none;
}

::selection {
	background-color: $darkcolor;
	color: lighten($darkcolor, 65%);
	text-shadow: none;
}

hr {
	border: 1px solid lighten($darkcolor,60);
	border-width: 1px 0 0;
	clear: both;
	margin: 0 0 $baselineheight * 1em;
}

/*
	Typography
*/

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: $baseheadingfont;
	font-weight: $baseheadingfontweight;
	text-rendering: optimizelegibility;
}

h1,
.h1 {
	@include font-dimensions(38,1.75,1);
}

h2,
.h2 {
	@include font-dimensions(24,1,1);
}

h3,
.h3 {
	@include font-dimensions(20,1,1);
}

h4,
.h4 {
	@include font-dimensions(18,1,1);
}

h5,
.h5 {
	@include font-dimensions(18,1,.5);
}

p,
ol,
ul,
dl,
table,
address,
pre {
	line-height: #{$baselineheight}em;
	margin-bottom: #{$baselineheight}em;
}

ul,
ol,
blockquote {
	margin-left: 1em;
}

table {
	text-align: left;
	width: 100%;
}

caption {
	font-family: $basefont;
	text-align: left;
	color: lighten($darkcolor,30);
	border-bottom: 1px solid lighten($darkcolor,60);
	@include padding-bottom(.5);
	@include margin-bottom(.5);
}

td,
th {
	padding: .25em 1em .25em 0;
}

img {
	max-width: 100%;
}

/*
 	Links
*/

a {
	text-decoration: none;
	color: $linkcolor;

	&:visited {
		color: $linkcolorvisited;
	}

	&:hover {
		text-decoration: underline;
		color: $linkcolorhover;
	}

	&:focus {
		outline: thin dotted;
		color: $linkcolorfocus;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/*
	Forms
*/

// Input elements

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: .25em .5em;
	border: 1px solid $mediumcolor;
	font-family: $basefont;
	@include input-dimensions(16,1,0,0);
	color: lighten($darkcolor,30);
	background-color: $whitecolor;
	-webkit-appearance: none;


	&:focus {
		color: $darkcolor;
		outline-color: $primarycolor;
		border-color: darken($mediumcolor,20);
	}

}

// Buttons

input[type="submit"],
button {
	@include button-small;
	@include button-color($primarycolor, darken($primarycolor,10), white, false, true, .5, .5, 0);
}

@media only screen and (min-width: $bp3) {

	input[type="submit"],
	button {
		@include button-big;
		@include button-inlineblock;
	}

}

/*
	Responsive media embedding, like an iframe
*/

.media_embed {
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	@include margin-bottom(1.5);
	position: relative;
	overflow: hidden;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/*
	Upgrade message for old browsers (.lt-ie7)
*/

.chromeframe {
	font-family: $baseheadingfont;
	font-weight: $baseheadingfontweight;
	text-align: center;
	color: $whitecolor;
	background-color: $darkcolor;
	margin: 0;
	padding: 1em;
}

/* Media Queries
------------------------------------------ */

@media only screen and (min-width: $bp2) {

	h1 {
		@include font-dimensions(48,2,1);
	}

}

@media only screen and (min-width: $bp3) {

	html {
		font-size: $basefontsize/16*112.5%;
	}

}

@media only screen and (min-width: $bp5) {

	html {
		font-size: $basefontsize/16*125%;
	}

}
