/*
	Forms
	---
	Object-oriented classes for form-like elements.
*/

input.inputText,
input.inputPassword,
input.inputSearch,
input.inputDate {
	padding: 0 .5em;
	border: 1px solid $gamma-ui-color;
	font-family: $alpha-font-family;
	color: lighten($alpha-text-color,30);
	background-color: $delta-ui-color;
	-webkit-appearance: none;
	@include input-dimensions(16,1.5,0,0);


	&:focus {
		color: $alpha-text-color;
		outline-color: $alpha-ui-color;
		border-color: darken($gamma-ui-color,20);
	}

}

// Buttons

.button,
a.button {
	@extend %button;
	@include button-small;
	@include button-color($alpha-ui-color, darken($alpha-ui-color,10), $delta-ui-color, false, false, .5, .5, 0);
}

.button-secondary,
input.button-secondary,
a.button-secondary {
	@extend %button;
	@include button-small;
	@include button-color($alpha-text-color, darken($alpha-text-color,10), $delta-ui-color, false, false, .9, .25, .5);
}

// Messages

.error-label input,
.error-label textarea {
	border-color: $alpha-ui-color;
}

.error-text {
	color: $alpha-ui-color;
}

@media (min-width: $bp3) {

	.button,
	a.button,
	.button-secondary,
	input.button-secondary,
	a.button-secondary {
		@include button-big;
		@include button-inlineblock;
	}

}
