/*
	Chopstick forms
	That's a tuff one.
*/

input.inputText,
input.inputPassword,
input.inputSearch,
input.inputDate {
	padding: .25em .5em;
	border: 1px solid $mediumcolor;
	font-family: $basefont;
	@include input-dimensions(16,1,0,0);
	color: lighten($darkcolor,30);
	background-color: $whitecolor;
	-webkit-appearance: none;


	&:focus {
		color: $darkcolor;
		outline-color: $primarycolor;
		border-color: darken($mediumcolor,20);
	}

}

// buttons

.button,
a.button {
	@include button-small;
	@include button-color($primarycolor, darken($primarycolor,10), white, false, true, .5, .5, 0);
}

.secondaryButton {
	@include button-small;
	@include button-color($darkcolor, darken($darkcolor,10), white, true, true, .9, .25, .5);
}

@media only screen and (min-width: $bp3) {

	.button,
	a.button,
	.secondaryButton {
		@include button-big;
		@include button-inlineblock;
	}

}
