/*
	User Interface Elements
*/

%button {
	@extend %rounded;
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	border: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: $alpha-font-family;
	font-weight: $beta-font-weight;
	cursor: pointer;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;

	&:hover,
	&:visited {
		text-decoration: none;
	}

}

@mixin button-big {
	@include em-padding-lr(1,1);
	@include input-dimensions($alpha-font-size,2,0);
}

@mixin button-small {
	@include em-padding-lr(.75,.75);
	@include input-dimensions(($alpha-font-size - 2),1.5,0);
}

@mixin button-tiny {
	@include em-padding-lr(.5,.5);
	@include input-dimensions(($alpha-font-size - 4),1.25,0);
}

@mixin button-inlineblock {
	display: inline-block;
	width: auto;
}

@mixin button-color($alpha-ui-color, $beta-ui-color, $textcolor, $gradient: false, $border: false, $text-shadow: 0, $inset-shadow: 0, $box-shadow: 0) {
	color: $textcolor;
	background-color: $beta-ui-color;

	// box-shadow: 0 1px 0 rgba(255,255,255,.2) inset, 0 1px 1px rgba(black,.20);

	@if $border {
		border: 1px solid darken($beta-ui-color,10);
		border-top-color: darken($beta-ui-color,5);
		border-bottom-color: darken($beta-ui-color,15);
	}

	@if $inset-shadow > 0 {
		box-shadow: 0 1px 0 rgba(255,255,255,$inset-shadow) inset;
	}

	@if $box-shadow > 0 {
		box-shadow: 0 1px 1px rgba(black,$box-shadow);
	}

	@if $inset-shadow > 0, $box-shadow > 0 {
		box-shadow: 0 1px 0 rgba(255,255,255,$inset-shadow) inset, 0 1px 1px rgba(black,$box-shadow);
	}

	@if $gradient {
		background: linear-gradient($alpha-ui-color, $beta-ui-color);
	}

	@if $text-shadow > 0 {
		text-shadow: 1px 1px 0 rgba(0,0,0,$text-shadow);
	}

	&:hover {
		color: $textcolor;
		background-color: lighten($alpha-ui-color,0);

		@if $gradient {
			background: (linear-gradient(lighten($alpha-ui-color,10), lighten($beta-ui-color,10)));
		}

	}

	&:active,
	&:focus {
		background-color: darken($alpha-ui-color,5);

		@if $gradient {
			background: linear-gradient($alpha-ui-color, $beta-ui-color);
		}
	}

	&:visited {
		color: $textcolor;
	}
}

/*
	Pre- & postfix mixins
*/

@mixin postfix {
	border-radius: 0 $radius $radius 0;
	border-left: 0;
}

@mixin prefix {
	border-radius: $radius 0 0 $radius;
	border-right: 0;
}

/*
	Alerts mixin
*/

%alert {
	border-width: 1px;
	border-style: solid;
	padding: #{$alpha-line-height}em;
	padding-bottom: 0;
	margin-bottom: #{$alpha-line-height}em;
	position: relative;

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	.close {
		position: absolute;
		top: #{$alpha-line-height/2}em;
		right: #{$alpha-line-height/2}em;
		display: block;
		line-height: 1;
	}
}

@mixin alert {
	@extend %alert;
	border-color: darken($gamma-ui-color,20%);
	color: $delta-ui-color;
	background-color: $gamma-ui-color;

	a {
		color: $delta-ui-color;
	}
}

@mixin alert-error {
	@extend %alert;
	border-color: #8b0800;
	color: #fae7e6;
	background-color: #d00c00;

	a {
		color: #fae7e6;
	}
}

@mixin alert-success {
	@extend %alert;
	border-color: #4c721f;
	color: #f1f7eb;
	background-color: #72aa2e;

	a {
		color: #f1f7eb;
	}
}

@mixin alert-notice {
	@extend %alert;
	border-color: #e6901e;
	color: #332d1c;
	background-color: #ffe38a;

	a {
		color: #332d1c;
	}
}

/*
	Pagination mixin
*/

%pagination {
	width: 100%;
	overflow: hidden;

	ul {
		@include horizontal-nav;
		margin: #{$alpha-line-height}em 0;
	}
}

@mixin pagination {
	@extend %pagination;
}

@mixin pagination-centered {
	@extend %pagination;

	.inner {
		float: left;
		position: relative;
		left: 50%;
	}

		ul {
			overflow: hidden;
			position: relative;
			left: -50%;
		}
}
